.alx-posts {
  a {
    @include transition(all .2s ease);
  }

  img {
    display: block;
    float: none;
    height: auto;
    margin: auto;
    max-height: 150px;
    resize: both;
    width: auto;
    // width: 100%;
  }

  li {
    border-bottom: 1px solid $mercury;
    font-weight: 400;
    line-height: 1em;
    overflow: hidden;
    padding: 10px 0;
    
    &:hover {
      .post-item-thumbnail {
        @include opacity(.75);
      }

      .thumb-icon {
        background: $white-fallback;
        color: $cod-gray;
      }
    }

    &:first-child {
      .post-item-title {
        font-size: 30px;
      }

      .post-item-thumbnail {
        display: block;
      }
    }
  }

  .post-item-category {
    color: $silver-chalice;
    font-size: 13px;
    text-transform: uppercase;
  
    a {
      &:hover {
        color: $tundora;
      }
    }
  }

  .post-item-date {
    color: $silver-chalice;
    font-size: 13px;
    text-transform: uppercase;
  }

  .post-item-thumbnail {
    @include transition(all 1s ease);
    display: none;
    margin-bottom: 10px;
    position: relative;
  }

  .post-item-title {
    font-size: 16px;
    line-height: 1.5em;
    margin: 2px 0;
    word-wrap: break-word;
  
    a {
      color: $tundora;
    }
  }
}

.alx-tab {
  &.thumbs-enabled {
    li {
      padding-left: 94px;

      &:first-child {
        padding-left: 204px;
      }
    }
  }

  &.avatars-enabled {
    li {
      padding-left: 62px;
    }
  }

  a {
    @include transition(all .2s ease);
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  li {
    border-bottom: 1px solid $mercury;
    font-weight: 400;
    line-height: 1.4em;
    overflow: hidden;
    padding: 10px 0;
    
    &:first-child {
      font-size: 25px;
      
      .tab-item-thumbnail {
        height: 200px;
        margin-left: -200px;
        margin-right: 10px;
        width: 200px;
      }

      .tab-item-inner {
        &.group {
          margin-left: 10px;
        }
      }
    }

    &:hover {
      .tab-item-avatar {
        @include opacity(.75);
      }
    
      .tab-item-thumbnail {
        @include opacity(.75);
      }
    
      .thumb-icon {
        background: $white-fallback;
        color: $cod-gray;
      }
    }
  }

  .tab-item-avatar {
    @include transition(all 1s ease);
    float: left;
    margin-left: -62px;
    width: 48px;
  }
  
  .tab-item-category {
    color: $silver-chalice;
    font-size: 13px;
    text-transform: uppercase;
  
    a {
      &:hover {
        color: $tundora;
      }
    }
  }
  
  .tab-item-comment {
    margin: 2px 0;
    word-wrap: break-word;
  
    a {
      color: $tundora;
    }
  }
  
  .tab-item-date {
    color: $silver-chalice;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .tab-item-name {
    color: $silver-chalice;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .tab-item-thumbnail {
    @include transition(all 1s ease);
    float: left;
    margin-left: -90px;
    position: relative;
    width: 80px;
  }

  .tab-item-title {
    margin: 2px 0;
    word-wrap: break-word;
  
    a {
      color: $tundora;
    }
  }
  
  .thumb-icon {
    &.small {
      bottom: 8px;
      left: 8px;
    }
  }
}

.alx-tabs-nav {
  border-bottom: 3px solid $alto;
  margin-bottom: 10px;
  text-align: center;

  &.tab-count-1 {
    li {
      width: 100%;
    }
  }
  
  &.tab-count-2 {
    li {
      width: 50%;
    }
  }

  &.tab-count-3 {
    li {
      width: 33.33%;
    }
  }

  &.tab-count-4 {
    li {
      width: 25%;
    }
  }

  li {
    display: block;
    float: left;

    &.active {
      a {
        // @include background-image(linear-gradient(to bottom, rgba(255,255,255,0.0) 0%, $white-fallback 100%) 0 0 rgba(0,0,0,0.0));
        color: $tundora;
      }
    }
    
    a {
      font-size: 18px;
      display: block;
      padding: 8px 0;
      margin-bottom: -3px;
      border-bottom: 3px solid transparent;
    
      &:hover {
        border-bottom-color: $silver;
      }
    
      span {
        display: none;
      }
    }
  }
}

.widget_alx_video {
  h3 {
    margin-bottom: 14px;
  }
}

// .alx-posts li { display:flex; }
// .alx-posts li .post-item-thumbnail { display:flex; flex:1; margin: 2px 5px 2px; flex-flow:column; justify-content:center;}
// .alx-posts li .post-item-inner { display:flex; flex-flow:column; flex:3; padding:0 5px;}
