.author-bio {
  border: 2px solid $gallery-4;
  color: $gray;
  margin-bottom: 40px;
  padding: 15px 15px 10px 95px;
  position: relative;
  
  &:before {
    @include inline-block();
    border-bottom: 8px solid $gallery-4;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    left: 13px;
    position: absolute;
    top: -8px;
  }

  &:after {
    @include inline-block();
    border-bottom: 6px solid $white-fallback;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    left: 15px;
    position: absolute;
    top: -5px;
  }

  p {
    margin-bottom: 8px;
  }

  .bio-avatar {
    float: left;
    height: auto;
    margin: 0 0 8px -80px;
    position: relative;
    width: 64px;

    &:after {
      @include border-radius(3px);
      background: $boston-blue;
      bottom: 0;
      color: $white-fallback;
      content: '\f040';
      font-family: $fa;
      font-size: 12px;
      font-style: normal;
      line-height: 12px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 12px;
    }

    img {
      @include border-radius(3px);
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .bio-name {
    color: $tundora;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .bio-desc {
    color: $gray;
    font-size: 15px;
    line-height: 1.5em;
    @media only screen and (max-width: 719px) {
      font-size: 13px;
    }
  }
}
