.child-menu {
	zoom: 1;
	position: relative;
	padding: 0 0 20px;
	a {
		color: $boulder;
		font-weight: 600;
		display: block;
		padding: 0 44px;
		&:hover {
			color: $boston-blue;
		}
	}
	.current_page_item {
		> a {
			background: $white-fallback;
			color: $boston-blue;
		}
	}
	> li {
		display: none;
		ul {
			li {
				&.current_page_item {
					ul {
						display: block;
					}
				}
				&.current_page_parent {
					ul {
						display: block;
					}
				}
				&.current_page_ancestor {
					ul {
						display: block;
					}
				}
			}
			ul {
				background: $gallery-lighter;
				border-bottom: 1px solid $alto;
				border-top: 3px solid $gallery-darker;
				border-left: 1px solid $alto;
				padding: 6px 0;
				a {
					font-size: 15px;
					font-weight: 300;
					padding-top: 7px;
					padding-bottom: 7px;
					margin-bottom: 1px;
					&:hover {
						@include box-shadow(0 1px 0 rgba(0,0,0, .04));
						background: $mercury;
					}
				}
				li {
					&.current_page_item {
						> a {
							@include box-shadow(0 1px 0 rgba(0,0,0, .04));
							background: $white-fallback;
						}
					}
				}
			}
		}
		> a {
			font-size: 20px;
			display: block;
			padding: 20px 30px;
		}
		> ul {
			background: $mercury;
			border-top: 1px solid $alto;
			border-bottom: 1px solid $alto;
			padding: 10px 0 10px 10px;
			> li {
				> a{
					@include box-shadow(inset 0 1px 0 $alabaster);
					font-size: 15px;
					background: $gallery-lighter;
					border-bottom: 1px solid $alto;
					border-left: 1px solid $alto;
					padding: 11px 20px;
					&:before {
						font-family: $fa;
						content: '\f055';
						font-weight: normal;
						font-size: 18px;
						margin-right: 8px;
					}
				}
			}
		}
		&.current_page_item {
			display: block;
			> ul {
				ul {
					display: none;
				}
			}
		}
		&.current_page_parent {
			display: block;
			> ul {
				ul {
					display: none;
				}
			}
		}
		&.current_page_ancestor {
			display: block;
			> ul {
				ul {
					display: none;
				}
			}
		}
	}
}