.icon-sidebar-toggle {
	&:before {
		font-family: $fa;
	}
}

.col-2cr {
	&.s1-expand {
		.s1 {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				left: 0;
			}
		}
	}
	.content {
		float: right;
	}
	.main-inner {
		background: $s-left repeat-y left 0;
		padding-left: 340px;
		@media only screen and (max-width: 719px) {
			background-position: -300px 0;
			padding-left: 40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background-position: -290px 0;
			padding-left: 50px;
		}
	}
	.s1 {
		float: left;
		margin-left: -340px;
		@media only screen and (max-width: 719px) {
			margin-left: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-left: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f101';
				@media only screen and (min-width: 480px) and (max-width: 960px) {
					content: '\f100';
				}
			}
		}
	}
}
.col-2cl {
	&.s1-expand {
		.s1 {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				right: 0;
			}
			.icon-sidebar-toggle {
				&:before {
					@media only screen and (min-width: 480px) and (max-width: 960px) {
						content: '\f101';
					}
				}
			}
		}
		.sidebar-toggle {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				float: right;
			}
		}
	}
	.content {
		float: left;
	}
	.main-inner {
		background: $s1-right repeat-y right 0;
		padding-right: 500px;
		@media only screen and (max-width: 719px) {
			background-image: $right-collapse40;
			padding-right: 40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background-image: $right-collapse;
			padding-right: 50px;
		}
	}
	.s1 {
		float: right;
		margin-right: -500px;
		@media only screen and (max-width: 719px) {
			margin-right: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-right: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
	.child-menu {
		> li {
			ul {
				ul {
					border-left: 0;
					border-right: 1px solid $alto;
				}
			}
			> ul {
				padding-left: 0;
				padding-right: 10px;
				> li {
					> a {
						border-left: 0;
						border-right: 1px solid $alto;
					}
				}
			}
		}
	}
}
.col-3cr {
	&.s1-expand {
		.s1 {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				left: 0;
			}
			.icon-sidebar-toggle {
				&:before {
					@media only screen and (min-width: 480px) and (max-width: 960px) {
						content: '\f100';
					}
				}
			}
		}
	}
	&.s2-expand {
		.s2 {
			@media only screen and (max-width: 719px) {
				left: 40px;
			}
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				left: 50px;
			}
			@media only screen and (min-width: 961px) and (max-width: 1200px) {
				left: 340px;
			}
			.icon-sidebar-toggle {
				&:before {
					content: '\f100';
					@media only screen and (min-width: 480px) and (max-width: 1200px) {
						content: '\f100';
					}
				}
			}
		}
	}
	.content {
		float: right;
	}
	.main {
		background-image: none;
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background-image: none;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			background-image: none;
		}
	}
	.main-inner {
		background: $left-dual repeat-y left 0;
		padding-left: 600px;
		@media only screen and (max-width: 719px) {
			background: $l-dual-full40 repeat-y right;
		}
		@media only screen and (max-width: 719px) {

		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background: $l-dual-full repeat-y left;
			padding-left: 100px;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			background: $l-dual-half repeat-y left;
			padding: 390px;
		}
	}
	.s1 {
		float: left;
		margin-left: -600px;
		@media only screen and (max-width: 719px) {
			margin-left: -80px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-left: -100px;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			margin-left: -390px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
	.s2 {
		float: left;
		margin-left: -260px;
		@media only screen and (max-width: 719px) {
			margin-left: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-left: -50px;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			margin-left: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
	.child-menu {
		> li {
			ul {
				ul {
					border-left: 0;
					border-right: 1px solid $alto;
				}
			}
			> ul {
				padding-left: 0;
				padding-right: 10px;
				> li {
					> a {
						border-left: 0;
						border-right: 1px solid $alto;
					}
				}
			}
		}
	}
}

.col-3cm {
	&.s1-expand {
		.s1 {
			.icon-sidebar-toggle {
				&:before {
					@media only screen and (min-width: 480px) and (max-width: 960px) {
						content: '\f100';
					}
				}
			}
		}
	}
	&.s2-expand {
		.s1 {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				left: 0;
			}
		}
		.s2 {
			left: 0;
			right: 0;
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				right: 0;
			}
			.icon-sidebar-toggle {
				&:before {
					content: '\f100';
					@media only screen and (min-width: 480px) and (max-width: 1200px) {
						content: '\f101';
					}
				}
			}
		}
	}
	.content {
		float: left;
	}
	.main {
		background: $s2-right repeat-y left 0;
		@media only screen and (max-width: 719px) {
			background: $right-collapse40 repeat-y right;
		}
		@media only screen and (min-width: 480px) and (max-width: 1200px) {
			background: $right-collapse repeat-y right;
		}
	}
	.main-inner {
		background: $s-left repeat-y right 0;
		padding-left: 50px;
		padding-right: 340px;
		@media only screen and (max-width: 719px) {
			background-position: -300px 0;
			padding-left: 40px;
			padding-right: 40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background-position: -290px 0;
			padding-left: 50px;
		}
		@media only screen and (min-width: 480px) and (max-width: 1200px) {
			padding-right: -50px;
		}
	}
	.s1 {
		float: right;
		margin-right: -340px;
		@media only screen and (max-width: 719px) {
			margin-left: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-left: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
	.s2 {
		float: left;
		margin-left: -50px;
		position: relative;
		right: -100%;
		@media only screen and (max-width: 719px) {
			margin-right: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-right: -50px;
		}
		@media only screen and (min-width: 480px) and (max-width: 1200px) {
			margin-right: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f101';
			}
		}
	}
}

.col-3cl {
	&.s1-expand {
		.s1 {
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				right: 0;
			}
			.icon-sidebar-toggle {
				&:before {
					@media only screen and (min-width: 480px) and (max-width: 960px) {
						content: '\f101';
					}
				}
			}
		}
	}
	&.s2-expand {
		.s2 {
			@media only screen and (max-width: 719px) {
				right:40px;
			}
			@media only screen and (min-width: 480px) and (max-width: 960px) {
				right: 50px;
			}
			@media only screen and (min-width: 961px) and (max-width: 1200px) {
				right: 340px;
			}
			.icon-sidebar-toggle {
				&:before {
					content: '\f101';
					@media only screen and (min-width: 480px) and (max-width: 1200px) {
						content: '\f101';
					}
				}
			}
		}
	}
	.content {
		float: left;
	}
	.main {
		background-image: none;
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background-image: none;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			background-image: none;
		}
	}
	.main-inner {
		background: $right-dual repeat-y right 0;
		padding-right: -600px;
		@media only screen and (max-width: 719px) {
			background: $r-dual-full40 repeat-y right;
			padding-right: 80px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			background: $r-dual-full;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			background: $r-dual-half repeat-y right;
			padding-right: 390px;
		}
	}
	.s1 {
		float: right;
		margin-right: -600px;
		@media only screen and (max-width: 719px) {
			margin-right: -80px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-right: -100px;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			margin-right: -390px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
	.s2 {
		float: right;
		margin-right: -260px;
		@media only screen and (max-width: 719px) {
			margin-right: -40px;
		}
		@media only screen and (min-width: 480px) and (max-width: 960px) {
			margin-right: -50px;
		}
		@media only screen and (min-width: 961px) and (max-width: 1200px) {
			margin-right: -50px;
		}
		.icon-sidebar-toggle {
			&:before {
				content: '\f100';
			}
		}
	}
}




