#comments {
	margin-top: 20px;
}
#pinglist-container {
	display: none;
}
#respond {
	position: relative;
}
#reply-title {
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#cancel-comment-reply-link {
	color: $dusty-gray;
	display: block;
	position: absolute;
	bottom: 26px;
	right: 20px;
	font-size: 12px;
	&:hover {
		color: $boulder;
	}
}
#commentform {
	@include border-radius(2px);
	background: $seashell;
	padding: 10px 20px 20px;
	margin-bottom: 15px;
	input[type='text'] {
		max-width: 100%;
		width: 100%;
	}
	label {
		padding: 6px 0;
		font-weight: 600;
		display: block;
	}
	p {
		&.comment-form-author {
			width: 48%;
			float: left;
		}
		&.comment-form-email {
			width: 48%;
			float: right;
		}
		&.comment-form-url {
			clear: both;
		}
		&.comment-form-comment {
			clear: both;
		}
		&.form-submit {
			margin-top: 10px;
		}
	}
	textarea {
		max-width: 100%;
		width: 100%;
		height: 100%;
	}
}
.comment-tabs {
	border-bottom: 2px solid $gallery-4;
	margin-bottom: 20px;
	@media only screen and (max-width: 719px) {
		font-size: 14px;
	}
	li {
		float: left;
		margin-bottom: -2px;
		a{
			font-weight: 600;
			padding: 0 10px 10px;
			display: block;
			color: $silver-chalice;
			border-bottom: 2px solid $gallery-4;
			&:hover {
				color: $tundora;
				border-color: $silver;
			}
		}
		i {
			margin-right: 6px;
		}
		span {
			@include border-radius(4px);
			background-color: $gallery-4;
			padding: 0 6px;
			margin-left: 8px;
		}
	}
	&.active {
		a {
			color: $boston-blue;
			border-bottom-color: $boston-blue;
		}
	}
}
.comments-nav {
	margin-bottom: 20px;
	a {
		font-weight: 600;
	}
	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
}
.commentlist {
	margin-bottom: 20px;
	li {
		@extend %commentli;
		@media only screen and (max-width: 719px) {
			font-size: 13px;
		}
		li {
			padding-left: 48px;
			margin: 0;
			&.bypostauthor {
				> .comment-body {
					&:after {
						@extend %commentbodyafterli;
					}
				}
			}
			&.comment-author-admin {
				> .comment-body {
					&:after {
						@extend %commentbodyafterli;
					}
				}
			}
		}
		&.bypostauthor {
			> .comment-body {
				&:after {
					@extend %commentbodyafter;
				}
			}
		}
		&.comment-author-admin {
			> .commend-body {
				&:after {
					@extend %commentbodyafter;
					content: '\f005';
				}
			}
		}
		ul {
			padding-left: 48px;
			margin: 0;
			li {
				@media only screen and (max-width: 719px) {
					padding-left: 10px;
				}
			}
		}
		.avatar {
			width: 36px;
			height: 36px;
			left: -48px;
			top: 0;
		}
		.comment-meta {
			left: 70px;
		}
	}
	.avatar {
		@include border-radius(3px);
		position: absolute;
		left: -60px;
		top: 0;
		width: 48px;
		height: 48px;
	}
	.comment-body {
		clear: both;
		position: relative;
		padding-bottom: 15px;
		em {
			font-style: italic;
		}
		ol {
			li {
				list-style: decimal;
				margin-left: 2em;
				padding: 0;
			}
		}
		p {
			margin-bottom: 8px;
			color: $boulder;
			clear: both;
		}
		strong {
			font-weight: bold;
		}
		ul {
			li {
				list-style: square;
				margin-left: 2em;
				padding: 0;
			}
		}
	}
	.comment-author {
		@extend %commentinfo;
		margin-right: 6px;
	}
	.comment-meta {
		@extend %commentinfo;
		&:before {
			@extend %commentmetabefore;
		}
		a {
			color: $silver-chalice;
		}
	}
	.comment-awaiting-moderation {
		@extend %commentinfo;
		color: $boston-blue;
		font-style: normal;
	}
	.fn {
		color: $tundora;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
	}
	.reply {
		font-size: 13px;
		line-height: 16px;
		a {
			color: $silver-chalice;
			&:hover {
				color: $tundora;
			}
		}
	}
	.says {
		display: none;
	}
}
.comment-notes {
	display: none;
}
.form-allowed-tags {
	display: none;
}
.logged-in {
	#reply-title {
		margin-bottom: 20px;
	}
	#commentform {
		p {
			&.comment-form-comment {
				margin-top: 10px;
				label {
					display: none;
				}
			}
		}
	}
}
.logged-in-as {
	display: none;
}
.pinglist {
	margin-bottom: 20px;
	li {
		@extend %commentli;
		clear: both;
		position: relative;
		padding-bottom: 15px;
		padding-left: 0;
	}
	.ping-link {
		color: $tundora;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
	}
	.ping-meta {
		color: $silver-chalice;
		&:before {
			@extend %commentmetabefore;
		}
	}
}