.image-container {
  position: relative;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.image-caption {
  @include box-shadow(inset 0 1px 1px $black-40, 0 1px 0 $white-3);
  @include border-radius(2px);
  background: $black-70;
  bottom: 8px;
  color: $white-fallback;
  font-size: 13px;
  font-style: italic;
  left: 8px;
  line-height: 1.3em;
  margin-right: 8px;
  padding: 8px 10px;
  position: absolute;
  @media only screen and (max-width: 719px) {
    display: none;
  }
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  embed {
    @extend %video;
  }

  iframe {
    @extend %video;
  }

  object {
    @extend %video;
  }

  video {
    @extend %video;
  }
}
