.entry {
  font-size: 18px;
  line-height: 1.6em;
  @media only screen and (max-width: 719px) {
    font-size: 15px;
  }

  h1 {
    @extend %entryh;
    font-size: 38px;
    letter-spacing: -1px;
    @media only screen and (max-width: 719px) {
      font-size: 30px;
      letter-spacing: -.7px;
    }

    span {
      color: $silver-darker;
    }
  }

  h2 {
    @extend %entryh;
    font-size: 34px;
    letter-spacing: -.7px;
    @media only screen and (max-width: 719px) {
      font-size: 26px;
      letter-spacing: -.5px;
    }

    span {
      color: $silver-darker;
    }
  }

  h3 {
    @extend %entryh;
    font-size: 28px;
    letter-spacing: -.5px;
    @media only screen and (max-width: 719px) {
      font-size: 24px;
      letter-spacing: -.3px;
    }

    span {
      color: $silver-darker;
    }
  }

  h4 {
    @extend %entryh;
    font-size: 24px;
    letter-spacing: -.3px;
    @media only screen and (max-width: 719px) {
      font-size: 22px;
      letter-spacing: -.3px;
    }

    span {
      color: $silver-darker;
    }
  }

  h5 {
    @extend %entryh;
    font-size: 20px;
    font-weight: 600;
    @media only screen and (max-width: 719px) {
      font-size: 18px;
    }

    span {
      color: $silver-darker;
    }
  }

  h6 {
    @extend %entryh;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    @media only screen and (max-width: 719px) {
      font-size: 16px;
      text-transform: uppercase;
    }

    span {
      color: $silver-darker;
    }
  }

  p {
    margin-bottom: 1em;
  }

  dd {
    margin-bottom: 1em;
  }

  dt {
    color: $tundora;
    font-weight: 600;
  }

  ol {
    margin: 0 0 15px 30px;

    ol {
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 0;

      ol {
        li {
          list-style: decimal;
        }
      }

      li {
        list-style: square;
      }
    }

    li {
      list-style: square;
    }
  }

  ul {
    margin: 0 0 15px 30px;

    ol {
      margin-bottom: 0;
    }
    
    ul {
      margin-bottom: 0;
    }
    
    li {
      list-style: square;
    }
  }

  li {
    margin: 0;
  }

  address {
    margin-bottom: 1em;
  }

  blockquote {
    color: $boulder;
    font-style: italic;
    margin: 0 0 20px;
    padding-left: 50px;
    position: relative;

    p {
      margin-bottom: .75em;
    }

    &:before {
      color: $silver;
      content: '\f10d';
      font-family: $fa;
      font-size: 32px;
      font-style: normal;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
    }

    &.twitter-tweet:before {
      content: '\f099';
    }
  }

  code {
    background: $gallery-4;
    font-family: $code;
    font-size: 12px;
    padding: 0 3px;
  }

  pre {
    background: url('img/pre.png') repeat top;
    border: 1px solid $alto;
    font-family: $code;
    font-size: 12px;
    line-height: 18px;
    margin: 30px 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 18px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  ins {
    background: $dolly;
  }

  sub {
    font-size: 62.5%;
    vertical-align: sub;
  }

  sup {
    font-size: 62.5%;
    vertical-align: super;
  }

  table {
    font-size: 14px;
    margin-bottom: 1.5em;
    text-align: center;
    width: 100%;
  
    tr {
      &.alt {
        background: $seashell;
      }
    }
  
    td {
      border-bottom: 1px solid $seashell;
      padding: 5px;
      text-align: center;
      vertical-align: middle;
    }
  
    th {
      border-bottom: 1px solid $seashell;
      border-top: 1px solid $seashell;
      font-weight: 600;
      padding: 10px 5px;
      text-align: center;
    }
  }
  
  img {
    &.size-auto {
      height: auto;
      max-width: 100%;
    }
  
    &.size-large {
      height: auto;
      max-width: 100%;
    }
  
    &.size-medium {
      height: auto;
      max-width: 100%;
    }
  
    attachment {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  
    &.alignleft {
      margin: 18px 20px 18px 0;
    }
  
    &.alignright {
      margin: 18px 0 18px 20px;
    }
  
    &.aligncenter {
      clear: both;
      display: block;
      margin: 18px auto;
    }
  
    .size-full {
      width: 100%;
    }
  
    &.wp-smiley {
      margin: 0;
    }
  }
  
  &.excerpt {
    color: $silver-chalice;
    font-size: 16px;
  
    p {
      margin-bottom: 0;
    }
  }
  
  &.share {
    min-height: 354px;
    padding-right: 100px;
    @media only screen and (max-width: 719px) {
      padding-right: 0;
    }
  
    .entry-inner {
      float: left;
      width: 100%;
    }
  }
  
  .gallery {
    clear: both;
    margin: 15px 0;
    overflow: hidden;
    width: 100%;
  
    img {
      border-color: transparent;
      border-width: 1px 2px;
      display: block;
      height: auto;
      margin: 0;
      width: 100%;
    }
 
    .gallery-item {
      border-color: transparent;
      margin-top: 0;
      overflow: hidden;
      position: relative;
     
      &:hover {
        .gallery-caption {
          bottom: 0;
        }
      }
    }
  
    .gallery-caption {
      @include transition(all .2 ease);
      background: $white-80;
      bottom: -40px;
      color: $mine-shaft-darker2;
      font-size: 14px;
      font-style: normal;
      left: 2px;
      line-height: 1.4em;
      margin: 0;
      overflow: hidden;
      padding: 10px 0;
      position: absolute;
      right: 2px;
      text-align: left;
      text-indent: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
 
  .gallery-columns-5 {
    .gallery-caption {
      display: none;
    }
  }
 
  .gallery-columns-6 {
    .gallery-caption {
      display: none;
    }
  }
 
  .gallery-columns-7 {
    .gallery-caption {
      display: none;
    }
  }
 
  .gallery-columns-8 {
    .gallery-caption {
      display: none;
    }
  }

  .gallery-columns-9 {
    .gallery-caption {
      display: none;
    }
  }

  .wp-caption {
    background: $seashell;
    margin-bottom: 14px;
    max-width: 100%;
    padding-top: 5px;
    text-align: center;

    a {
      border-bottom: 0;
    }

    img {
      height: auto;
      margin: 0;
      max-width: 100%;
    }

    &.alignleft {
      margin-left: 20px;
      margin-right: 20px;
    }

    &.alignnone {
      overflow: hidden;
      width: 100%;

      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .wp-caption-text {
    color: $dusty-gray;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    padding: 0 0 8px;
  }
}

.gallery-caption {
  @media only screen and (max-width: 479px) {
    display: none;
  }
}
