//a, a:before, a:after
%a {
  @include transition-property(background,color);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease);
}

//h1, h2, h3, h4, h5, h6
%h {
  color: $tundora;
  font-weight: 600;
  word-wrap: break-word;
}

//.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
%entryh {
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.3em;
}

//.widget > ul li:before, .widget > ul li a:before, .widget > div > ul li a:before
%widget_before {
  @include inline-block;
  font-family: $fa;
  font-size: 12px;
  margin-right: 6px;
  color: $silver;
  width: 1em;
  text-align: center;
}

//.widget_calendar th, .widget_calendar td
%widget_calendar {
  padding: 3px 0;
  text-align: center;
  border: 1px solid $mercury-lighter;
}

%textarea {
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
}

//.themeform input[type="text"], .themeform input[type="password"], .themeform input[type="email"], .themeform textarea
%themeform {
  background: $white-fallback;
  border: 2px solid $alto;
  color: $boulder;
  display: block;
  max-width: 100%;
  outline: none;
  padding: 7px 8px;
}

//.themeform input[type="text"]:focus, .themeform input[type="password"]:focus, .themeform input[type="email"]:focus, .themeform textarea:focus
%themeformfocus {
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  border-color: $silver;
  color: $tundora;
}

//.themeform input[type="submit"], .themeform button[type="submit"]
%themeformsubmit {
  @include inline-block();
  @include border-radius(3px);
  background: $boston-blue;
  color: $white-fallback;
  padding: 8px 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

//.video-container iframe, .video-container object, .video-container embed, .video-container video
%video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//.jp-play, .jp-pause
%playpause {
  height: 30px;
  left: 0;
  margin: 12px 0 0 9px;
  outline: none;
  top: 0;
  width: 25px;
  z-index: 1;
}

//.jp-mute, .jp-unmute
%mute {
  margin-top: 10px;
  outline: none;
  right: 58px;
  top: 2px;
  width: 17px;
  z-index: 1;
}

//.commentlist li, .pinglist li
%commentli {
  padding-left: 60px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

//.commentlist .comment-author, .commentlist .comment-meta, .commentlist .comment-awaiting-moderation
%commentinfo {
  font-size: 13px;
  display: block;
  float: left;
  line-height: 20px;
}

//.commentlist .comment-meta:before, .pinglist .ping-meta:before
%commentmetabefore {
  color: $silver;
  content: "\f017";
  font-family: $fa;
  font-size: 10px;
  margin-right: 3px;
  vertical-align: 4%;
}

//.commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .comment-body:after
%commentbodyafter {
  @include border-radius(3px);
  background: $boston-blue;
  display: block;
  position: absolute;
  content: "\f040";
  color: $white;
  line-height: 12px;
  width: 12px;
  font-style: normal;
  font-family: $fa;
  text-align: center;
  top: 32px;
  left: -28px;
  font-size: 10px;
  padding: 2px;
}

//.commentlist li li.bypostauthor > .comment-body:after, .commentlist li li.comment-author-admin > .comment-body:after
%commentbodyafterli {
  @include border-radius(2px);
  top: 22px;
  left: -26px;
  font-size: 8px;
  padding: 1px;
}

//hr, .hr
%hr {
  border: 0;
  background: $gallery-4;
  border-bottom: 2px solid $gallery-4;
  height: 1px;
  margin: 30px 0;
}