.flexslider {
  margin: 0 0 60px;
  padding: 0;
  position: relative;
  zoom: 1;
  a {
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  .slides {
    zoom: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    > li {
      @include backface-visibility(hidden);
      display: none;
      position: relative;
    }
  }
  &:hover {
    .flex-next {
      @include opacity(.8);
      &:hover {
        @include opacity(1);
      }
    }
    .flex-prev {
      @include opacity(.8);
      &:hover {
        @include opacity(1);
      }
    }
  }
}
.flex-container {
  a {
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
}
.slides {
  margin: 0;
  padding: 0;
  list-style: none;
  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
.flex-control-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
  li {
    @include inline-block;
    margin: 0 3px;
    zoom: 1;
    a {
      @include border-radius(100%);
      width: 10px;
      height: 10px;
      display: block;
      text-indent: -999px;
      overflow: hidden;
      background: $black-15;
      &:hover {
        background: $black-15;
      }
      &.flex-active {
        background: $black-25;
        cursor: default;
      }
    }
  }
}
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  a {
    @include transition(all 0.3s ease);
    @include border-radius(3px);
    @include opacity(.3);
    background: $black-70;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    display: block;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    &:before {
      font-family: $fa;
      font-size: 20px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 9px;
      text-indent: 0;
    }
  }
  li {
    float: left;
    margin-left: 4px;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
  .flex-disabled {
    @include filter(alpha(opacity=30));
    @include opacity(.3);
    cursor: default;
  }
  .flex-next {
    @media screen and (max-width: 860px) {
      @include opacity(.7);
      right: 0;
    }
    &:before {
      content: '\f054';
    }
  }
  .flex-prev {
    @media screen and (max-width: 860px) {
      @include opacity(.7);
      right: 0;
    }
    &:before {
      content: '\f053';
    }
  }
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
  li {
    width: 25%;
    float: left;
    margin: 0;
  }
  img {
    @include opacity(.7);
    width: 100%;
    display: block;
    cursor: pointer;
    &:hover {
      @include opacity(1);
    }
  }
  .flex-active {
    @include opacity(1);
    cursor: default;
  }
}
.flex-pauseplay {
  span {
    text-transform: capitalize;
  }
}
.no-js {
  .slides {
    > li {
      &:first-child {
        display: block;
      }
    }
  }
}
.flex-viewport {
  @include transition(all 1s ease);
  max-height: 2000px;
}
.loading {
  .flex-viewport {
    max-height: 300px;
  }
}
.carousel {
  li {
    margin-right: 5px;
  }
}
#flexslider-featured {
  @media only screen and (max-width: 479px) {
    margin-top: 15px;
  }
  @media only screen and (max-width: 719px) {
    margin-top: 10px;
  }
  .flex-control-nav {
    position: absolute;
    top: -15px;
    bottom: auto;
    li {
      margin: 0;
      padding: 0;
      margin-right: 2em;
      float: left;
      a {
        @include border-radius(0);
        @include box-shadow(none);
        background: $alto;
        width: 20px;
        height: 2px;
        text-indent: -999px;
        &:hover {
          background: $silver;
        }
        &.flex-active {
          background: $boston-blue;
        }
      }
    }
  }
  .flex-direction-nav {
    position: absolute;
    top: -50px;
    left: auto;
    right: 0;
    a {
      @include opacity(1);
      @include box-shadow(none);
      @include transition(all 0.3s ease);
      background: $white-fallback;
      color: $silver-darker;
      font-size: 24px;
      line-height: 24px;
      position: relative;
      width: 34px;
      height: 36px;
      margin: 0;
      display: block;
      text-align: center;
      cursor: pointer;
      text-indent: -999px;
      overflow: hidden;
      &:before {
        font-family: $fa;
        line-height: 24px;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 8px;
        text-indent: 0;
      }
    }
    li {
      float: left;
      margin-left: 3px;
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
    .flex-next {
      &:before {
        content: '\f054';
      }
      &:hover {
        @include opacity(1);
        color: $boston-blue;
      }
    }
    .flex-prev {
      &:before {
        content: '\f053';
      }
      &:hover {
        @include opacity(1);
        color: $boston-blue;
      }
    }
  }
}