#footer {
  background: $white-fallback;
  color: $boulder;
  width: 100%;
  a {
    color: $boulder;
    &:hover {
      color: $silver;
    }
  }
  .pad {
    padding-bottom: 30px;
  }
  .nav {
    li {
      > a {
        &:after {
          content: '\f0da';
        }
        &:only-child {
          &:after {
            content: '';
          }
        }
      }
    }
    > li {
      > a {
        &:after {
          content: '\f0d8';
        }
      }
    }
  }
  .alx-posts {
    li {
      &:hover {
        .post-item-title {
          a {
            color: $boston-blue;
          }
        }
      }
    }
    .post-item-title {
      font-size: 18px;
      line-height: 1.4em;
      font-weight: 300;
    }
    .post-item-category {
      font-size: 14px;
      a {
        color: $boston-blue;
      }
    }
    .post-item-date {
      font-size: 14px;
    }
  }
  .alx-tab {
    li {
      &:hover {
        .tab-item-title {
          a {
            color: $boston-blue;
          }
        }
        .tab-item-comment {
          a {
            color: $boston-blue;
          }
        }
      }
    }
    .tab-item-category {
      a {
        color: $boston-blue;
      }
    }
  }
  .alx-tabs-nav {
    border-bottom-color: $gallery-4;
    li {
      a {
        &:hover {
          border-bottom-color: $alto;
        }
      }
      &.active {
        a {
          // @include linear-gradient(to bottom, rgba(255,255,255,0.0) 0%, $white-fallback 100%) 0 0 rgba(0,0,0, 0));
          border-bottom-color: $boston-blue;
          color: $tundora;
        }
      }
    }
  }
  #footer-ads {
    .widget {
      padding-bottom: 0;
      font-size: 0;
      line-height: 0;
    }
  }
}
#footer-ads {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid $gallery-4;
  h3 {
    display: none;
  }
}
#footer-widgets {
  padding-top: 20px;
}
#footer-bottom {
  background: $tuna;
  @media only screen and (max-width: 719px) {
    text-align: center;
  }
  a {
    color: $white-fallback;
    color: rgba(255,255,255,0.7);
    &:hover {
      color: $white-fallback;
    }
  }
  .pad {
    padding-top: 30px;
    @media only screen and (max-width: 719px) {
      padding-top: 50px;
      padding-bottom: 40px;
    }
  }
  .one-half {
    &.last {
      @media only screen and (max-width: 719px) {
        margin-bottom: 0;
      }
    }
  }
  .social-links {
    padding-top: 10px;
    @media only screen and (max-width: 719px) {
      float: none;
    }
    a {
      color: $white-60;
      &:hover {
        color: $white-fallback;
      }
    }
    li {
      @media only screen and (max-width: 719px) {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    .social-tooltip {
      font-size: 28px;
    }
  }
  .widget {
    padding-bottom: 30px;
    a {
      &:hover {
        color: $dove-gray;
      }
    }
    select {
      border-color: $gallery-4;
    }
  }
  .widget_archive {
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_categories {
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_calendar {
    a {
      color: $boston-blue;
    }
    caption {
      background: $boston-blue;
    }
    th {
      border-color: $concrete;
    }
    td {
      border-color: $concrete;
    }
    thead {
      background: $concrete;
    }
  }
  .widget_links{
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_meta {
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_nav_menu {
    ul {
      li {
        a {
          border-color: $concrete;
        }
      }
    }
  }
  .widget_pages {
    ul {
      li {
        a {
          border-color: $concrete;
        }
      }
    }
  }
  .widget_recent_comments{
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_recent_entries {
    ul {
      li {
        border-color: $concrete;
      }
    }
  }
  .widget_rss{
    ul {
      li {
        color: $concrete;
        a {
          color: $boston-blue;
        }
      }
    }
  }
  .alx-tab {
    li {
      border-color: $concrete;
    }
  }
  .alx-posts {
    li {
      border-color: $concrete;
    }
  }
  #footer-logo {
    @include border-radius(0);
    display: block;
    margin-bottom: 20px;
    max-height: 50px;
    @media only screen and (max-width: 719px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  #copyright {
    color: $white-fallback;
    color: $white-50;
    font-size: 15px;
    line-height: 1.5em;
  }
  #credit {
    color: $white-fallback;
    color: $white-50;
    font-size: 15px;
    line-height: 1.5em;
  }
  #back-to-top {
    @include border-radius(0 0 3px 3px);
    @include box-shadow(inset 0 1px 0 $black-5);
    background: $gallery;
    color: $boulder;
    overflow: hidden;
    text-align: center;
    width: 60px;
    height: 30px;
    display: block;
    margin: 0 auto -30px;
    &:hover {
      color: $tundora;
    }
    i {
      font-size: 38px;
      position: relative;
      top: -7px;
    }
  }
}