/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

.ie8 {
	.nav {
		li {
			> a {
				&:after {
					content: ""!important;
				}
			}
		}
		> li {
			> a {
				&:after {
					content: ""!important;
				}
			}
		}
	}
	.toggle-search {
		&:hover {
			background: $opacity10;
		}
		&.active {
			background: $opacity10;
		}
	}
	.search-expand-inner {
		background: $opacity10;
	}
	.thumb-icon {
		background: $opacity70;
	}
	.image-caption {
		background: $opacity70;
	}
	&.single {
		.related-posts {
			.post-title {
				font-weight: 400;
			}
		}
	}
	.s1 {
		.alx-posts {
			.post-item-title {
				font-weight: 400;
			}
		}
	}
	#footer {
		.alx-posts {
			.post-item-title {
				font-weight: 400;
			}
		}
	}
	.author-bio {
		.bio-avatar {
			&:after {
				display: none;
			}
		}
	}
	.commentlist {
		li {
			&.bypostauthor {
				> .comment-body {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	#nav-topbar {
		.nav {
			> li {
				> a {
					&:hover {
						background: $opacity10;
					}
				}
			}
		}
		&:hover {
			> a {
				background: $opacity10;
			}
		}
	}
	#nav-header {
		.nav {
			> li {
				> a {
					&:hover {
						background: $opacity10;
					}
				}
			}
		}
		&:hover {
			> a {
				background: $opacity10;
			}
		}
	}
	.page-image-text {
		.description {
			i {
				background: $opacity70;
			}
		}
	}
	.flex-direction-nav {
		a {
			background: $opacity70;
		}
	}
	.entry {
		.gallery {
			.gallery-caption {
				background: $opacity80;
			}
		}
	}
}
body {
	&.ie8 {
		font-weight: 400;
	}
}