.jp-audio {
  min-width: 100%;
  width: 100%;
}

.jp-interface {
  @include box-shadow(inser 0 1px 0 $white-6, inset 0 -1px 0 $black-30);
  background-color: $tundora;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    @include text-shadow(0 -1px 0 $black-60);
    color: $silver-darker;

    &:hover {
      color: $gallery-4;
    }
  }

  .jp-controls {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      position: absolute;

      i {
        display: block;
      }
    }

    li {
      display: inline;
    }
  }
}

.jp-mute {
  @extend %mute;
}

.jp-unmute {
  @extend %mute;
  display: none;
}

.jp-jplayer {
  height: 0;
  width: 0;
}

.jp-play {
  @extend %playpause;
}

.jp-play-bar {
  @include border-radius(1px);
  @include box-shadow(inset 0 1px 0 $white-25);
  background-color: $mantis;
  height: 5px;
  width: 0;
}

.jp-pause {
  @extend %playpause;
}

.jp-progress {
  @include box-shadow(0 1px 0 $white-6);
  background-color: $mine-shaft-darker3;
  height: 5px;
  min-width: 100%;
  overflow: hidden;
  padding: 1px;
  width: 100%;
}

.jp-progress-container {
  border-left: 1px solid $mine-shaft-darker2;
  height: 6px;
  margin-left: 34px;
  margin-right: 84px;
  padding: 20px 10px;
}

.jp-volume-bar {
  @include border-radius(1px);
  @include box-shadow(0 1px 0 $white-6);
  background-color: $mine-shaft-darker;
  border: 1px solid $mine-shaft-darker3;
  cursor: pointer;
  height: 5px;
  left: 0;
  position: relative;
  overflow: hidden;
  top: 0;
  width: 38px;
}

.jp-volume-bar-value {
  @include border-radius(1px);
  @include box-shadow(inset 0 1px 0 $white-25);
  background-color: $mantis;
  height: 5px;
  width: 0;
}

.jp-volume-bar-container {
  border-left: 1px solid $mine-shaft-darker2;
  height: 6px;
  padding: 20px 10px 33px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.jp-seek-bar {
  @include border-radius(1px);
  background-color: $mine-shaft-darker;
  cursor: pointer;
  height: 5px;
  min-width: 100%;
  width: 0;
}
