@media (max-width: 22em) {
  body {
    font-size: .9em;
    padding: 0 1.5em;
  }
}

@media (min-width: 35em) {
  body {
    max-width: 51em;
  }

  article {
    margin: 0 0 0 33.333333%;
    width: 66.66666%;
  }

  h1,
  h1 + p {
    margin: 1em 0 1em -50%;
  }
}

@media (min-width: 51em) {
  body {
    max-width: 68em;
  }

  article {
    margin: 0 25%;
    position: relative;
    width: 50%;
  }

  h1,
  h1 + p {
    margin: 1em 0 1em -50%;
  }

  .sidenote {
    font-size: .9em;
    position: absolute;
    right: -50%;
    width: calc(50% - 2em);
  }
}
