.nav {
  font-size: 0;
  position: relative;
  float: left;
  width: 100%;
  @media only screen and (max-width: 719px) {
    font-weight: 600;
  }
  li {
    a {
      color: $silver;
      display: block;
      line-height: 20px;
      display: block;
      padding: 8px 20px;
    }
    > a {
      &:after{
        content: '\f0da';
        float: right;
        opacity: .5;
      }
      &:hover {
        color: $white-fallback;
      }
    }
    li {
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  li {
    > a {
      &:hover {
        color: $white-fallback;
      }
      &:after {
        @include inline-block;
        font-family: $fa;
      }
      &:only-child {
        &:after{
          content: '';
          margin: 0;
        }
      }
    }
    &.current_page_item {
      > a {
        color: $white-fallback;
      }
    }
    &.current-menu-item {
      > a {
        color: $white-fallback;
      }
    }
    &.current-post-parent {
      > a {
        color: $white-fallback;
      }
    }
    &.current-menu-ancestor {
      > a {
        color: $white-fallback;
      }
    }
    &:hover {
      > a {
        color: $white-fallback;
      }
      > ul {
        @media only screen and (min-width: 720px) {
          display: block;
        }
      }
    }
  }
  > li {
    @include inline-block;
    font-size: 16px;
    border-right: 1px solid $dusty-gray;
    position: relative;
    > a {
      padding: 15px 14px;
      &:after{
        @include inline-block;
        content: 'f0d7';
        float: none;
        margin-left: 6px;
        font-size: 14px;
        line-height: 1.2em;
        font-family: $fa;
      }
      &:hover {
        background: $boulder;
      }
    }
    &:hover {
      > a {
        background: $boulder;
      }
    }
  }
  ul {
    display: block;
    margin-left: 40px;
    li {
      font-size: 13px;
      font-weight: 300;
      @media only screen and (min-width: 720px) {
        font-size: 14px;
        position: relative;
        display: block;
        padding: 0;
      }
      a {
        padding-top: 6px;
        padding-bottom: 6px;
        @media only screen and (min-width: 720px) {
          padding: 10px 20px;
        }
      }
      &:last-child {
        @media only screen and (min-width: 720px) {
          border-bottom: 0;
        }
      }
    }
    ul {
      position: absolute;
      top: -10px;
      left: 180px;
    }
    @media only screen and (min-width: 720px) {
      @include box-shadow(0 2px 2px $black-15);
      @include transform(translateZ(0));
      display: none;
      background: $boulder;
      position: absolute;
      left: 0;
      top: 50px;
      width: 180px;
      padding: 10px 0;
      z-index: 2;
    }
  }
}
.nav-container {
  background: $gray;
  z-index: 99;
  position: relative;
  @media only screen and (max-width: 719px) {
    text-transform: none;
  }
}
.nav-toggle {
  display: none;
  background: $boulder;
  cursor: pointer;
  float: right;
  height: 50px;
  width: 60px;
  color: $white-fallback;
  text-align: center;
  @media only screen and (max-width: 719px) {
    display: block;
  }
  i {
    font-size: 29px;
    padding: 10px 0;
  }
}
.nav-text {
  display: none;
  float: right;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 20px;
  @media only screen and (max-width: 719px) {
    display: block;
  }
}
.nav-wrap {
  @media only screen and (max-width: 719px) {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  @media only screen and (min-width: 720px) {
    height: auto;
  }
  &.transition {
    @media only screen and (max-width: 719px) {
      @include transition(height 0.35s ease);
    }
  }
}

.expand {
  .nav-wrap {
    @media only screen and (max-width: 719px) {
      height: auto;
    }
  }
}

.safari {
  .nav-wrap {
    &.transition {
      @include transition(none);
    }
  }
}

#nav-topbar {
  &.nav-container {
    @include box-shadow(0 0 5px $black-20, 0 1px 0 $white-15);
    background: $shark;
  }
  .container {
    @media only screen and (max-width: 719px) {
      padding-left: 0;
    }
    @media only screen and (min-width: 720px) {
      padding-left: 15px;
    }
  }
  .nav {
    li {
      &:hover {
        > a {
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current_page_item {
        > a {
          @media only screen and (max-width: 719px) {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current-menu-item {
        > a {
          @media only screen and (max-width: 719px)  {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          color: $white-fallback;
        }
      }
      &.current-post-parent {
        > a {
          @media only screen and (max-width: 719px) {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      a {
        @media only screen and (max-width: 719px) {
          color: $white-fallback;
          color: $white-80;
          border-top: 1px solid rgba(255 ,255 ,255 , .06);
        }
        @media only screen and (min-width: 720px) {
          color: $white-fallback;
          color: $white-70;
        }
      }
      > a {
        &:hover {
          @media only screen and (max-width: 719px) {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
    }
    ul {
      @media only screen and (min-width: 720px) {
        background: $shark $opacity10 repeat;
      }
      li {
        @media only screen and (min-width: 720px) {
          @include box-shadow(0 1px 0 $white-6);
        }
        &:last-child {
          @media only screen and (min-width: 720px) {
            @include box-shadow(none);
          }
        }
      }
    }
    > li {
      @media only screen and (min-width: 720px) {
        border-right: none;
      }
      &:hover {
        > a {
          @media only screen and (min-width: 720px) {
            background-color: $black-10;
          }
        }
      }
      > a {
        &:hover {
          @media only screen and (min-width: 720px) {
            background-color: $black-10;
          }
        }
      }
    }
  }
  .nav-text {
    color: $white-fallback;
    color: $white-70;
  }
  .nav-toggle {
    @include box-shadow(inset 1px 0 0 $white-6);
    background: transparent;
    color: $white-fallback;
  }
}

#nav-header {
  &.nav-container {
    @include box-shadow(inset 0 1px 0 $white-5, 0 -1px 0 $black-20, inset 1px 0 0 $black-20, inset -1px 0 0 $black-20);
    background: transparent;
    z-index: 97;
    @media only screen and (max-width: 719px) {
      border-left: 0;
      border-right: 0;
    }
  }
  .container {
    padding: 0 15px;
    @media only screen and (max-width: 719px) {
      padding: 0;
    }
  }
  .nav {
    @media only screen and (max-width: 719px) {
      padding-bottom: 20px;
    }
    li {
      &:hover {
        > a {
          @media only screen and (min-width: 720px) {
            background: $black-10;
            color: $white-fallback;
          }
        }
      }
      &.current_page_item {
        > a {
          @media only screen and (max-width: 719px) {
            color: $white-fallback;
            background: $black-15;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current-menu-item {
        > a {
          @media only screen and (max-width: 719px) {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      &.current-post-parent {
        > a {
          @media only screen and (max-width: 719px) {
            background: $black-15;
            color: $white-fallback;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
      a {
        @media only screen and (max-width: 719px) {
          color: $white-fallback;
          color: $white-80;
          border-top: 1px solid $white-6;
        }
        @media only screen and (min-width: 720px) {
          color: $white-fallback;
          color: $white-70;
        }
      }
      > a {
        &:hover {
          @media only screen and (max-width: 719px) {
            color: $white-fallback;
            background: $black-15;
          }
          @media only screen and (min-width: 720px) {
            color: $white-fallback;
          }
        }
      }
    }
    ul {
      @media only screen and (min-width: 720px) {
        background: $tuna $opacity10 repeat;
      }
      li {
        @media only screen and (min-width: 720px) {
          @include box-shadow(0 1px 0 $white-6);
        }
        &:last-child {
          @media only screen and (min-width: 720px) {
            @include box-shadow(none);
          }
        }
      }
    }
    > li {
      @media only screen and (min-width: 720px) {
        border-right: none;
      }
      > a {
        &:hover {
          @media only screen and (min-width: 720px) {
            background: $black-10;
          }
        }
      }
    }
  }
  .nav-toggle {
    @include box-shadow(inset 1px 0 0 $white-5, -1px 0 0 $black-20);
    color: $white-fallback;
    background: transparent;
  }
  .nav-text {
    color: $white-fallback;
    color: $white-70;
  }
}

#nav-footer {
  &.nav-container {
    background: $white-fallback;
    border-top: 1px solid $gallery-4;
  }
  .nav {
    @media only screen and (min-width: 720px) {
      text-align: center;
    }
    li {
      &.current_page_item {
        > a {
          @media only screen and (max-width: 719px) {
            background: $concrete;
            color: $tundora;
          }
          @media only screen and (min-width: 720px) {
            color: $dove-gray;
          }
        }
      }
      &.current-menu-item {
        > a {
          @media only screen and (max-width: 719px) {
            background: $concrete;
            color: $tundora;
          }
          @media only screen and (min-width: 720px) {
            color: $dove-gray;
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          @media only screen and (min-width: 720px) {
            color: $dove-gray;
          }
        }
      }
      &.current-post-parent {
        > a {
          @media only screen and (max-width: 719px) {
            background: $concrete;
            color: $tundora;
          }
          @media only screen and (min-width: 720px) {
            color: $dove-gray;
          }
        }
      }
      a {
        @media only screen and (max-width: 719px) {
          color: $dusty-gray;
          color: $black-80;
          border-top: 1px solid $concrete;
        }
        @media only screen and (min-width: 720px) {
          color: $dusty-gray;
        }
      }
      > a {
        &:hover {
          @media only screen and (max-width: 719px) {
            background: $concrete;
            color: $tundora;
          }
        }
      }
    }
    ul {
      @media only screen and (min-width: 720px) {
        @include box-shadow(0 -2px 2px $black-5);
        background: $gallery-lighter;
        bottom: 44px;
        top: auto;
        text-align: left;
        li {
          @media only screen and (min-width: 720px) {
            border-bottom: 1px solid $mercury;
          }
        }
        ul {
          @media only screen and (min-width: 720px) {
            position: absolute;
            top: auto;
            bottom: -10px;
          }
        }
      }
    }
    > li {
      @media only screen and (min-width: 720px) {
        border-right: 0;
      }
      &:first-child {
        @media only screen and (min-width: 720px) {
          border-left: 0;
        }
      }
      &:hover {
        > a {
          @media only screen and (min-width: 720px) {
            background: $gallery-lighter;
            color: $dove-gray;
          }
        }
      }
      > a {
        @media only screen and (min-width: 720px) {
          padding: 12px 18px;
        }
        &:hover {
          @media only screen and (min-width: 720px) {
            background: $gallery-lighter;
            color: $dove-gray;
          }
        }
      }
    }
  }
  .nav-toggle {
    background: transparent;
    color: $tundora;
    border-left: 1px solid $gallery-4;
  }
}
