.page {

  &.post-standard {
    .post-inner {
      padding-left: 0;
    }

    .post-thumbnail {
      display: none;
    }
  }
}

.page-title {
  background: $white-fallback;
  border-bottom: 1px solid $gallery-4;
  color: $dove-gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 17px;
  padding-top: 18px;
  position: relative;
  text-transform: uppercase;
  @media only screen and (max-width: 719px) {
    font-size: 14px;
  }

  &.pad {
    @media only screen and (max-width: 960px) {
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }

  a {
    color: $silver-chalice;

    &:hover {
      color: $tundora;
    }
  }

  h1 {
    color: $dove-gray;
  }

  h2 {
    color: $dove-gray;
  }

  h4 {
    color: $dove-gray;
  }

  i {
    margin-right: 8px;
  }

  span {
    color: $silver-chalice;
  }

  .meta-single {

    li {
      float: left;
      margin-right: 14px;

      &.comments {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.page-image {
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
}

.page-image-text {
  margin-top: -35px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  @media only screen and (max-width: 719px) {
    margin-top: -15px;
  }

  .caption {
    color: $white-fallback;
    font-size: 44px;
    font-weight: 600;
    line-height: 70px;
    text-shadow: 0 0 20px $black-30;
    text-transform: uppercase;
    @media only screen and (max-width: 719px) {
      font-size: 26px;
      line-height: 30px
    }
  }

  .description {
    color: $white-fallback;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    @media only screen and (max-width: 719px) {
      font-size: 13px;
    }

    i {
      @include opacity(.9);
      @include border-radius(2px);
      background: $black-70;
      font-style: normal;
      padding: 6px 10px;
    }
  }
}
