.archive {
  .post {
    margin-bottom: 40px;
  }

  .post-standard {
    margin-bottom: 20px;
  }
}

.post-byline {
  font-size: 14px;
  font-weight: 400;
  color: $silver-chalice;
  text-transform: uppercase;
  margin-bottom: 1em;
  @media only screen and (max-width: 719px) {
    font-size: 13px;
  }
}
.post-comments {
  @include box-shadow(inset -1px 0 1px rgba(0,0,0,0.2));
  background: $mantis;
  font-size: 12px;
  line-height: 20px;
  color: $white-fallback;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  &:hover {
    color: $white-fallback;
    padding-right: 4px;
  }
  i {
    margin-right: 3px;
  }
  > span {
    display: block;
    position: relative;
    padding: 2px 7px;
    &:before {
      @include inline-block();
      content: '';
      border-left: 7px solid transparent;
      border-right: 7px solid $mantis;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      position: absolute;
      top: 5px;
      left: -14px;
    }
  }
}
.post-format {
  position: relative;
  margin-bottom: 2em;
  @media only screen and (max-width: 719px) {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 1em;
  }
  .format-container {
    background: $seashell;
    padding-bottom: 10px;
    border-left: 3px solid $boston-blue;
    .fa {
      color: $silver;
      font-size: 36px;
      float: right;
      margin: 0 0 20px 20px;
      @media only screen and (max-width: 719px) {
        font-size: 28px;
      }
    }
  }
}
.post-hover {
  &:hover {
    .post-thumbnail {
      @include opacity(.75);
    }
    .post-title {
      a {
        color: $boston-blue;
      }
    }
    .thumb-icon {
      background: $white-fallback;
      color: $cod-gray;
    }
  }
}
.post-list {
  margin-right: -30px;
  @media only screen and (max-width: 719px) {
    margin-left: 0;
    margin-right: 0;
  }
  .page {
    width: 50%;
    float: left;
    @media only screen and (max-width: 719px) {
      width: 100%;
    }
  }
  .post {
    width: 50%;
    float: left;
    @media only screen and (max-width: 719px) {
      width: 100%;
    }
  }
  .post-inner {
    margin-right: 30px;
    @media only screen and (max-width: 719px) {
      margin-right: 0;
    }
  }
  .post-row {
    margin-left: -30px;
    padding-left: 30px;
    float: left;
    width: 100%;
    border-bottom: 1px solid $gallery-4;
    margin-bottom: 30px;
    position: relative;
    @media only screen and (max-width: 719px) {
      margin-left: 0;
      padding-left: 0;
    }
    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}
.post-meta {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: $silver-darker;
  margin-bottom: 0.3em;
  .post-category {
    float: left;
    margin-right: 6px;
  }
  .post-date {
    float: left;
  }
}
.post-nav {
  li {
    width: 100%;
    display: inline;
    float: left;
    text-align: center;
    &.previous {
      i {
        left: 10px;
      }
    }
    &.next {
      i {
        right: 10px;
      }
    }
    a {
      position: relative;
      min-height: 73px;
      display: block;
      padding: 16px 40px 24px;
      &:hover {
        span {
          color: $tundora;
        }
      }
      i {
        @include transition-property(background color);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
      }
      span {
        @include transition-property(background color);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
        font-size: 15px;
        color: $dove-gray;
      }
      strong {
        display: block;
        font-size: 12px;
        color: $silver-chalice;
        letter-spacing: 0.5px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    i {
      color: $silver;
      font-size: 18px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
    }
  }
}
.post-pages {
  font-weight: 600;
  margin-bottom: 20px;
}
.post-standard {
  @include flexbox((
    display: flex,
    flex-flow: column
  ));
  .post-content {
    float: left;
  }
  .post-inner {
    border-bottom: 1px solid $gallery-4;
    float: left;
    padding-bottom: 10px;
    padding-left: 0;
    @media only screen and (max-width: 479px) {
      padding-left: 82px;
    }
    @media only screen and (max-width: 719px) {
      // padding-left: 120px;
    }
  }
  .post-thumbnail {
    max-width: 400px;
    margin: auto;
    margin-bottom: 0.5em;
    float: none;
    @media only screen and (max-width: 479px) {
      margin-left: -82px;
      max-width: 72px;
    }
    @media only screen and (max-width: 719px) {
      // margin-left: -120px;
      max-width: 200px;
    }
  }
}
.post-tags {
  margin-bottom: 40px;
  a {
    @include inline-block();
    @include border-radius(2px);
    background: $concrete;
    line-height: 16px;
    white-space: nowrap;
    font-size: 12px;
    color: $dusty-gray;
    padding: 3px 7px;
    margin: 0 5px 2px 0;
    &:hover {
      background-color: $boston-blue;
      color: $white-fallback;
    }
  }
  span {
    @include inline-block();
    font-size: 14px;
    color: $dusty-gray;
    margin: 0 7px 0 0;
  }
}
.post-thumbnail {
  @include transition(all 1s ease);
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.post-title {
  color: $tundora;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5em;
  word-wrap: break-word;
  a {
    color: $tundora;
    &:hover {
      color: $boston-blue;
    }
  }
  i {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
}

.featured {
  border-bottom: 1px solid $gallery-4;
  margin-bottom: 30px;
  padding-bottom: 30px;

  &.flexslider {
    border-bottom: 1px solid $gallery-4;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .post {
    margin-bottom: 0;
  }

  .post-title {
    font-size: 34px;
    letter-spacing: -.7px;
    line-height: 1.4em;
    @media only screen and (max-width: 719px) {
      font-size: 22px;
      letter-spacing: 0;
      line-height: 1.5em;
    }
  }
}

.blog {
  .post {
    margin-bottom: 40px;
  }

  .post-standard {
    margin-bottom: 20px;
  }
}

.single {
  .format-status {
    .entry {
      font-size: 24px;
      line-height: 1.4em;
      @media only screen and (max-width: 719px) {
        font-size: 24px;
        line-height: 1.4em;
      }
    }
  }

  .post {
    margin-bottom: 40px;
  }

  .post-inner {
    .post-thumbnail {
      margin-bottom: 2em;
    }
  }

  .post-standard {
    margin-bottom: 20px;
  }

  .post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1.3em;
    @media only screen and (max-width: 719px) {
      font-size: 22px;
      letter-spacing: 0;
      line-height: 1.5em;
    }
  }

  .related-posts {
    .post-title {
      display: block;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.5em;
      margin-bottom: 10px;
      @media only screen and (max-width: 719px) {
        font-size: 15px;
      }
    }
  }
}

.related-posts {
  border-bottom: 2px solid $gallery-4;
  margin-bottom: 40px;

  li {
    display: inline;
    float: left;
    margin: 0 .2em;
    width: 33.3%;
    @media only screen and (max-width: 719px) {
      width: 50%;
    }

    &:nth-child(2) {
      article {
        @media only screen and (max-width: 719px) {
          border-right-color: transparent;
        }
      }
    }

    &:nth-child(3) {
      @media only screen and (max-width: 719px) {
        display: none;
      }
      article {
        border-right-color: transparent;
      }
    }

    &:nth-child(4) {
      @media only screen and (max-width: 719px) {
        display: none;
      }
      article {
        display: none;
      }
    }
  }

  .post {
    border-right: 1px solid transparent;
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .related-inner {
    padding: 0 20px 0 0;
  }
}

.format-quote {
  .post-format {
    blockquote {
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.4em;
      @media only screen and (max-width: 719px) {
        font-size: 18px;
      }
    }

    .quote-author {
      font-style: italic;
    }
  }
}

.format-link {
  .post-format {
    p {
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.4em;
      @media only screen and (max-width: 479px) {
        margin-bottom: 5px;
      }
      @media only screen and (max-width: 719px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

.format-chat {
  .post-format {
    p {
      font-style: italic;
    }
  }
}

.format-audio {
  .post-format {
    a {
      font-size: 16px;
      line-height: 22px;
    }

    i {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.format-status {
  .post-title {
    display: none;
  }
}

.format-aside {
  .post-title {
    display: none;
  }
}

.format-gallery {
  .post-format {
    .flexslider {
      margin-bottom: -20px;
      overflow: visible;
      padding-bottom: 30px;

      .flex-control-nav {
        bottom: 1px;
      }

      .slides {
        background: $mine-shaft-darker3;
        overflow: hidden;
        position: relative;

        img {
          @include box-shadow(0 0 30px $black-60);
          max-height: 405px;
          max-width: 100%;
          width: auto;
          @media only screen and (max-width: 719px) {
            max-height: 240px;
          }
        }
      }
    }

    .flex-direction-nav {
      a {
        &:before {
          color: $white-fallback;
        }
      }
    }
  }
}
