.toggle-search {
  @include box-shadow(-1px 0 0 $white-10);
  color: $white-fallback;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 20px;
  position: absolute;
  right: 0;
  top: -50px;
  @media only screen and (max-width: 719px) {
    @include box-shadow(1px 0 0 $white-10);
    left: 0;
    right: auto;
    top: 0;
  }

  &:hover {
    background: $black-15;
    color: $white-fallback;
  }

  &.active {
    background: $black-15;
    color: $white-fallback;
  }
}

.search-expand {
  @include box-shadow(0 1px 0 $white-10);
  background: $shark;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  @media only screen and (max-width: 719px) {
    left: 0;
    right: auto;
    top: 50px;
    width: 320px;
  }

  .themeform {
    input {
      @include border-radius(0);
      border: 2px solid $mercury-lighter;
      width: 100%;
    }
  }
}

.search-expand-inner {
  background: $black-15;
  padding: 15px;
}

.search {
  .post {
    margin-bottom: 40px;
  }

  .post-standard {
    margin-bottom: 20px;
  }

  .page {
    margin-bottom: 40px;

    &.type-page {
      .post-thumbnail {
        display: none;
      }

      .post-meta {
        display: none;
      }
    }
  }
}
