.sharrre {
  padding: 10px 0 0;

  .box {
    display: block;
    width: 50px;

    &:hover {
      .count {
        color: $tundora;
      }

      .share {
        color: $tundora;
      }
    }

    .count {
      @include transition(all .3s ease);
    }

    .share {
      @include transition(all .3s ease);
    }
  }

  .count {
    @include border-radius(4px);
    background: $gallery-4;
    color: $mine-shaft-darker2;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    
    &:after {
      border: 6px solid transparent;
      border-top-color: $gallery-4;
      bottom: -12px;
      content: '';
      display: block;
      height: 0;
      left: 49%;
      margin-left: -6px;
      position: absolute;
      width: 0;
    }
  }

  .share {
    display: block;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 12px;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }

  &#twitter {
    .count {
      color: $cerulean;
    }

    .share {
      color: $cerulean;
    }
  }

  &#facebook {
    .count {
      color: $chambray;
    }

    .share {
      color: $chambray;
    }
  }

  &#googleplus {
    .count {
      color: $mojo;
    }

    .share {
      color: $mojo;
    }
  }

  &#pinterest {
    .count {
      color: $cardinal;
    }

    .share {
      color: $cardinal;
    }
  }  
}

.sharrre-container {
  @include border-radius(4px);
  float: right;
  margin-right: -100px;
  padding: 0 10px;
  width: 50px;
  @media only screen and (max-width: 719px) {
    float: left;
    margin: 20px 0 0;
    padding: 0;
    position: relative;
    width: auto;
  }

  span {
    color: $silver-chalice;
    display: block;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (max-width: 719px) {
      text-align: left;
    }
  }

  > div {
    float: left;
    margin-right: 10px;
  }
}
