.sidebar {
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  @media only screen and (max-width: 479px) {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
    background: $gallery-lighter;
    display: block;
  }
  .pad {
    padding-left: 20px;
    padding-right: 20px;
  }
  .post-nav {
    li {
      a {
        border-top: 1px solid $gallery-4;
        border-bottom: 1px solid $alto;
        &:hover {
          background: $gallery-darker;
          background: $black-2;
        }
      }
      &.previous {
        a {
          border-bottom: 1px solid $alto;
        }
      }
      &.next {
        a {
          border-bottom: 1px solid $alto;
        }
      }
    }
  }
  .s1 {
    @include align-self(stretch);
    @media only screen and (max-width: 479px) {
      @include align-self(stretch);
    }
  }
  .widget {
    padding: 20px;
    // padding: 30px 30px 20px;
    @media only screen and (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.sidebar-top {
  padding: 15px 30px;
  @media only screen and (max-width: 479px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  p {
    float: left;
    color: $white-fallback;
    color: $white-80;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;;
    line-height: 24px;
    padding: 3px 0;
  }
}
.sidebar-toggle {
  @include box-shadow(inset 0 -1px 0 $white-10);
  display: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  // height: 60px;
  height: 3em;
  i {
    font-size: 38px;
    color: $white-fallback;
    padding-top: 5px;
    // padding: 10px 0;
  }
}
.s1 {
  width: 500px;
  background-color: $gallery-4;
  z-index: 2;
  @media only screen and (max-width: 719px) {
    width: 50px; // width: 40px;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    width: 50px;
  }
  &:hover {
    z-index: 98;
  }
  .sidebar-content {
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      display: none;
      float: left;
      width: 100%;
    }
  }
  .sidebar-top {
    background: $boston-blue;
    @media only screen and (min-width: 479px) and (max-width: 960px) {
      background: none;
      border-bottom: 1px solid $alto;
    }
    p {
      @media only screen and (min-width: 479px) and (max-width: 960px) {
        color: $dove-gray;
      }
    }
    .social-links {
      .social-tooltip {
        @media only screen and (min-width: 479px) and (max-width: 960px) {
          color: $dove-gray;
        }
      }
    }
  }
  .sidebar-toggle {
    background: $boston-blue;
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      display: block;
    }
  }
  .post-nav {
    li {
      a {
        &:hover {
          i {
            color: $boston-blue;
          }
        }
      }
    }
  }
  .alx-tab {
    li {
      &:hover {
        .post-item-title {
          a {
            color: $boston-blue;
          }
        }
        .tab-item-title {
          a {
            color: $boston-blue;
          }
        }
        .tab-item-comment {
          a {
            color: $boston-blue;
          }
        }
      }
    }
    .tab-item-category {
      a {
        color: $boston-blue;
      }
    }
  }
  .alx-posts {
    .post-item-title {
      font-size: 18px;
      line-height: 1.4em;
      font-weight: 300;
    }
    .post-item-category {
      font-size: 14px;
      a {
        color: $boston-blue;
      }
    }
    .post-item-date {
      font-size: 14px;
    }
  }
  .alx-tabs-nav {
    li {
      &.active {
        a {
          border-bottom-color: $boston-blue;
        }
      }
    }
  }
  .widget_calendar {
    a {
      color: $boston-blue;
    }
    caption {
      background: $boston-blue;
    }
  }
  .widget_rss {
    ul {
      li {
        a {
          color: $boston-blue;
        }
      }
    }
  }
}
.s2 {
  width: 260px; //width: 50px;
  z-index: 1;
  @media only screen and (max-width: 479px) {
    right: 0;
    left: 0;
  }
  @media only screen and (max-width: 719px) {
    width: 50px; //width: 40px;
  }
  @media only screen and (min-width: 480px) and (max-width: 1200px) {
    width: 50px;
  }
  
  .sidebar-top {
    background: $mantis;
    @media only screen and (min-width: 480px) and (max-width: 1200px) {
      background: none;
      border-bottom: 1px solid $alto;
    }
  
    p {
      @media only screen and (min-width: 480px) and (max-width: 1200px) {
        color: $dove-gray;
      }
    }
  }

  .sidebar-toggle {
    background: $mantis;
    display: block;
    // height: 60px;
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      // height: 60px;
    }
    @media only screen and (min-width: 480px) and (max-width: 1200px) {
      display: block;
    }
    i {
      font-size: 38px;
      color: $white-fallback;
      // padding: 10px 0;
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        // padding: 10px 0;
      }
    }
  }

  .sidebar-content {
    display: none;
    float: left;
    width: 100%;
    @media only screen and (min-width: 480px) and (max-width: 1200px) {
      display: none;
      float: left;
      width: 100%;
    }
  }
  .post-nav {
    li {
      a {
        &:hover {
          i {
            color: $mantis;
          }
        }
      }
    }
  }
  .alx-tab {
    li {
      &:hover {
        .post-item-title {
          a {
            color: $mantis;
          }
        }
        .tab-item-title {
          a {
            color: $mantis;
          }
        }
        .tab-item-comment {
          a {
            color: $mantis;
          }
        }
      }
    }
    .tab-item-category {
      a {
        color: $mantis;
      }
    }
  }
  .alx-posts {
    .post-item-category {
      a {
        color: $mantis;
      }
    }
  }
  .alx-tabs-nav {
    li {
      &.active {
        a {
          border-bottom-color: $mantis;
        }
      }
    }
  }
  .widget_calendar {
    a {
      color: $mantis;
    }
    caption {
      background: $mantis;
    }
  }
  .widget_rss {
    ul {
      li {
        a {
          color: $mantis;
        }
      }
    }
  }
}

.s1-expand {
  .s1 {
    @include transition(width .2s ease);
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      background: $gallery-lighter;
      bottom: 0;
      margin: 0;
      overflow: auto;
      position: absolute;
      top: 0;
      width: 340px;
      z-index: 9;
    }

    .sidebar-content {
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        display: block;
        min-width: 340px;
      }
    }
    .post-nav {
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        display: block;
        min-width: 340px;
      }
    }
  }
}

.s1-collapse {
  .s1 {
    .sidebar-content {
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        display: none;
      }
    }

    .sidebar {
      .post-nav {
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          display: none;
        }
      }
    }
  }
}

.s2-expand {
  .s2 {
    @include transition(width .2s ease);
    @media only screen and (min-width: 480px) and (max-width: 1200px) {
      background: $gallery-lighter;
      bottom: 0;
      margin: 0;
      overflow: auto;
      position: absolute;
      top: 0;
      width: 260px;
      z-index: 9;
    }

    .sidebar-content {
      @media only screen and (min-width: 480px) and (max-width: 1200px) {
        display: block;
        min-width: 260px;
      }
    }
  }
}

.s2-collapse {
  .s2 {
    .sidebar-content {
      display: none;
    }
  }
}

.mobile-sidebar-hide-s1 {
  .s1 {
    @media only screen and (max-width: 479px) {
      display: none;
    }
  }
}

.mobile-sidebar-hide-s2 {
  .s2 {
    @media only screen and (max-width: 479px) {
      display: none;
    }
  }
}

.mobile-sidebar-hide {
  .sidebar {
    @media only screen and (max-width: 479px) {
      display: none;
    }
  }
}
