.social-links {
	float: right;
	position: relative;
	padding-top: 2px;
	li {
		display: inline-block;
		margin-left: 8px;
		line-height: 16px;
		font-size: 0;
		a {
			display: block;
			position: relative;
			text-align: center;
		}
	}
	.social-tooltip {
		color: $white-fallback;
		color: $black-70;
		font-size: 24px;
		display: inline;
		position: relative;
		z-index: 98;
		&:hover {
			color: $white-fallback;
			text-decoration: none;
			&:before {
				top: -10px;
				right: 8px;
				border: solid;
				border-color: $white-fallback transparent;
				border-width: 5px 5px 0 5px;
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
			}
			&:after {
				@include border-radius(3px);
				@include box-shadow(0 0 2px $black-20);
				top: -36px;
				background: $white-fallback;
				font-size: 14px;
				color: $dove-gray;
				content: attr(title);
				display: block;
				right: 0;
				padding: 5px 15px;
				position: absolute;
				white-space: nowrap;
			}
		}
	}
}