.themeform {
	&.searchform {
		div {
			position: relative;
			&:after {
				color: $silver;
				line-height: 24px;
				font-size: 14px;
				content: '\f002';
				position: absolute;
				left: 10px;
				top: 6px;
				font-family: $fa;
			}
			input {
				padding-left: 26px;
				line-height: 20px;
			}
		}
	}
	button {
		@include appearance(none);
		@include transition(all 0.2s ease);
		@include border-radius(0);
		@include box-sizing(border-box);
		margin: 0;
		font-size: 14px;
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
		&[type='submit'] {
			@extend %themeformsubmit;
			&:hover {
				background: $tundora;
			}
		}
	}
	input {
		@include appearance(none);
		@include transition(all 0.2s ease);
		font-size: 14px;
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
		&[type='text'] {
			@extend %themeform;
			@include border-radius(0);
			@include box-sizing(border-box);
			margin: 0;
			&:focus {
				@extend %themeformfocus;
			}
		}
		&[type='password'] {
			@extend %themeform;
			@include border-radius(0);
			@include box-sizing(border-box);
			margin: 0;
			&:focus {
				@extend %themeformfocus;
			}
		}
		&[type='email'] {
			@extend %themeform;
			@include border-radius(0);
			@include box-sizing(border-box);
			margin: 0;
			&:focus {
				@extend %themeformfocus;
			}
		}
		&[type='submit'] {
			@extend %themeformsubmit;
			@include border-radius(0);
			@include box-sizing(border-box);
			margin: 0;
			&:hover {
				background: $tundora;
			}
		}
		&[type='checkbox']{
			@include appearance(checkbox);
		}
		&[type='radio'] {
			@include appearance(radio);
		}
	}
	label {
		font-size: 14px;
		font-weight: 600;
		color: $tundora;
		.required {
			color: $boston-blue;
		}
	}
	select {
		font-size: 14px;
	}
	textarea {
		@extend %themeform;
		@include appearance(none);
		@include transition(all 0.2s ease);
		@include border-radius(0);
		@include box-sizing(border-box);
		margin: 0;
		font-size: 14px;
		&:focus {
			@extend %themeformfocus;
		}
	}
}