// Theme Info
$theme-name: 'angrypress';
$theme-uri: 'http://alxmedia.se/themes/hueman/';
$version: '2.3';
$desc: '<a href="http://alxmedia.se/themes/hueman/">Hueman</a> is a responsive 100% high resolution theme for blogs and magazines. Unique toggle sidebars give a great browsing and reading experience on both tablet and mobile. The feature list is long: Unlimited topbar, header, footer and accent colors, unlimited widget areas, 0-2 sidebars to the left or right that can be uniquely specified for each page or post, 300px / 220px fixed width sidebars, 0-4 footer widget columns, almost zero layout images, related posts and post nav, featured story or slider, 10 post formats, good SEO, 3 flexible custom widgets, localisation support, social links, logo upload and many more useful admin panel features.';
$author: 'Alexander Agnarson';
$author-uri: 'http://alxmedia.se';
$tags: 'light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, fluid-layout, fixed-layout, custom-colors, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready';
$text-domain: 'hueman';
$license: 'GNU General Public License v3.0';

// Colors
$white-fallback: #fff;
$boston-blue: #3b8dbd;
$gallery: #eaeaea;
$gallery-4: #eee;
$dove-gray: #666;
$tundora: #444;
$gallery-lighter: #f0f0f0;
$seashell: #f1f1f1;
$gray: #888;
$tuna: #33363b;
$black-fallback: #000;
$mine-shaft: #222;
$mercury: #e4e4e4;
$cod-gray: #111;
$silver-chalice: #aaa;
$alto: #ddd;
$silver: #ccc;
$boulder: #777;
$gallery-darker: #ebebeb;
$mercury: #e9e9e9;
$alabaster: #f9f9f9;
$dusty-gray: #999;
$silver-darker: #bbb;
$dolly: #fff486;
$mine-shaft-darker: #383838;
$mine-shaft-darker2: #333;
$mine-shaft-darker3: #262626;
$mercury-lighter: #e2e2e2;
$concrete: #f2f2f2;
$mantis: #82b965;
$shark: #26272b;
$cerulean: #00acee;
$mojo: #cd483c;
$chambray: #3b5999;
$cardinal: #ca2128;
$chestnut: #b94a48;
$cavern-pink: #e3bfbf;
$bizarre: #f2dede;

$black-2: rgba(0, 0, 0, .02);
$black-4: rgba(0, 0, 0, .04);
$black-5: rgba(0, 0, 0, .05);
$black-10: rgba(0, 0, 0, .1);
$black-15: rgba(0, 0, 0, .15);
$black-20: rgba(0, 0, 0, .2);
$black-25: rgba(0, 0, 0, .25);
$black-30: rgba(0, 0, 0, .3);
$black-40: rgba(0, 0, 0, .4);
$black-60: rgba(0, 0, 0, .6);
$black-70: rgba(0, 0, 0, .7);
$black-80: rgba(0, 0, 0, .8);
$black: rgba(0, 0, 0, 1);

$white-3: rgba(255, 255, 255, .03);
$white-5: rgba(255, 255, 255, .05);
$white-6: rgba(255, 255, 255, .06);
$white-10: rgba(255, 255, 255, .1);
$white-15: rgba(255, 255, 255, .15);
$white-25: rgba(255, 255, 255, .25);
$white-40: rgba(255, 255, 255, .4);
$white-50: rgba(255, 255, 255, .5);
$white-60: rgba(255, 255, 255, .6);
$white-70: rgba(255, 255, 255, .7);
$white-80: rgba(255, 255, 255, .8);
$white: rgba(255, 255, 255, 1);

// Fonts
/// Georgia font stack.
/// @type List
$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;

/// Helvetica font stack.
/// @type List
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

/// Lucida Grande font stack.
/// @type List
$lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;

/// Monospace font stack.
/// @type List
$monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
$code: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

/// Verdana font stack.
/// @type List
$verdana: "Verdana", "Geneva", sans-serif;

$open-sans: 'Open Sans';
$helvetica: 'Helvetica';
$arial: 'Arial';
$sans-serif: 'sans-serif';
$fa: 'FontAwesome';
$monaco: 'Monaco';
$courier-new: 'Courier New';
$dejavu: 'DejaVu Sans Mono';
$bitstream: 'Bitstream Vera Sans Mono';
$mono: 'monospace';

// Image and Font URLs
$fonts: url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400');
$pre: url('img/pre.png');
$s1-right: url('img/sidebar/s-right-s1.png');
$s-left: url('img/sidebar/s-left.png');
$s2-right: url('img/sidebar/s-right-s2.png');
$right-dual: url('img/sidebar/s-right-dual-full-expand.png');
$left-dual: url('img/sidebar/s-left-dual-full-expand.png');
$opacity10: url('img/opacity-10.png');
$opacity70: url('img/ie/opacity-70.png');
$opacity80: url('img/ie/opacity-80-light.png');

$right-collapse: url('img/sidebar/s-right-collapse.png');
$r-dual-half: url('img/sidebar/s-right-dual-half-collapse.png');
$l-dual-half: url('img/sidebar/s-left-dual-half-collapse.png');
$r-dual-full: url('img/sidebar/s-right-dual-full-collapse.png');
$l-dual-full: url('img/sidebar/s-left-dual-full-collapse.png');
$right-collapse40: url('img/sidebar/s-right-collapse-40.png');
$r-dual-full40: url('img/sidebar/s-right-dual-full-collapse-40.png');
$l-dual-full40: url('img/sidebar/s-left-dual-full-collapse-40.png');

$kilogram-eot: url('fonts/KiloGram_KG-webfont.eot');
$kilogram-eot-fix: url('fonts/KiloGram_KG-webfont.eot?#iefix');
$kilogram-woff: url('fonts/KiloGram_KG-webfont.woff');
$kilogram-ttf: url('fonts/KiloGram_KG-webfont.ttf');
$kilogram-svg: url('fonts/KiloGram_KG-webfont.svg#kilogramregular');