.widget {
	color: $boulder;
	font-size: 15px;
	overflow: hidden;
	a {
		color: $boulder;
		&:hover {
			color: $tundora;
		}
	}
	select {
		border: 1px solid $alto;
		color: $boulder;
		font-size: 15px;
		padding: 7px;
		width: 100%;
		max-width: 100%;
	}
	> div {
		> ul {
			li {
				a {
					&:before {
						@extend %widget_before;
					}
				}
			}
		}
	}
	> h3 {
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 6px;
		a {
			color: $tundora;
			&:hover {
				color: $tundora;
			}
			img {
				display: none;
				float: left;
				margin: 3px 7px 0 0;
			}
		}
	}
	> ul {
		li {
			&:before {
				@extend %widget_before;
			}
			a {
				&:before {
					@extend %widget_before;
				}
				&:hover {
					&:before {
						color: $dusty-gray;
					}
				}
			}
		}
	}
}
.widget_archive {
	ul {
		li {
			color: $silver-darker;
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			a {
				&:before {
					content: '\f073';
				}
			}
		}
	}
}
.widget_calendar {
	a {
		font-weight: 600;
		&:hover {
			color: $tundora;
		}
	}
	caption {
		color: $white-fallback;
		padding: 5px 10px;
		&:before {
			@include inline-block;
			content: '\f073';
			font-family: $fa;
			margin-right: 6px;
			width: 1em;
			color: $white-fallback;
			color: rgba(255,255,255,0.7);
			font-size: 15px;
			text-align: center;
		}
	}
	thead {
		@include box-shadow(inset 0 -1px 0 $alto);
		background: $mercury-lighter;
	}
	td {
		@extend %widget_calendar;
	}
	th {
		@extend %widget_calendar;
		font-weight: 600;
	}
	> h3 {
		margin-bottom: 1em;
	}
	.pad {
		padding: 0;
	}
	#wp-calendar {
		width: 100%;
	}
}
.widget_categories {
	ul {
		li {
			color: $silver-darker;
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			a {
				&:before {
					content: '\f07c';
				}
			}
		}
	}
}
.widget_links {
	ul {
		li {
			color: $silver-darker;
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			a {
				&:before {
					content: '\f08e';
				}
			}
		}
	}
}
.widget_meta {
	ul {
		li {
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			a {
				&:before {
					content: '\f0da';
				}
			}
		}
	}
}
.widget_nav_menu {
	li {
		li {
			a {
				padding-left: 15px;
			}
			li {
				a {
					padding-left: 30px;
				}
			}
		}
	}
	ul {
		li {
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
			a {
				display: block;
				&:before {
					content: '\f068';
				}
			}
		}
		ul {
			border: 0;
			ul {
				border: 0;
			}
		}
	}
}
.widget_pages {
	li {
		li {
			a {
				padding-left: 15px;
			}
			li {
				a {
					padding-left: 30px;
				}
			}
		}
	}
	ul {
		li {
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
			a {
				display: block;
				&:before {
					content: '\f068';
				}
			}
		}
		ul {
			border: 0;
			ul {
				border: 0;
			}
		}
	}
}
.widget_recent_entries {
	ul {
		li {
			color: $dusty-gray;
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			a {
				&:before {
					content: '\f017';
				}
			}
		}
	}
	.post-date {
		display: block;
	}
}
.widget_recent_comments {
	cite {
		color: $dusty-gray;
	}
	span {
		&.rss-date {
			color: $tundora;
			font-weight: 600;
			display: block;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	ul {
		li {
			color: $dusty-gray;
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
		}
	}
	> ul {
		> li {
			&:before {
				content: '\f075';
			}
		}
	}
}
.widget_rss {
	ul {
		li {
			padding: 10px 0;
			border-bottom: 1px solid $mercury;
			a {
				display: block;
			}
		}
	}
}
.widget_search {
	input {
		&.search {
			color: $dusty-gray;
			padding-left: 26px;
			width: 100%;
		}
	}
	> h3 {
		margin-bottom: 1em;
	}
	.screen-reader-text {
		display: none;
	}
	#searchsubmit {
		display: none;
	}
}
.widget_tag_cloud {
	> h3 {
		margin-bottom: 1em;
	}
}
.widget_text {
	> h3 {
		margin-bottom: 1em;
	}
	.textwidget {
		p {
			margin-bottom: 1em;
		}
	}
}