.wp-pagenavi {
	text-align: right;
	font-weight: 600;
	line-height: 20px;
	float: none;
	margin-right: -2px;
	text-align: center;
	a {
		color: $silver-chalice;
		font-size: 16px;
		padding: 7px 8px;
		display: inline;
		margin: 0 2px;
		color: $boston-blue;
		border: none;
		border-bottom: 3px solid $boston-blue;
		border-top: 1px solid $seashell;
		&:hover {
			color: $tundora;
			background: none;
			border: none;
			border-bottom: 3px solid $boston-blue;
			border-top: 1px solid $seashell;
		}
		&:active {
			color: $tundora;
			background: none;
			border: none;
			border-bottom: 3px solid $boston-blue;
			border-top: 1px solid $seashell;
		}
	}
	span {
		color: $silver-chalice;
		font-size: 16px;
		padding: 7px 8px;
		display: inline;
		margin: 0 2px;
		&.current {
			color: $tundora;
			background: none;
			border: none;
			border-bottom: 3px solid $boston-blue;
			border-top: 1px solid $seashell;
		}
		&.pages {
			font-size: 17px;
			font-weight: 300;
			display: block;
			margin-bottom: 1em;
			border: none;
			&:before {
				content: '\f15c';
				font-family: $fa;
				margin-right: 6px;
			}
		}
		&.extend {
			border: none;
			border-bottom: 3px solid transparent;
			border-top: 1px solid transparent;
		}
	}
}