.wpcf7 {
	div {
		&.wpcf7-validation-errors {
			border: none;
			margin: 0;
			padding: 0;
		}
		&.wpcf7-mail-sent-ok {
			border: none;
		}
		&.wpcf7-mail-sent-ng {
			border: none;
		}
		&.wpcf7-response-output {
			margin: 0;
			padding: 0;
		}
	}
	input {
		&[type='text'] {
			@extend %textarea;
		}
		&[type='email'] {
			@extend %textarea;
		}
		&[type='submit'] {
			width: 100%;
			padding: 10px 0;
			font-size: 18px;
		}
	}
	label {
		display: block;
		float: left;
		width: 20%;
		margin: 9px 0 0 12px;
		text-align: left;
	}
	p {
		color: $mine-shaft;
		font-weight: 600;
		margin: 0 0 12px;
		width: 100%;
		float: left;
		position: relative;
		span {
			font-weight: 400;
			color: $dusty-gray;
		}
	}
	span {
		&.wpcf7-form-control-wrap {
			display: block;
			position: relative;
		}
		&.wpcf7-not-valid-tip {
			background: $bizarre;
			border-color: $cavern-pink;
			color: $chestnut;
			padding: 4px 14px;
			font-size: 12px;
			line-height: 20px;
			position: absolute;
			left: 0;
			top: 12px;
			width: auto;
			right: 0;
			display: block;
		}
	}
	textarea {
		@extend %textarea;
	}
}