@import 'compass';
@import 'compass/css3/selection';
@import 'compass/css3/flexbox';
@import 'susy';
@import 'breakpoint';

@import 'vars';

/*!
Theme Name: #{$theme-name}
Theme URI: #{$theme-uri}
Version: #{$version}
Description: #{$desc}
Author: #{$author}
Author URI: #{$author-uri}
Tags: #{$tags}
Text Domain: #{$text-domain}

Copyright: (c) 2013 Alexander "Alx" Agnarson
License: #{$license}
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400);
@include font-face('kilogram', font-files('KiloGram_KG-webfont.woff', 'KiloGram_KG-webfont.ttf', 'KiloGram_KG-webfont.svg#kilogramregular'), 'KiloGram_KG-webfont.eot');

@import 'compass/reset';
@import 'extend';

* {
  @include selection($boston-blue, $white-fallback);
  html {
    .slides {
      height: 1%;
    }
  }
}

html {
  -webkit-font-smoothing: antialiased; // safari fix
  [xmnls] .slides {
    display: block;
  }
}

body {
  background: $gallery;
  color: $dove-gray;
  font-family: 'Open Sans', $helvetica;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %h;
}

a {
  @extend %a;
  color: $boston-blue;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $tundora;
  }

  &:before {
    @extend %a;
  }

  &:after {
    @extend %a;
  }
  
  img {
    @include transition(opacity .2s ease);
  }
}

hr {
  @extend %hr;
}

img {
  height: auto;
  max-width: 100%;
}

input {
  font-family: inherit;
}

li {
  #reply-title {
    border-top: 0;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

textarea {
  font-family: inherit;
}

button {
  font-family: inherit;
}

select {
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: italic;
}

cite {
  font-style: italic;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

.left {
  .alignleft {
    float: left;
  }
}

.right {
  .alignright {
    float: right;
  }
}

.pad {
  @include flexbox((
    display: flex,
    flex-flow: column
  ));
  padding: 30px 30px 20px;
  @media only screen and (max-width: 479px) {
    padding: 15px;
  }
  @media only screen and (max-width: 719px) {
    padding: 20px 20px 10px;
  }
}

@import 'author';
@import 'alx-widgets';
@import 'child-menu';
@import 'columns';
@import 'comments';
@import 'container';
@import 'entry';
@import 'flexslider';
@import 'jplayer';
@import 'ie';
@import 'nav';
@import 'footer';
@import 'page';
@import 'post';
@import 'search';
@import 'sharrre';
@import 'sidebars';
@import 'social-links';
@import 'widget';
@import 'wp-pagenavi';
@import 'wpcf7';
@import 'wp-core';

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.group { //rename to clearfix
  zoom: 1; // For IE 6/7 only, include this rule to trigger hasLayout and contain floats.

  &:before {
    content: ' '; // Opera fix
    display: table;
  }

  &:after {
    clear: both;
    content: ' '; // Opera fix
    display: table;
  }
}

.container {
  padding: 0 10px;
  @media only screen and (max-width: 719px) {
    padding: 0;
  }
  @media only screen and (min-width: 480px) and (max-width: 1200px) {
    padding: 0 10px;
  }
}

.grid {
  display: inline;
  float: left;
  margin-right: 3.2%;
  position: relative;
  @media only screen and (max-width: 719px) {
    margin: 0 0 10px;
    width: 100%;
  }
}

.last {
  clear: right;
  margin-right: 0;
}

.one-full {
  margin-right: 0;
  overflow: hidden;
  width: 100%;
}

.one-half {
  width: 48.4%;
}

.one-third {
  width: 31.2%;
}

.two-third {
  width: 65.6%;
}

.one-fourth {
  width: 22.6%;
}

.three-fourth {
  width: 74.2%;
}

.one-fifth {
  width: 17.4%;
}

.two-fifth {
  width: 38.1%;
}

.three-fifth {
  width: 58.7%;
}

.four-fifth {
  width: 79.4%;
}

.container-inner {
  margin: 0 auto;
  max-width: 1440px;
  // min-width: 1380px;
  width: 100%;
  @media only screen and (max-width: 1200px) {
    min-width: 320px;
  }
}

.main {
  background-color: $white-fallback;
  position: relative;
  @media only screen and (max-width: 479px) {
    @include display-flex;    
    background-image: none;
    padding: 0;
  }
}

.main-inner {
  @include display-flex;
  min-height: 600px;
  position: relative;
  @media only screen and (max-width: 479px) {
    @include display-flex;
    background-image: none;
    padding: 0;
  }
}

.content {
  position: relative;
  width: 100%;
  @media only screen and (max-width: 479px) {
    @include display-flex;
    background-image: none;
    padding: 0;
  }

  .post {
    overflow: hidden;
    position: relative;
  }

  .page {
    overflow: hidden;
    position: relative;
  }

  .post-nav {
    border-bottom: 2px solid $gallery-4;
    border-top: 2px solid $gallery-4;
    margin-bottom: 40px;

    li {
      width: 50%;
      @media only screen and (max-width: 719px) {
        @include box-shadow(none);
        width: 100%;
      }

      &.next {
        @include box-shadow(-1px 0 0 $gallery-4, inset 1px 0 0 $gallery-4);
        float: right;

        a {
          padding-left: 24px;
        }
      }

      &.previous {
        @include box-shadow(1px 0 0 $gallery-4, inset -1px 0 0 $gallery-4);
        float: left;

        a {
          padding-right: 24px;

          &:hover {
            i {
              color: $boston-blue;
            }
          }
        }
      }

      a {
        @media only screen and (max-width: 719px) {
          min-height: 0;
        }
      }
    }
  }
}

.full-width {
  &.admin-bar {
    #nav-tobpar {
      &.nav-container {
        top: 32px;
      }
    }
  }

  &.topbar-enabled {
    #header {
      padding-top: 50px;
      @media only screen and (max-width: 719px) {
        padding-top: 0;
      }
    }
  }

  #nav-topbar {
    &.nav-container {
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
}

.notebox {
  background: $gallery-lighter;
  color: $gray;
  margin-bottom: 30px;
  padding: 12px 15px;
  position: relative;
  @media only screen and (max-width: 479px) {
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 719px) {
    margin-bottom: 20px;
  }

  &:before {
    @include inline-block();
    border-bottom: 8px solid $seashell;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    left: 13px;
    position: absolute;
    top: -8px;
  }

  &:after {
    @include inline-block();
    border-bottom: 6px solid $seashell;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    left: 15px;
    position: absolute;
    top: -5px;
  }

  input[type='text'] {
    width: 100%;
  }

  span {
    font-weight: 600;
  }
  
  .search-again {
    margin-top: 10px;
  }
}

.fa {
  text-align: center;
  width: 1em;
}

.boxed {
  #wrapper {
    @include box-shadow(6px 0 0 $black-4, -6px 0 0 $black-4);
    margin: 0 auto;
    max-width: 1380px;
  }

  .container {
    padding: 0;
  }

  #page {
    background: $gallery;
    padding-bottom: 1px;
  }
}

#page {
  margin-top: -60px;
  padding-bottom: 60px;
  @media only screen and (max-width: 719px) {
    margin-top: 0;
    padding-bottom: 10px;
  }
  @media only screen and (max-width: 960px) {
    margin-top: 0;
    // margin-top: -50px;
  }

  .container-inner {
    @include box-shadow(0 1px 1px $black-10);
    background: $white-fallback;
  }

  .format-audio {
    .post-format {
      img {
        @include border-bottom-right-radius(0);
        @include border-bottom-left-radius(0);
      }
    }
  }
}

#wrapper {
  height: 100%;
  min-width: 1024px;
  @media only screen and (max-width: 1200px) {
    min-width: 320px;
  }
  
  // .container-inner {
  //   min-width: 320px;
  // }
}

#header {
  background: $gallery-4;
  padding-bottom: 60px;
  position: relative;
  @media only screen and (max-width: 960px) {
    padding-bottom: 50px;
  }
  @media only screen and (max-width: 719px) {
    padding-bottom: 0;
  }
  
  .pad {
    padding-bottom: 10px;
    padding-top: 10px;
    @media only screen and (max-width: 719px) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  
  .container-inner {
    position: relative;
  }
}

#header-ads {
  float: right;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  
  h3 {
    display: none;    
  }
  
  img {
    display: block;
  }
}

.site-title {
  display: block;
  float: none;
  font-family: 'kilogram', Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 60px;
  padding: 5px 0;
  text-align: center;
  @media only screen and (max-width: 719px) {
    float: none;
    line-height: 50px;
    padding: 30px 0;
    width: 100%;
  }
  @media only screen and (max-width: 479px) {
    font-size: 32px;
  }

  a {
    color: $black-fallback;
    display: block;
    max-width: 100%;
    @media only screen and (max-width: 719px) {
      text-align: center;
    }
    
    img {
      @include border-radius(0);
      display: block;
      height: auto;
      margin: 0 auto;
      max-height: 120px;
      max-width: 100%;
      padding: 0;
    }
  }
}

.site-description {
  color: $black-fallback;
  color: $black;
  float: none;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  margin-left: 20px;
  padding: 0;
  text-align: center;
  @media only screen and (max-width: 719px) {
    display: none;
  }
}

.site-image {
  display: block;
  margin: 0 auto;
  max-height: 250px;
  max-width: 250px;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;
  
  i {
    font-size: 22px;
    margin-right: 6px;
  }
}

.thumb-icon {
  @include border-radius(6px);
  @include transition(all .7s ease);
  @include box-shadow(0 0 2px $white-40);
  @include transform(rotate(45deg));
  background: $black-70;
  color: $white-fallback;
  text-align: center;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 20px;
  left: 20px;

  &.small {
    @include border-radius(4px);
    bottom: 14px;
    height: 24px;
    left: 14px;
    position: absolute;
    width: 24px;
  
    .fa {
      font-size: 14px;
      line-height: 16px;
      padding: 5px 0;
    }
  
    .f-play {
      margin: -1px 0 0 2px;
    }
  }
  
  i {
    @include transform(rotate(-45deg));
    font-size: 18px;
    padding: 7px 0;
  }
  
  .fa-play {
    @include border-radius(4px);
    bottom: 14px;
    height: 24px;
    left: 14px;
    position: absolute;
    width: 24px;
  }
}

.pagination {
  margin-bottom: 15px;
  @media only screen and (max-width: 719px) {
    margin-bottom: 30px;
  }
  
  a {
    font-size: 18px;
    font-weight: 600;
  }
}

.dropcap {
  color: $tundora;
  display: block;
  float: left;
  font-size: 94px;
  font-weight: 600;
  line-height: .9em;
  margin: 0 10px 0 0;
  @media only screen and (max-width: 719px) {
    font-size: 80px;
  }
}

.pullquote-left {
  color: $tundora;
  border-left: 6px solid $gallery-4;
  float: left;
  margin: .78em 1em .78em 0;
  padding-left: 20px;
  font-weight: 600;
  width: 40%;
}

.pullquote-right {
  color: $tundora;
  border-left: 6px solid $gallery-4;
  float: right;
  margin: .78em 1em .78em 0;
  padding-right: 20px;
  font-weight: 600;
  width: 40%;
}

.highlight {
  color: $mine-shaft;
  border-bottom: 1px dotted $mine-shaft;
}

.hr {
  @extend %hr;
}
