/*!
Theme Name: Decode
Theme URI: http://ScottHSmith.com/projects/decode/
Version: 3.0.6
Author: Scott Smith
Author URI: http://ScottHSmith.com/
Description: A minimal, modern theme, designed to be mobile first and fully responsive, Decode features the ability to change all the colors in the theme and an elegant sidebar conveniently accessed by tapping on the menu icon. The sidebar can fit all of your widgets and its position can be customized. You can also choose to keep the sidebar always visible on larger screens for an elegent two-column experience. You can even disable the sidebar and comment links if you choose. Decode supports link posts, where the title can be hyperlinked. Decode includes custom social icons in the header that you can easily link to your choice of 55 different social profiles from Twitter, and Instagram, to Pinterest and LinkedIn, you will be sure to find support for the network you want alongside a bevy of customizations to make your site unique. Decode has been translated into Chinese, Dutch, French, German, Polish, Russian, and Spanish. <a href="http://scotthsmith.com/projects/decode/">More info here</a>
Tags: responsive-layout, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, black, blue, brown, gray, green, orange, pink, purple, red, silver, tan, white, yellow, dark, light
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0-standalone.html
Domain Path: /languages/
Text Domain: decode

Decode is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0  - Reset
	1.1 - Normalize
	1.2 - Elements
	1.3 - Typography
	1.4 - Forms
2.0  - Utilities
	2.1 - Accessibility
	2.2 - Clearing
3.0  - Media
	3.1 - Captions
	3.2 - Galleries
	3.3 - Alignment
4.0  - Header
	4.1 - Site Branding
	4.2 - Social Links
	4.3 - Menus
	4.4 - Breadcrumbs
5.0  - Content
6.0  - Post Formats
	6.1 - Link Posts
	6.2 - Quote Posts
	6.3 - Asides
	6.4 - Audio Posts
7.0  - Author Profiles
	7.1 - Author Cards
	7.2 - Author Pages
8.0  - Comments
9.0  - Navigation
10.0 - Search
11.0 - Sidebar
12.0 - Widgets
13.0 - Explore Page
14.0 - Infinite Scroll
15.0 - Media Queries
	15.1 - Tablets (<35ems)
	15.2 - Desktops (<50ems)
	15.3 - Large Screens (<68.5ems)
	15.4 - Print
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Normalize
--------------------------------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*--------------------------------------------------------------
1.2 - Elements
--------------------------------------------------------------*/
html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ }

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

body {
  background: #ECF0F1;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  height: 1px;
  border: 0;
  margin-bottom: 1.5em;
  background-color: #CCC; }

/* Lists */
ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/* Tables */
table {
  width: 100%;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
1.3 - Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
  color: #4C4C4C;
  font-family: 'Oxygen', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5; }

body {
  -webkit-overflow-scrolling: touch;
  /* Corrects touch events not being passed to body if `-webkit-overflow-scrolling: touch;` is used on any other elements */
  text-align: left;
  margin: 0;
  background-color: #E3E5E7; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  clear: both;
  margin: 0; }

/* Links */
a {
  -webkit-transition: color 0.4s ease;
          transition: color 0.4s ease;
  color: #00B0CC;
  text-decoration: none;
  border-bottom: 0 solid rgba(69, 69, 69, 0);
  background-color: transparent; }
  .no-touch a:hover {
    color: #00B0CC; }
  .no-touch a:active {
    color: #008094; }

.no-touch .site-description a, .no-touch .entry-content a, .no-touch .categories a, .no-touch .tags a, .no-touch .comments-link a, .no-touch .edit-link a, .no-touch .author-site a, .no-touch .theme-info a, .no-touch .site-colophon a {
  -webkit-transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
          transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out; }
  .no-touch .site-description a:hover, .no-touch .entry-content a:hover, .no-touch .categories a:hover, .no-touch .tags a:hover, .no-touch .comments-link a:hover, .no-touch .edit-link a:hover, .no-touch .author-site a:hover, .no-touch .theme-info a:hover, .no-touch .site-colophon a:hover {
    border-bottom: 1px solid #00B0CC; }
  .no-touch .site-description a:active, .no-touch .entry-content a:active, .no-touch .categories a:active, .no-touch .tags a:active, .no-touch .comments-link a:active, .no-touch .edit-link a:active, .no-touch .author-site a:active, .no-touch .theme-info a:active, .no-touch .site-colophon a:active {
    border-bottom: 1px solid #008094; }

/* Copy */
b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

address {
  margin: 0 0 1.5em; }

pre {
  overflow: auto;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  line-height: 1.6;
  max-width: 100%;
  padding: 1.6em;
  margin-bottom: 1.6em;
  background: #EEE; }

code, kbd, tt, var {
  font: 1.15em Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  text-decoration: none;
  background: #FFF9C0; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
1.4 - Forms
--------------------------------------------------------------*/
button, input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-transition: border 0.25s ease-out, color 0.25s ease-out;
          transition: border 0.25s ease-out, color 0.25s ease-out;
  color: #00B0CC;
  min-height: 22px;
  min-height: 2rem;
  padding: 0 0.7em;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  background: transparent; }
  .no-touch button:hover, .no-touch input[type='button']:hover, .no-touch input[type='reset']:hover, .no-touch input[type='submit']:hover {
    border: 1px solid #00B0CC; }
  .no-touch button:focus, .touch button:focus, .no-touch button:active, .touch button:active, .no-touch input[type='button']:focus, .touch input[type='button']:focus, .no-touch input[type='button']:active, .touch input[type='button']:active, .no-touch input[type='reset']:focus, .touch input[type='reset']:focus, .no-touch input[type='reset']:active, .touch input[type='reset']:active, .no-touch input[type='submit']:focus, .touch input[type='submit']:focus, .no-touch input[type='submit']:active, .touch input[type='submit']:active {
    color: #008094;
    border-color: #008094; }

textarea {
  -webkit-transition: border 0.25s ease-out, color 0.25s ease-out, background 0.25s ease-out;
          transition: border 0.25s ease-out, color 0.25s ease-out, background 0.25s ease-out;
  color: #C0C0C0;
  width: 100%;
  padding: 0.3em;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0); }

input[type='text'], input[type='email'], input[type='password'], input[type='search'], input[type='tel'], input[type='url'] {
  -webkit-transition: border 0.25s ease-out, color 0.25s ease-out, background 0.25s ease-out;
          transition: border 0.25s ease-out, color 0.25s ease-out, background 0.25s ease-out;
  color: #C0C0C0;
  width: 100%;
  min-height: 22px;
  min-height: 2rem;
  padding: 0.3em;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0); }

.no-touch input[type='text']:hover, .no-touch input[type='email']:hover, .no-touch input[type='password']:hover, .no-touch input[type='search']:hover, .no-touch input[type='tel']:hover, .no-touch input[type='url']:hover, .no-touch textarea:hover {
  color: #8C8C8C;
  border-color: #8C8C8C; }
.no-touch input[type='text']:focus, .touch input[type='text']:focus, .no-touch input[type='email']:focus, .touch input[type='email']:focus, .no-touch input[type='password']:focus, .touch input[type='password']:focus, .no-touch input[type='search']:focus, .touch input[type='search']:focus, .no-touch input[type='tel']:focus, .touch input[type='tel']:focus, .no-touch input[type='url']:focus, .touch input[type='url']:focus, .no-touch textarea:focus, .touch textarea:focus {
  color: #4C4C4C;
  border-color: #00B0CC;
  outline: none; }

input[type='search'] {
  -webkit-appearance: none;
  /* Override Normalize.css. Allows styling on iOS. */
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* Override Normalize.css. */ }

/*--------------------------------------------------------------
2.0 - Utilities
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Accessibility
--------------------------------------------------------------*/
body .screen-reader-text {
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px; }
  body .screen-reader-text:hover, body .screen-reader-text:active, body .screen-reader-text:focus {
    overflow: visible;
    clip: auto;
    position: static;
    z-index: 100000;
    /* Above WP toolbar */
    width: auto;
    height: auto;
    margin: 0; }

/*--------------------------------------------------------------
2.2 - Clearing
--------------------------------------------------------------*/
/* Micro Clearfix */
.cf:before, .cf:after {
  display: table;
  content: ''; }
.cf:after {
  clear: both; }

.entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  display: table;
  content: ''; }
.entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
3.0 - Media
--------------------------------------------------------------*/
/* Fluid images for posts, comments, and widgets */
.site-branding img, .site-content img, .site-footer img, .sidebar img, img.size-full, .comment-content img, .widget img, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto; }

/* Make sure images with WordPress-added height and width attributes are scaled correctly */
.entry-content img, img[class*='align'], img[class*='wp-image-'] {
  height: auto; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  padding: 0;
  border: none;
  margin-top: 0;
  margin-bottom: 0; }

/*--------------------------------------------------------------
3.1 - Captions
--------------------------------------------------------------*/
.wp-caption {
  max-width: 100%;
  margin-bottom: 1.5em; }

.wp-caption img[class*='wp-image-'] {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.wp-caption-text {
  font-size: 0.85em;
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
3.2 - Galleries
--------------------------------------------------------------*/
.gallery {
  margin: auto auto 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0 4px 4px 0; }

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(50% - 4px); }

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(33.3% - 4px); }

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(25% - 4px); }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(20% - 4px); }

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(16.7% - 4px); }

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(14.28% - 4px); }

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(12.5% - 4px); }

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(11.1% - 4px); }

.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

/* Overwrites Core's default styles (≥ WP 3.8) */
#content .gallery dd.gallery-caption {
  margin: auto; }

.gallery-caption {
  font-size: 0.85em;
  text-align: center;
  margin: auto; }

.gallery-columns-1 .gallery-caption {
  max-width: 20em; }

.gallery-columns-3 .gallery-caption, .gallery-columns-4 .gallery-caption, .gallery-columns-5 .gallery-caption, .gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
  display: none; }

.gallery-columns-6 .gallery-item img, .gallery-columns-7 .gallery-item img, .gallery-columns-8 .gallery-item img, .gallery-columns-9 .gallery-item img {
  margin: 0 auto; }

.gallery a img {
  display: block;
  border: none; }

/*--------------------------------------------------------------
3.3 - Alignment
--------------------------------------------------------------*/
.entry-content .alignleft {
  display: inline;
  float: left;
  margin-right: 2.5%; }
.entry-content .alignright {
  display: inline;
  float: right;
  margin-left: 2.5%; }
.entry-content .aligncenter {
  display: block;
  clear: both;
  margin-right: auto;
  margin-left: auto; }

/*--------------------------------------------------------------
4.0 - Header
----------------------------------------------------------------
4.1 - Site Branding
--------------------------------------------------------------*/
.site {
  overflow: auto;
  width: 100%; }

.site-header {
  width: 100%;
  border-bottom: 1px solid #00B0CC;
  margin: 3.5% auto 0; }

.site-branding {
  text-align: center;
  margin: 1.5% auto 2.5%; }

.site-logo {
  -webkit-transition: opacity 0.5s ease-out;
          transition: opacity 0.5s ease-out;
  width: auto;
  max-height: 9.5em;
  max-height: 9.5rem;
  margin: 0 auto 2%;
  opacity: 1;
  -webkit-user-drag: none;
  user-drag: none; }
  .no-touch .site-logo:hover {
    opacity: 0.75; }
  .no-touch .site-logo:active {
    opacity: 0.85; }

.site-title {
  font-size: 2.15em;
  line-height: 1;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 0 0.5%; }
  .site-title a {
    -webkit-transition: color 0.5s;
            transition: color 0.5s;
    color: #4C4C4C;
    -webkit-font-smoothing: subpixel-antialiased; }
  .no-touch .site-title a:hover {
    color: #00B0CC; }
  .no-touch .site-title a:active {
    color: #008094; }

.page-header {
  text-align: center;
  margin: 0 auto 7.5%; }

.page-title {
  display: inline-block;
  font-size: 1.65em;
  text-align: center;
  padding: 1.5%;
  border-bottom: 1px solid #00B0CC; }

.site-description {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0.75%; }

/*--------------------------------------------------------------
4.2 - Social Links
--------------------------------------------------------------*/
.social-links {
  display: block;
  margin: 1% 0; }

.social-links-container {
  text-align: center;
  margin: 0 auto; }

.social-link {
  -webkit-transition: opacity 0.4s ease-out;
          transition: opacity 0.4s ease-out;
  border: none;
  margin: 0 1%; }
  .no-touch .social-link:hover {
    opacity: 0.6; }
  .no-touch .social-link:active {
    opacity: 0.8; }
  .social-link:first-child {
    margin-left: 0; }
  .social-link:last-child {
    margin-right: 0; }
  .social-link svg, .social-link img {
    overflow: visible;
    width: 2.25em;
    height: 2.25em; }
  .no-inlinesvg .social-link svg {
    display: none; }
  .no-inlinesvg .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 0.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px; }

/* Fallback Images for browsers that don't support Inline SVG */
.no-inlinesvg .TwitterLink {
  background-image: url('images/Twitter.png'); }
.no-inlinesvg .FacebookLink {
  background-image: url('images/Facebook.png'); }
.no-inlinesvg .GooglePlusLink {
  background-image: url('images/GooglePlus.png'); }
.no-inlinesvg .ElloLink {
  background-image: url('images/Ello.png'); }
.no-inlinesvg .ADNLink {
  background-image: url('images/ADN.png'); }
.no-inlinesvg .SinaWeiboLink {
  background-image: url('images/SinaWeibo.png'); }
.no-inlinesvg .MySpaceLink {
  background-image: url('images/MySpace.png'); }
.no-inlinesvg .DiasporaLink {
  background-image: url('images/Diaspora.png'); }
.no-inlinesvg .VKLink {
  background-image: url('images/VK.png'); }
.no-inlinesvg .DribbbleLink {
  background-image: url('images/Dribbble.png'); }
.no-inlinesvg .BehanceLink {
  background-image: url('images/Behance.png'); }
.no-inlinesvg .LinkedInLink {
  background-image: url('images/LinkedIn.png'); }
.no-inlinesvg .PinterestLink {
  background-image: url('images/Pinterest.png'); }
.no-inlinesvg .FancyLink {
  background-image: url('images/Fancy.png'); }
.no-inlinesvg .EtsyLink {
  background-image: url('images/Etsy.png'); }
.no-inlinesvg .PinboardLink {
  background-image: url('images/Pinboard.png'); }
.no-inlinesvg .DeliciousLink {
  background-image: url('images/Delicious.png'); }
.no-inlinesvg .InstagramLink {
  background-image: url('images/Instagram.png'); }
.no-inlinesvg .VSCOLink {
  background-image: url('images/VSCO.png'); }
.no-inlinesvg .Five00pxLink {
  background-image: url('images/500px.png'); }
.no-inlinesvg .FlickrLink {
  background-image: url('images/Flickr.png'); }
.no-inlinesvg .DeviantARTLink {
  background-image: url('images/deviantART.png'); }
.no-inlinesvg .BandcampLink {
  background-image: url('images/Bandcamp.png'); }
.no-inlinesvg .SoundcloudLink {
  background-image: url('images/Soundcloud.png'); }
.no-inlinesvg .iTunesLink {
  background-image: url('images/iTunes.png'); }
.no-inlinesvg .RdioLink {
  background-image: url('images/Rdio.png'); }
.no-inlinesvg .SpotifyLink {
  background-image: url('images/Spotify.png'); }
.no-inlinesvg .LastFmLink {
  background-image: url('images/LastFm.png'); }
.no-inlinesvg .VineLink {
  background-image: url('images/Vine.png'); }
.no-inlinesvg .VimeoLink {
  background-image: url('images/Vimeo.png'); }
.no-inlinesvg .YouTubeLink {
  background-image: url('images/YouTube.png'); }
.no-inlinesvg .KickstarterLink {
  background-image: url('images/Kickstarter.png'); }
.no-inlinesvg .GittipLink {
  background-image: url('images/Gittip.png'); }
.no-inlinesvg .GittipLink {
  background-image: url('images/Goodreads.png'); }
.no-inlinesvg .TumblrLink {
  background-image: url('images/Tumblr.png'); }
.no-inlinesvg .MediumLink {
  background-image: url('images/Medium.png'); }
.no-inlinesvg .SvbtleLink {
  background-image: url('images/Svbtle.png'); }
.no-inlinesvg .WordPressLink {
  background-image: url('images/WordPress.png'); }
.no-inlinesvg .StackOverflowLink {
  background-image: url('images/StackOverflow.png'); }
.no-inlinesvg .redditLink {
  background-image: url('images/reddit.png'); }
.no-inlinesvg .GithubLink {
  background-image: url('images/GitHub.png'); }
.no-inlinesvg .BitbucketLink {
  background-image: url('images/Bitbucket.png'); }
.no-inlinesvg .RunkeeperLink {
  background-image: url('images/Runkeeper.png'); }
.no-inlinesvg .StravaLink {
  background-image: url('images/Strava.png'); }
.no-inlinesvg .FoursquareLink {
  background-image: url('images/Foursquare.png'); }
.no-inlinesvg .YelpLink {
  background-image: url('images/Yelp.png'); }
.no-inlinesvg .SlideShareLink {
  background-image: url('images/SlideShare.png'); }
.no-inlinesvg .ResearchGateLink {
  background-image: url('images/ResearchGate.png'); }
.no-inlinesvg .YouVersionLink {
  background-image: url('images/YouVersion.png'); }
.no-inlinesvg .PSNLink {
  background-image: url('images/PSN.png'); }
.no-inlinesvg .XboxLiveLink {
  background-image: url('images/XboxLive.png'); }
.no-inlinesvg .SteamLink {
  background-image: url('images/Steam.png'); }
.no-inlinesvg .TwitchLink {
  background-image: url('images/Twitch.png'); }
.no-inlinesvg .SkypeLink {
  background-image: url('images/Skype.png'); }
.no-inlinesvg .RSSLink {
  background-image: url('images/RSS.png'); }
.no-inlinesvg .EmailLink {
  background-image: url('images/Email.png'); }
.no-inlinesvg .WebsiteLink {
  background-image: url('images/Website.png'); }

/*--------------------------------------------------------------
4.3 - Menus
--------------------------------------------------------------*/
.menu {
  clear: both;
  width: 100%; }

.horizontal-menu {
  position: relative;
  /* Sets context for absolutely positoned submenus */
  font-size: 1.1em;
  text-align: center; }

.header-menu {
  margin: 2.5% auto 1.5%; }

.sidebar-menu {
  text-align: left;
  margin: 0 auto 1.5em; }

.footer-menu {
  margin: 1.5% auto 3.5%; }

.menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto; }

.sidebar-menu > ul {
  margin-left: 2em; }

.horizontal-menu li {
  display: inline-block;
  margin: 0 0.5em; }

.vertical-menu li {
  display: block;
  position: relative;
  /* Set context for dropdowns*/ }

.menu > ul > li:first-child {
  margin-left: 0; }

.menu > ul > li:last-child {
  margin-right: 0; }

.menu a {
  -webkit-transition: color 0.25s ease;
          transition: color 0.25s ease;
  display: block;
  text-decoration: none; }

.menu a:focus {
  color: #00B0CC; }

/* Display a triangle to indicate that the menu has a child menu. */
.menu .menu-item-has-children > a::after, .menu .page_item_has_children > a::after {
  -webkit-transition: border-color 0.25s ease-out;
          transition: border-color 0.25s ease-out;
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0;
  height: 0;
  margin-left: 0.25em; }

/* Down Arrow */
.menu ul .menu-item-has-children > a::after, .menu ul .page_item_has_children > a::after, .sidebar-menu ul .menu-item-has-children > a::after, .sidebar-menu ul .page_item_has_children > a::after {
  border-top: 5px solid #4C4C4C;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent; }

/* Up Arrow */
.footer-menu ul .menu-item-has-children > a::after, .footer-menu ul .page_item_has_children > a::after {
  border-top: none;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #4C4C4C;
  border-left: 5px solid transparent; }

.menu a {
  color: #4C4C4C; }

.menu ul > .menu-item-has-children > a::after, .menu ul > .page_item_has_children > a::after {
  border-top-color: #4C4C4C; }

.no-touch .menu a:hover, .menu ul li.open > a {
  color: #00B0CC; }

.no-touch .menu ul > .menu-item-has-children > a:hover::after, .no-touch .menu ul > .page_item_has_children > a:hover::after, .menu ul li.open > a::after {
  border-top-color: #008094; }

.no-touch .menu a:active {
  color: #008094; }

.no-touch .menu ul > .menu-item-has-children > a:active::after, .no-touch .menu ul > .page_item_has_children > a:active::after {
  border-top-color: #008094; }

.sidebar-menu a {
  color: #00B0CC; }

.no-touch .sidebar-menu a:hover, .sidebar-menu ul li.open > a {
  color: #008094; }

.sidebar-menu ul .menu-item-has-children > a::after, .sidebar-menu ul .page_item_has_children > a::after {
  border-top-color: #00B0CC; }

.no-touch .sidebar-menu ul .menu-item-has-children > a:hover::after, .no-touch .sidebar-menu ul .page_item_has_children > a:hover::after, .sidebar-menu ul li.open > a::after {
  border-top-color: #008094; }

.footer-menu ul > .menu-item-has-children > a::after, .footer-menu ul > .page_item_has_children > a::after {
  border-bottom-color: #4C4C4C; }

.no-touch .footer-menu ul > .menu-item-has-children > a:hover::after, .no-touch .footer-menu ul > .page_item_has_children > a:hover::after, .footer-menu ul > li.open > a::after {
  border-bottom-color: #00B0CC; }

.no-touch .footer-menu ul > .menu-item-has-children > a:active::after, .no-touch .footer-menu ul > .page_item_has_children > a:active::after {
  border-bottom-color: #008094; }

.menu ul ul {
  display: none;
  float: left;
  position: absolute;
  z-index: 2;
  left: 0;
  padding: 0.25em;
  border-bottom: 2px solid #00B0CC;
  background-color: #ECF0F1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); }

.footer-menu ul ul {
  bottom: 100%;
  width: 100%;
  /* Sets the width of the submenus same as the content */ }

.vertical-menu ul li.open ul {
  float: none;
  position: relative; }

.vertical-menu ul ul a {
  width: 12em; }

.menu ul ul li {
  display: block;
  width: auto; }

.no-touch .menu ul li:hover > ul, .no-touch .menu ul ul:hover, .menu ul li.open > ul {
  display: block; }

.vertical-menu ul ul ul {
  top: 100%;
  left: -0.25em; }

.header-menu ul ul {
  right: 3.75%;
  /* Sets the width of the submenus same as the content */
  left: 3.75%; }

.header-menu ul ul ul {
  top: 90%;
  right: auto;
  /* Sub-submenus won't like the above so we need to reset it */
  left: 0;
  width: 100%; }

/* Current Menu Item Madness */
.menu .current-menu-item > a, .menu .current_page_item > a {
  position: relative;
  color: #00B0CC; }

.menu > ul > .current_page_item.menu-item-has-children > a::after, .menu > ul > .current_page_item.page_item_has_children > a::after {
  border-top-color: #00B0CC; }

.sidebar-menu ul .current-menu-item > a, .sidebar-menu ul .current_page_item > a {
  color: #008094; }

.sidebar-menu ul .current_page_item.menu-item-has-children > a::after, .sidebar-menu ul .current_page_item.page_item_has_children > a::after {
  border-top-color: #008094; }

.footer-menu > ul > .current_page_item.menu-item-has-children > a::after, .footer-menu > ul > .current_page_item.page_item_has_children > a::after {
  border-bottom-color: #00B0CC; }

.menu .current-menu-item > a:hover, .menu .current_page_item > a:hover {
  -webkit-animation: shake 0.25s ease 0.25s;
          animation: shake 0.25s ease 0.25s;
  color: #008094; }

@-webkit-keyframes shake {
  0%, 54%, 90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px); }

  18%, 72% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px); }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes shake {
  0%, 54%, 90% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px); }

  18%, 72% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px); }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

/*--------------------------------------------------------------
4.4 - Breadcrumbs
--------------------------------------------------------------*/
.site-breadcrumbs {
  width: 100%;
  padding: 1.5% 0;
  border-bottom: 1px solid #00B0CC;
  margin: 0 auto; }

.site-breadcrumbs-container {
  width: 92.5%;
  margin: 0 auto; }

/*--------------------------------------------------------------
5.0 - Content
--------------------------------------------------------------*/
.site-content {
  font-size: 1.1em; }

.site-main, .site-footer {
  width: 92.5%;
  margin: 0 auto; }

.site-footer {
  margin-bottom: 3.5%; }

.hentry {
  margin: 0 0 1.5em; }

.byline {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 0 2.5%; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-header {
  text-align: center;
  margin: 5% auto 3.5%; }

.page .entry-header {
  font-size: 1.25em;
  margin: 2.5% auto 5%; }

body.single-attachment .entry-header {
  padding-top: 5%;
  margin-top: 0; }

a .attachment-post-thumbnail {
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  opacity: 1; }
  .no-touch a .attachment-post-thumbnail:hover {
    opacity: 0.8; }
  .no-touch a .attachment-post-thumbnail:active {
    opacity: 0.8; }

.post {
  line-height: 1.65;
  width: 100%;
  margin: 5% auto 10%; }

.entry-title {
  font-size: 1.5em;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 90%;
  margin: 0 auto; }
  .entry-title a {
    color: #4C4C4C; }

.entry-content {
  font-size: 1em; }
  .entry-content p {
    margin-bottom: 1.5em; }
  .entry-content h1 {
    font-size: 2.35em; }
  .entry-content h2 {
    font-size: 2em; }
  .entry-content h3 {
    font-size: 1.65em; }
  .entry-content h4 {
    font-size: 1.375em; }
  .entry-content h5 {
    font-size: 1.25em; }
  .entry-content h6 {
    font-size: 1.125em; }
  .entry-content img {
    margin: 2.5% auto; }
  .entry-content a > img {
    -webkit-transition: opacity 0.25s ease-out;
            transition: opacity 0.25s ease-out;
    opacity: 1; }
  .no-touch .entry-content a:hover > img {
    opacity: 0.8; }
  .no-touch .entry-content a:active > img {
    opacity: 0.8; }
  .entry-content .video-player img {
    margin: 0; }
  .entry-content blockquote {
    font-style: italic;
    padding: 0 0 0 5%;
    border-left: 0.15em solid #00B0CC;
    margin: 1.5% 0; }

.single-attachment .entry-meta {
  margin-top: 1.5%; }
.single-attachment .entry-content .attachment {
  text-align: center; }
  .single-attachment .entry-content .attachment img {
    margin: 0 auto 2.5%; }

.read-more {
  color: #4C4C4C; }

.entry-footer {
  width: 90%;
  padding-bottom: 0.5%;
  border-bottom: 1px solid #00B0CC;
  margin: 0 auto; }

.entry-header .entry-meta {
  display: inline-block;
  width: auto;
  padding: 0 2.5% 1%;
  border-bottom: 1px solid #00B0CC;
  margin: 0 auto 1.5%; }

article .date, article .tags, article .categories {
  clear: both;
  color: #8C8C8C;
  font-size: 0.8em;
  margin: 1.5% 0; }
article .date {
  margin-bottom: 0; }
  article .date a {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    color: #8C8C8C; }
    .no-touch article .date a:hover {
      color: #00B0CC; }
    .no-touch article .date a:active {
      color: #008094; }

.theme-info, .site-colophon {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1em; }
  .theme-info p, .site-colophon p {
    margin-bottom: 0; }

/*--------------------------------------------------------------
6.0 - Post Formats
----------------------------------------------------------------
6.1 - Link Posts
--------------------------------------------------------------*/
.format-link .entry-title a {
  color: #4C4C4C;
  text-decoration: underline; }
  .no-touch .format-link .entry-title a:hover {
    color: #00B0CC;
    border-bottom: none; }
  .no-touch .format-link .entry-title a:active {
    color: #008094;
    border-bottom: none; }

.link-title-arrow {
  padding: 0 0.25em; }

/*--------------------------------------------------------------
6.2 - Quote Posts
--------------------------------------------------------------*/
.format-quote .entry-content {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 3%; }
.format-quote blockquote {
  padding-left: 0;
  border-left: none; }
  .format-quote blockquote p::before {
    font-size: 1.3em;
    content: '\201C'; }
  .format-quote blockquote p::after {
    font-size: 1.3em;
    content: '\201D'; }
.format-quote .decode-reply-tool-plugin {
  font-size: 0.4em; }

/*--------------------------------------------------------------
6.3 - Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-header, .archive .format-aside .entry-header {
  display: none; }

.format-aside .entry-content {
  font-style: italic; }

/*--------------------------------------------------------------
6.4 - Audio Posts
--------------------------------------------------------------*/
/* The WP audio player (before 3.6) has a hardcoded width of 400px, which is BS.
	The player in WordPress 3.6 and up doesn't need this. (≥ WP 3.6) */
.mejs-container {
  max-width: 100% !important; }

/*--------------------------------------------------------------
7.0 - Author Profiles
----------------------------------------------------------------
7.1 - Author Cards
--------------------------------------------------------------*/
.author-section {
  -webkit-transition: box-shadow 0.35s ease-out;
          transition: box-shadow 0.35s ease-out;
  text-align: left;
  padding: 3.5%;
  margin: 0 auto 3.5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  .author-section:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

.author-image {
  float: left;
  width: 25%;
  max-width: 125px; }
  .author-image img {
    -webkit-transition: box-shadow 0.35s ease-out, opacity 0.35s ease-out;
            transition: box-shadow 0.35s ease-out, opacity 0.35s ease-out;
    display: block;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0); }
    .no-touch .author-image img:hover {
      opacity: 1;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
    .no-touch .author-image img:active {
      opacity: 0.85;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); }

.author-text {
  float: left;
  width: 65%;
  margin-left: 5%; }

.author-name {
  font-size: 1.4em; }
  .author-name a {
    color: #4C4C4C; }

.author-site, .author-bio {
  font-size: 0.9em; }

/*--------------------------------------------------------------
7.2 - Author Pages
--------------------------------------------------------------*/
.author .author-section {
  font-size: 1.1em;
  text-align: center;
  width: 90%;
  max-width: 15em;
  padding: 2.5%;
  margin: 7.5% auto 0; }
.author .author-image {
  float: none;
  width: 33%;
  max-width: 175px;
  margin: 0 auto; }
.author .author-text {
  float: none;
  width: 95%;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 - Comments
--------------------------------------------------------------*/
.comments-area {
  margin: 3.5% auto 5%; }

.comment, .comment-body {
  padding-bottom: 2.5%;
  border-bottom: 1px solid #C0C0C0;
  margin: 2.5% 0; }

.comment:last-child, .comment-body:last-child {
  padding-bottom: 0;
  border-bottom: none; }

.comment-content a {
  word-wrap: break-word;
  overflow-wrap: break-word; }

.comment-author.vcard img {
  max-width: 32px;
  border-radius: 100%;
  margin: 0; }

.comment-metadata a {
  color: #8C8C8C;
  font-size: 0.8em;
  margin-right: 1.5%; }
  .no-touch .comment-metadata a:hover {
    color: #00B0CC; }
  .no-touch .comment-metadata a:active {
    color: #008094; }

li.comment {
  list-style: none; }

.comment-respond {
  margin-top: 7.5%; }

/* Comments Form */
.comment-form:not(.jetpack-comments-active) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.comment-form > p {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%; }

.comment-form-comment {
  margin-bottom: -1%; }

.comment-form-comment textarea {
  height: 7em;
  border-radius: 3px 3px 0 3px; }

.form-allowed-tags {
  -webkit-transition: max-height 0.35s ease-out, opacity 0.35s ease-out, border-color 0.35s ease-out;
          transition: max-height 0.35s ease-out, opacity 0.35s ease-out, border-color 0.35s ease-out;
  overflow: hidden;
  font-size: 0.9em;
  max-height: 0;
  border-right: 1px solid #C0C0C0;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #C0C0C0;
  border-radius: 0 0 0 3px;
  margin: 0;
  opacity: 0; }
  .form-allowed-tags.visible {
    max-height: 12em;
    padding: 1%;
    border-bottom-color: #C0C0C0;
    opacity: 1; }

.form-submit {
  margin: 0; }
  .form-submit input[type=submit] {
    float: right;
    position: relative;
    top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 3px 3px; }

/*--------------------------------------------------------------
9.0 - Navigation
--------------------------------------------------------------*/
.post-navigation, .posts-navigation, .image-navigation {
  overflow: hidden;
  margin: 2.5%; }

.nav-next, .nav-previous {
  word-wrap: break-word;
  overflow-wrap: break-word; }

.nav-previous {
  float: left;
  text-align: left;
  width: 50%; }
  .nav-previous a::before {
    content: '\2190';
    /* Left arrow */
    padding-right: 0.5%; }

.nav-next {
  float: right;
  text-align: right;
  width: 50%; }
  .nav-next a::after {
    content: '\2192';
    /* Right arrow */
    padding-left: 0.5%; }

.nav-links a {
  -webkit-transition: padding 0.25s ease-out, color 0.25s ease-out;
          transition: padding 0.25s ease-out, color 0.25s ease-out;
  display: block;
  padding: 0; }
  .no-touch .nav-links a:hover {
    padding: 0 2.5%; }

/*--------------------------------------------------------------
10.0 - Search
--------------------------------------------------------------*/
.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 27.5em;
  margin: 0 auto 2.5%; }

.search-form label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.search-submit {
  margin-left: 0.25em; }

.no-flexbox .search-form input[type='search'] {
  width: 60%; }

.search-entry, .search-entry .entry-title {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  color: #4C4C4C; }

.search-entry .entry-title {
  font-size: 1.25em;
  margin-bottom: 0.5em; }

.search .site-main .search-form {
  margin-top: 2.5%; }

.search .page-header .search-field {
  color: #8C8C8C;
  font-size: 1.25em;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 0; }
  .no-touch .search .page-header .search-field:hover {
    border-color: #8C8C8C;
    border-radius: 3px; }
  .no-touch .search .page-header .search-field:focus, .touch .search .page-header .search-field:focus {
    border-color: #00B0CC;
    border-radius: 3px; }
.search .page-header .search-submit {
  font-size: 1.25em;
  padding: 0 0.5em;
  border-color: transparent; }

.search article {
  margin-bottom: 10%; }

.search-highlight {
  color: inherit;
  background-color: rgba(255, 255, 0, 0.25); }

.search .entry-footer {
  width: 90%;
  border-bottom: 1px solid #00B0CC;
  margin: 0 auto; }

/*--------------------------------------------------------------
11.0 - Sidebar
--------------------------------------------------------------*/
.sidebar-link {
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  display: inline-block;
  position: absolute;
  top: 0.5em;
  height: 1.75em;
  padding: 0;
  border: none;
  margin-bottom: 2.5%;
  outline: none;
  opacity: 1;
  cursor: pointer; }
  .sidebar-link.left {
    left: 0.5em; }
  .sidebar-link.right {
    float: right;
    right: 0.5em; }
  .no-touch .sidebar-link:hover {
    border: none;
    opacity: 0.65; }
  .no-touch .sidebar-link:active {
    border: none;
    opacity: 0.85; }
  .no-inlinesvg .sidebar-link {
    width: 30px;
    height: 25px;
    background: url('images/menu.png') no-repeat center;
    background-size: 30px 25px; }
  .no-inlinesvg .sidebar-link svg {
    display: none; }
  .sidebar-link svg, .sidebar-link img {
    width: 1.75em;
    height: 1.75em; }

.sidebar-top {
  z-index: 3;
  /* Submenus have z-index of 2. */
  width: 100%;
  border-bottom: 1px solid #00B0CC;
  margin-bottom: 7.5%;
  background-color: #ECF0F1;
  cursor: pointer; }
  .no-touch .sidebar-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }

.admin-bar .sidebar {
  top: 32px; }

@media screen and (max-width: 782px) {
  .admin-bar .sidebar {
    top: 46px; }
 }

.sidebar-close {
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
  display: block;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 1.4em;
  padding: 3.5%;
  border: none;
  opacity: 1; }
  .sidebar-close svg, .sidebar-close img {
    width: 1.4em;
    height: 1.4em; }
  .no-inlinesvg .sidebar-close {
    width: 30px;
    height: 30px;
    background: url('images/cross.png') no-repeat center;
    background-size: 30px; }
  .no-inlinesvg .sidebar-close svg {
    display: none; }

.no-touch .sidebar-top:hover .sidebar-close {
  border: none;
  opacity: 0.65; }

.no-touch .sidebar-top:hover .sidebar-close:active {
  border: none;
  opacity: 0.85; }

.sidebar {
  -webkit-transition: -webkit-transform 0.35s ease;
          transition: transform 0.35s ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 95%;
  height: 100%;
  background-color: #ECF0F1; }
  .sidebar.left {
    -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
            transform: translateX(-110%);
    /* animation: pop-closed 0.75s 0.75s; */
    /* Add this for a nice pop as the sidebar loads */
    left: 0;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5); }
  .sidebar.right {
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    right: 0;
    box-shadow: -1px 0 15px rgba(0, 0, 0, 0.5); }
  .sidebar h2 {
    font-size: 1em; }

.sidebar-content {
  margin: 0 5%; }
  .no-touch .sidebar-content a:hover {
    color: #008094; }

.sidebar-visible .sidebar.left, .sidebar-visible .sidebar.right {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

.no-csstransforms .sidebar.left {
  left: -100%; }

.no-csstransforms .sidebar-visible .sidebar.left, .no-csstransforms .sidebar-style-constant .sidebar.left {
  left: 0; }

.no-csstransforms .sidebar.right {
  right: -100%; }

.no-csstransforms .sidebar-visible .sidebar.right, .no-csstransforms .sidebar-style-constant .sidebar.right {
  right: 0; }

@-webkit-keyframes pop-closed {
  0% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%); }

  25% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); }

  40% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  60% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%); }

  75% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%); }

  90% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%); }

  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

@keyframes pop-closed {
  0% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%); }

  25% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); }

  40% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

  60% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%); }

  75% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%); }

  90% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%); }

  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%); } }

/*--------------------------------------------------------------
12.0 - Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

.widget ul, .widget ol {
  margin: 0 0 1.5em 2em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------
13.0 - Explore Page
--------------------------------------------------------------*/
.explore-page {
  margin: 5% auto 0; }

.post-lists {
  margin: 1.5%; }

.explore-page .search-form {
  text-align: center; }

.explore-page .widget h1 {
  color: #4C4C4C;
  font-size: 1.15em;
  padding-bottom: 1%;
  border-bottom: 1px solid #00B0CC; }

.explore-page .widget:not(.search) {
  -webkit-transition: box-shadow 0.35s ease-out;
          transition: box-shadow 0.35s ease-out;
  font-size: 1em;
  width: 90%;
  padding: 2.5% 5%;
  margin: 0 auto 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }

.explore-page .widget:not(.search):hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

.explore-page .widget.archives ul, .explore-page .widget.categories > ul {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 15em;
  margin: 0; }

.explore-page .widget.search {
  margin-bottom: 7.5%; }

.explore-page .widget.recent-posts ul {
  list-style: none;
  margin: 0; }

/*--------------------------------------------------------------
14.0 - Infinite Scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
15.0 - Media Queries
----------------------------------------------------------------
15.1 - Tablet (<35ems)
--------------------------------------------------------------*/
@media only screen and (min-width: 35em) {
  .site-header, .site-breadcrumbs, .site-main, .site-footer, .sidebar-style-constant .site-header, .sidebar-style-constant .site-main, .sidebar-style-constant .site-footer {
    width: 82.5%; }

  .site-breadcrumbs-container {
    width: 100%; }

  .sidebar-link {
    position: fixed;
    z-index: 1;
    top: 2.5%;
    width: 2em;
    height: 2em; }
    .sidebar-link.left {
      left: 2.5%; }
    .sidebar-link.right {
      right: 2.5%; }
    .admin-bar .sidebar-link {
      top: calc(2.5% + 32px); }
      @media screen and (max-width: 782px) {
        .admin-bar .sidebar-link {
          top: calc(2.5% + 46px); } }
    .sidebar-link svg, .sidebar-link img {
      width: 2em;
      height: 2em; }

  .sidebar {
    width: 55%; }

  .social-links {
    margin: 1.5% auto; }

  .social-link svg, .social-link img {
    width: 2.5em;
    height: 2.5em; }

  /* The CSS below causes the absolutely positioned dropdowns
   to display relative to the menu items that they are children of. */
  .menu li {
    position: relative; }

  .no-touch .menu ul li:hover > ul, .no-touch .menu ul ul:hover, .menu ul li.open > ul {
    width: auto; }

  .menu ul li.open ul {
    float: left;
    position: absolute; }

  .header-menu ul ul {
    right: auto;
    left: auto; }

  .menu ul ul {
    padding: 0.25em 0.5em; }

  .menu ul ul a {
    width: 10em; }

  .horizontal-menu ul ul ul {
    left: -6%; }

  .footer-menu ul ul ul {
    top: auto; }

  .vertical-menu ul ul ul {
    left: -0.5em; }

  .gallery-columns-3 .gallery-caption, .gallery-columns-4 .gallery-caption {
    display: block;
    /* Show galleries that will fit on tablet-sized screens. */ }

  .comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {
    margin: 0 0.25em;
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }

  .comment-form .comment-form-author {
    margin-left: 0; }

  .comment-form .comment-form-url {
    margin-right: 0; }

  .form-allowed-tags.visible {
    max-height: 7em; }
 }

/*--------------------------------------------------------------
15.2 - Desktop (<50ems)
--------------------------------------------------------------*/
@media only screen and (min-width: 50em) {
  .site-header, .site-breadcrumbs, .site-main, .site-footer {
    width: 80%; }

  .sidebar-style-constant .site-breadcrumbs, .sidebar-style-constant .site-header, .sidebar-style-constant .site-main, .sidebar-style-constant .site-footer {
    width: 100%;
    max-width: 45em; }
  .sidebar-style-constant .site {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 67%;
    height: 100%;
    margin: 0 auto; }
  .sidebar-style-constant .sidebar-link {
    display: none; }
  .sidebar-style-constant .sidebar {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    box-shadow: none; }
    .sidebar-style-constant .sidebar .sidebar-top {
      display: none; }
    .sidebar-style-constant .sidebar .sidebar-content {
      margin-top: 5%; }
    .sidebar-style-constant .sidebar.left {
      border-right: 1px solid #00B0CC; }
    .sidebar-style-constant .sidebar.right {
      border-left: 1px solid #00B0CC; }

  .sidebar-style-left .site {
    right: 0; }

  .sidebar-style-right .site {
    left: 0; }

  .site-scroll {
    margin: 3.5% 2.5% 0; }
    .site-scroll .site-header {
      margin-top: 0; }

  .page-header {
    margin: 0 auto 5%; }

  .site-title {
    font-size: 3.15em; }

  .author .author-section {
    font-size: 1.25em;
    width: 75%;
    max-width: 100%;
    margin-top: 3.5%; }

  .social-link svg, .social-link img {
    width: 2.75em;
    height: 2.75em; }

  .no-inlinesvg .social-link {
    margin: 1%; }

  .horizontal-menu li {
    margin: 0 1.5%; }

  .sidebar-link {
    top: 5%; }

  .sidebar {
    width: 33%; }
    .no-csstransforms .sidebar.left {
      left: -40%; }
    .no-csstransforms .sidebar.right {
      right: -40%; }

  .sidebar-close {
    padding: 2.5%; }

  .post {
    margin: 2.5% auto 5%; }

  .entry-title {
    font-size: 1.75em;
    width: 80%; }

  .gallery-columns-5 .gallery-caption {
    display: block;
    /* Show galleries that will fit on desktop-sized screens. */ }

  .entry-footer {
    width: 85%; }

  .search article {
    margin-bottom: 5%; }

  .explore-page .widget.search {
    margin-bottom: 3.5%; }

  .blog .format-quote .entry-content, .single .format-quote .entry-content, .archive .format-quote .entry-content {
    font-size: 2.75em; }

  .sidebar-style-constant .site-footer {
    margin-bottom: 5%; }
 }

/*--------------------------------------------------------------
15.3 - Large Screen (<68.5ems)
--------------------------------------------------------------*/
@media only screen and (min-width: 68.5em) {
  .site-header, .site-breadcrumbs, .site-main, .site-footer {
    width: 60%;
    max-width: 45em; }

  .site-header {
    max-width: 60em; }

  .site-title {
    font-size: 4em; }

  .social-link svg, .social-link img {
    width: 3em;
    height: 3em; }

  .page-header {
    margin-bottom: 3.5%; }

  .entry-title {
    font-size: 2.1em; }

  .sidebar-style-constant .site {
    width: 75%; }

  .sidebar-link.left {
    left: 7.5%; }

  .sidebar-link.right {
    right: 7.5%; }

  .sidebar {
    width: 25%;
    max-width: 30em; }
    .no-csstransforms .sidebar.right {
      right: -30%; }
    .no-csstransforms .sidebar.left {
      left: -30%; }

  .content-area article {
    margin-bottom: 10%; }
 }

/*--------------------------------------------------------------
15.4 - Print
--------------------------------------------------------------*/
@media only print {
  .sidebar, .sidebar-link, .social-links, .menu, .posts-navigation, .comments-link, .edit-link, .post-navigation, .comments-area, .site-breadcrumbs {
    display: none; }

  .custom-background {
    background: none;
    /* Remove custom background on body element. */ }

  .site-header {
    padding-bottom: 2.5%;
    margin-top: 0; }
 }
/*# sourceMappingURL=style.css.map */