/*
  Theme Name: Hueman Child
  Theme URI: http://alxmedia.se/themes/hueman/
  Description: Sample child theme for customization.
  Author: You
  Author URI: 
  Template: hueman
  Version: 1.0.0
*/
@import url("../hueman/style.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400);
@font-face { font-family: "kilogram"; src: url('/fonts/KiloGram_KG-webfont.eot?1426309996'); src: url('/fonts/KiloGram_KG-webfont.eot?&1426309996#iefix') format('embedded-opentype'), url('/fonts/KiloGram_KG-webfont.woff?1426309996') format('woff'), url('/fonts/KiloGram_KG-webfont.ttf?1426309996') format('truetype'), url('/fonts/KiloGram_KG-webfont.svg?1426309996#kilogramregular') format('svg'); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

a, a:before, a:after { -webkit-transition-property: background, color; transition-property: background, color; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease; transition-timing-function: ease; }

h1, h2, h3, h4, h5, h6 { color: #444; font-weight: 600; word-wrap: break-word; }

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { margin-bottom: 14px; font-weight: 400; line-height: 1.3em; }

.widget > div > ul li a:before, .widget > ul li:before, .widget > ul li a:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-family: "FontAwesome"; font-size: 12px; margin-right: 6px; color: #ccc; width: 1em; text-align: center; }

.widget_calendar td, .widget_calendar th { padding: 3px 0; text-align: center; border: 1px solid #e2e2e2; }

.wpcf7 input[type='text'], .wpcf7 input[type='email'], .wpcf7 textarea { display: block; float: left; padding: 10px; width: 100%; }

.video-container embed, .video-container iframe, .video-container object, .video-container video { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

.jp-play, .jp-pause { height: 30px; left: 0; margin: 12px 0 0 9px; outline: none; top: 0; width: 25px; z-index: 1; }

.jp-mute, .jp-unmute { margin-top: 10px; outline: none; right: 58px; top: 2px; width: 17px; z-index: 1; }

.commentlist li, .pinglist li { padding-left: 60px; font-size: 14px; line-height: 22px; font-weight: 400; }

.commentlist .comment-author, .commentlist .comment-meta, .commentlist .comment-awaiting-moderation { font-size: 13px; display: block; float: left; line-height: 20px; }

.commentlist .comment-meta:before, .pinglist .ping-meta:before { color: #ccc; content: "\f017"; font-family: "FontAwesome"; font-size: 10px; margin-right: 3px; vertical-align: 4%; }

.commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .commend-body:after { border-radius: 3px; background: #3b8dbd; display: block; position: absolute; content: "\f040"; color: white; line-height: 12px; width: 12px; font-style: normal; font-family: "FontAwesome"; text-align: center; top: 32px; left: -28px; font-size: 10px; padding: 2px; }

.commentlist li li.bypostauthor > .comment-body:after, .commentlist li li.comment-author-admin > .comment-body:after { border-radius: 2px; top: 22px; left: -26px; font-size: 8px; padding: 1px; }

hr, .hr { border: 0; background: #eee; border-bottom: 2px solid #eee; height: 1px; margin: 30px 0; }

*::-moz-selection { color: #fff; background-color: #3b8dbd; }
*::selection { color: #fff; background-color: #3b8dbd; }
* html .slides { height: 1%; }

html { -webkit-font-smoothing: antialiased; }
html [xmnls] .slides { display: block; }

body { background: #eaeaea; color: #666; font-family: "Open Sans", "Helvetica"; font-size: 16px; font-weight: 300; line-height: 1.5em; }

a { color: #3b8dbd; outline: 0; text-decoration: none; }
a:hover { color: #444; }
a img { -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }

img { height: auto; max-width: 100%; }

input { font-family: inherit; }

li #reply-title { border-top: 0; font-size: 0; height: 0; margin: 0; padding: 0; }

textarea { font-family: inherit; }

button { font-family: inherit; }

select { font-family: inherit; }

table { border-collapse: collapse; border-spacing: 0; }

address { font-style: italic; }

cite { font-style: italic; }

em { font-style: italic; }

strong { font-weight: 600; }

.left .alignleft { float: left; }

.right .alignright { float: right; }

.pad { display: -webkit-flex; -webkit-flex-flow: column; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: column; -ms-flex-flow: column; flex-flow: column; padding: 30px 30px 20px; }
@media only screen and (max-width: 479px) { .pad { padding: 15px; } }
@media only screen and (max-width: 719px) { .pad { padding: 20px 20px 10px; } }

.author-bio { border: 2px solid #eee; color: #888; margin-bottom: 40px; padding: 15px 15px 10px 95px; position: relative; }
.author-bio:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-bottom: 8px solid #eee; border-left: 8px solid transparent; border-right: 8px solid transparent; content: ''; left: 13px; position: absolute; top: -8px; }
.author-bio:after { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-bottom: 6px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ''; left: 15px; position: absolute; top: -5px; }
.author-bio p { margin-bottom: 8px; }
.author-bio .bio-avatar { float: left; height: auto; margin: 0 0 8px -80px; position: relative; width: 64px; }
.author-bio .bio-avatar:after { border-radius: 3px; background: #3b8dbd; bottom: 0; color: #fff; content: '\f040'; font-family: "FontAwesome"; font-size: 12px; font-style: normal; line-height: 12px; position: absolute; right: 0; text-align: center; width: 12px; }
.author-bio .bio-avatar img { border-radius: 3px; display: block; height: auto; width: 100%; }
.author-bio .bio-name { color: #444; font-weight: 600; margin-bottom: 4px; }
.author-bio .bio-desc { color: #888; font-size: 15px; line-height: 1.5em; }
@media only screen and (max-width: 719px) { .author-bio .bio-desc { font-size: 13px; } }

.alx-posts a { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.alx-posts img { display: block; float: none; height: auto; margin: auto; max-height: 150px; resize: both; width: auto; }
.alx-posts li { border-bottom: 1px solid #e9e9e9; font-weight: 400; line-height: 1em; overflow: hidden; padding: 10px 0; }
.alx-posts li:hover .post-item-thumbnail { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.alx-posts li:hover .thumb-icon { background: #fff; color: #111; }
.alx-posts li:first-child .post-item-title { font-size: 30px; }
.alx-posts li:first-child .post-item-thumbnail { display: block; }
.alx-posts .post-item-category { color: #aaa; font-size: 13px; text-transform: uppercase; }
.alx-posts .post-item-category a:hover { color: #444; }
.alx-posts .post-item-date { color: #aaa; font-size: 13px; text-transform: uppercase; }
.alx-posts .post-item-thumbnail { -webkit-transition: all 1s ease; transition: all 1s ease; display: none; margin-bottom: 10px; position: relative; }
.alx-posts .post-item-title { font-size: 16px; line-height: 1.5em; margin: 2px 0; word-wrap: break-word; }
.alx-posts .post-item-title a { color: #444; }

.alx-tab.thumbs-enabled li { padding-left: 94px; }
.alx-tab.thumbs-enabled li:first-child { padding-left: 204px; }
.alx-tab.avatars-enabled li { padding-left: 62px; }
.alx-tab a { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.alx-tab img { display: block; height: auto; width: 100%; }
.alx-tab li { border-bottom: 1px solid #e9e9e9; font-weight: 400; line-height: 1.4em; overflow: hidden; padding: 10px 0; }
.alx-tab li:first-child { font-size: 25px; }
.alx-tab li:first-child .tab-item-thumbnail { height: 200px; margin-left: -200px; margin-right: 10px; width: 200px; }
.alx-tab li:first-child .tab-item-inner.group { margin-left: 10px; }
.alx-tab li:hover .tab-item-avatar { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.alx-tab li:hover .tab-item-thumbnail { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.alx-tab li:hover .thumb-icon { background: #fff; color: #111; }
.alx-tab .tab-item-avatar { -webkit-transition: all 1s ease; transition: all 1s ease; float: left; margin-left: -62px; width: 48px; }
.alx-tab .tab-item-category { color: #aaa; font-size: 13px; text-transform: uppercase; }
.alx-tab .tab-item-category a:hover { color: #444; }
.alx-tab .tab-item-comment { margin: 2px 0; word-wrap: break-word; }
.alx-tab .tab-item-comment a { color: #444; }
.alx-tab .tab-item-date { color: #aaa; font-size: 13px; text-transform: uppercase; }
.alx-tab .tab-item-name { color: #aaa; font-size: 13px; text-transform: uppercase; }
.alx-tab .tab-item-thumbnail { -webkit-transition: all 1s ease; transition: all 1s ease; float: left; margin-left: -90px; position: relative; width: 80px; }
.alx-tab .tab-item-title { margin: 2px 0; word-wrap: break-word; }
.alx-tab .tab-item-title a { color: #444; }
.alx-tab .thumb-icon.small { bottom: 8px; left: 8px; }

.alx-tabs-nav { border-bottom: 3px solid #ddd; margin-bottom: 10px; text-align: center; }
.alx-tabs-nav.tab-count-1 li { width: 100%; }
.alx-tabs-nav.tab-count-2 li { width: 50%; }
.alx-tabs-nav.tab-count-3 li { width: 33.33%; }
.alx-tabs-nav.tab-count-4 li { width: 25%; }
.alx-tabs-nav li { display: block; float: left; }
.alx-tabs-nav li.active a { color: #444; }
.alx-tabs-nav li a { font-size: 18px; display: block; padding: 8px 0; margin-bottom: -3px; border-bottom: 3px solid transparent; }
.alx-tabs-nav li a:hover { border-bottom-color: #ccc; }
.alx-tabs-nav li a span { display: none; }

.widget_alx_video h3 { margin-bottom: 14px; }

.child-menu { zoom: 1; position: relative; padding: 0 0 20px; }
.child-menu a { color: #777; font-weight: 600; display: block; padding: 0 44px; }
.child-menu a:hover { color: #3b8dbd; }
.child-menu .current_page_item > a { background: #fff; color: #3b8dbd; }
.child-menu > li { display: none; }
.child-menu > li ul li.current_page_item ul { display: block; }
.child-menu > li ul li.current_page_parent ul { display: block; }
.child-menu > li ul li.current_page_ancestor ul { display: block; }
.child-menu > li ul ul { background: #f0f0f0; border-bottom: 1px solid #ddd; border-top: 3px solid #ebebeb; border-left: 1px solid #ddd; padding: 6px 0; }
.child-menu > li ul ul a { font-size: 15px; font-weight: 300; padding-top: 7px; padding-bottom: 7px; margin-bottom: 1px; }
.child-menu > li ul ul a:hover { box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04); background: #e9e9e9; }
.child-menu > li ul ul li.current_page_item > a { box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04); background: #fff; }
.child-menu > li > a { font-size: 20px; display: block; padding: 20px 30px; }
.child-menu > li > ul { background: #e9e9e9; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px 0 10px 10px; }
.child-menu > li > ul > li > a { box-shadow: inset 0 1px 0 #f9f9f9; font-size: 15px; background: #f0f0f0; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; padding: 11px 20px; }
.child-menu > li > ul > li > a:before { font-family: "FontAwesome"; content: '\f055'; font-weight: normal; font-size: 18px; margin-right: 8px; }
.child-menu > li.current_page_item { display: block; }
.child-menu > li.current_page_item > ul ul { display: none; }
.child-menu > li.current_page_parent { display: block; }
.child-menu > li.current_page_parent > ul ul { display: none; }
.child-menu > li.current_page_ancestor { display: block; }
.child-menu > li.current_page_ancestor > ul ul { display: none; }

.icon-sidebar-toggle:before { font-family: "FontAwesome"; }

@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cr.s1-expand .s1 { left: 0; } }
.col-2cr .content { float: right; }
.col-2cr .main-inner { background: url("img/sidebar/s-left.png") repeat-y left 0; padding-left: 340px; }
@media only screen and (max-width: 719px) { .col-2cr .main-inner { background-position: -300px 0; padding-left: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cr .main-inner { background-position: -290px 0; padding-left: 50px; } }
.col-2cr .s1 { float: left; margin-left: -340px; }
@media only screen and (max-width: 719px) { .col-2cr .s1 { margin-left: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cr .s1 { margin-left: -50px; } }
.col-2cr .s1 .icon-sidebar-toggle:before { content: '\f101'; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cr .s1 .icon-sidebar-toggle:before { content: '\f100'; } }

@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cl.s1-expand .s1 { right: 0; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cl.s1-expand .s1 .icon-sidebar-toggle:before { content: '\f101'; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cl.s1-expand .sidebar-toggle { float: right; } }
.col-2cl .content { float: left; }
.col-2cl .main-inner { background: url("img/sidebar/s-right-s1.png") repeat-y right 0; padding-right: 500px; }
@media only screen and (max-width: 719px) { .col-2cl .main-inner { background-image: url("img/sidebar/s-right-collapse-40.png"); padding-right: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cl .main-inner { background-image: url("img/sidebar/s-right-collapse.png"); padding-right: 50px; } }
.col-2cl .s1 { float: right; margin-right: -500px; }
@media only screen and (max-width: 719px) { .col-2cl .s1 { margin-right: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-2cl .s1 { margin-right: -50px; } }
.col-2cl .s1 .icon-sidebar-toggle:before { content: '\f100'; }
.col-2cl .child-menu > li ul ul { border-left: 0; border-right: 1px solid #ddd; }
.col-2cl .child-menu > li > ul { padding-left: 0; padding-right: 10px; }
.col-2cl .child-menu > li > ul > li > a { border-left: 0; border-right: 1px solid #ddd; }

@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr.s1-expand .s1 { left: 0; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr.s1-expand .s1 .icon-sidebar-toggle:before { content: '\f100'; } }
@media only screen and (max-width: 719px) { .col-3cr.s2-expand .s2 { left: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr.s2-expand .s2 { left: 50px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cr.s2-expand .s2 { left: 340px; } }
.col-3cr.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f100'; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cr.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f100'; } }
.col-3cr .content { float: right; }
.col-3cr .main { background-image: none; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr .main { background-image: none; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cr .main { background-image: none; } }
.col-3cr .main-inner { background: url("img/sidebar/s-left-dual-full-expand.png") repeat-y left 0; padding-left: 600px; }
@media only screen and (max-width: 719px) { .col-3cr .main-inner { background: url("img/sidebar/s-left-dual-full-collapse-40.png") repeat-y right; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr .main-inner { background: url("img/sidebar/s-left-dual-full-collapse.png") repeat-y left; padding-left: 100px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cr .main-inner { background: url("img/sidebar/s-left-dual-half-collapse.png") repeat-y left; padding: 390px; } }
.col-3cr .s1 { float: left; margin-left: -600px; }
@media only screen and (max-width: 719px) { .col-3cr .s1 { margin-left: -80px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr .s1 { margin-left: -100px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cr .s1 { margin-left: -390px; } }
.col-3cr .s1 .icon-sidebar-toggle:before { content: '\f100'; }
.col-3cr .s2 { float: left; margin-left: -260px; }
@media only screen and (max-width: 719px) { .col-3cr .s2 { margin-left: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cr .s2 { margin-left: -50px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cr .s2 { margin-left: -50px; } }
.col-3cr .s2 .icon-sidebar-toggle:before { content: '\f100'; }
.col-3cr .child-menu > li ul ul { border-left: 0; border-right: 1px solid #ddd; }
.col-3cr .child-menu > li > ul { padding-left: 0; padding-right: 10px; }
.col-3cr .child-menu > li > ul > li > a { border-left: 0; border-right: 1px solid #ddd; }

@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm.s1-expand .s1 .icon-sidebar-toggle:before { content: '\f100'; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm.s2-expand .s1 { left: 0; } }
.col-3cm.s2-expand .s2 { left: 0; right: 0; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm.s2-expand .s2 { right: 0; } }
.col-3cm.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f100'; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cm.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f101'; } }
.col-3cm .content { float: left; }
.col-3cm .main { background: url("img/sidebar/s-right-s2.png") repeat-y left 0; }
@media only screen and (max-width: 719px) { .col-3cm .main { background: url("img/sidebar/s-right-collapse-40.png") repeat-y right; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cm .main { background: url("img/sidebar/s-right-collapse.png") repeat-y right; } }
.col-3cm .main-inner { background: url("img/sidebar/s-left.png") repeat-y right 0; padding-left: 50px; padding-right: 340px; }
@media only screen and (max-width: 719px) { .col-3cm .main-inner { background-position: -300px 0; padding-left: 40px; padding-right: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm .main-inner { background-position: -290px 0; padding-left: 50px; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cm .main-inner { padding-right: -50px; } }
.col-3cm .s1 { float: right; margin-right: -340px; }
@media only screen and (max-width: 719px) { .col-3cm .s1 { margin-left: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm .s1 { margin-left: -50px; } }
.col-3cm .s1 .icon-sidebar-toggle:before { content: '\f100'; }
.col-3cm .s2 { float: left; margin-left: -50px; position: relative; right: -100%; }
@media only screen and (max-width: 719px) { .col-3cm .s2 { margin-right: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cm .s2 { margin-right: -50px; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cm .s2 { margin-right: -50px; } }
.col-3cm .s2 .icon-sidebar-toggle:before { content: '\f101'; }

@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl.s1-expand .s1 { right: 0; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl.s1-expand .s1 .icon-sidebar-toggle:before { content: '\f101'; } }
@media only screen and (max-width: 719px) { .col-3cl.s2-expand .s2 { right: 40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl.s2-expand .s2 { right: 50px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cl.s2-expand .s2 { right: 340px; } }
.col-3cl.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f101'; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .col-3cl.s2-expand .s2 .icon-sidebar-toggle:before { content: '\f101'; } }
.col-3cl .content { float: left; }
.col-3cl .main { background-image: none; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl .main { background-image: none; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cl .main { background-image: none; } }
.col-3cl .main-inner { background: url("img/sidebar/s-right-dual-full-expand.png") repeat-y right 0; padding-right: -600px; }
@media only screen and (max-width: 719px) { .col-3cl .main-inner { background: url("img/sidebar/s-right-dual-full-collapse-40.png") repeat-y right; padding-right: 80px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl .main-inner { background: url("img/sidebar/s-right-dual-full-collapse.png"); } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cl .main-inner { background: url("img/sidebar/s-right-dual-half-collapse.png") repeat-y right; padding-right: 390px; } }
.col-3cl .s1 { float: right; margin-right: -600px; }
@media only screen and (max-width: 719px) { .col-3cl .s1 { margin-right: -80px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl .s1 { margin-right: -100px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cl .s1 { margin-right: -390px; } }
.col-3cl .s1 .icon-sidebar-toggle:before { content: '\f100'; }
.col-3cl .s2 { float: right; margin-right: -260px; }
@media only screen and (max-width: 719px) { .col-3cl .s2 { margin-right: -40px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .col-3cl .s2 { margin-right: -50px; } }
@media only screen and (min-width: 961px) and (max-width: 1200px) { .col-3cl .s2 { margin-right: -50px; } }
.col-3cl .s2 .icon-sidebar-toggle:before { content: '\f100'; }

#comments { margin-top: 20px; }

#pinglist-container { display: none; }

#respond { position: relative; }

#reply-title { font-weight: 600; font-size: 18px; text-transform: uppercase; margin-bottom: 20px; }

#cancel-comment-reply-link { color: #999; display: block; position: absolute; bottom: 26px; right: 20px; font-size: 12px; }
#cancel-comment-reply-link:hover { color: #777; }

#commentform { border-radius: 2px; background: #f1f1f1; padding: 10px 20px 20px; margin-bottom: 15px; }
#commentform input[type='text'] { max-width: 100%; width: 100%; }
#commentform label { padding: 6px 0; font-weight: 600; display: block; }
#commentform p.comment-form-author { width: 48%; float: left; }
#commentform p.comment-form-email { width: 48%; float: right; }
#commentform p.comment-form-url { clear: both; }
#commentform p.comment-form-comment { clear: both; }
#commentform p.form-submit { margin-top: 10px; }
#commentform textarea { max-width: 100%; width: 100%; height: 100%; }

.comment-tabs { border-bottom: 2px solid #eee; margin-bottom: 20px; }
@media only screen and (max-width: 719px) { .comment-tabs { font-size: 14px; } }
.comment-tabs li { float: left; margin-bottom: -2px; }
.comment-tabs li a { font-weight: 600; padding: 0 10px 10px; display: block; color: #aaa; border-bottom: 2px solid #eee; }
.comment-tabs li a:hover { color: #444; border-color: #ccc; }
.comment-tabs li i { margin-right: 6px; }
.comment-tabs li span { border-radius: 4px; background-color: #eee; padding: 0 6px; margin-left: 8px; }
.comment-tabs.active a { color: #3b8dbd; border-bottom-color: #3b8dbd; }

.comments-nav { margin-bottom: 20px; }
.comments-nav a { font-weight: 600; }
.comments-nav .nav-previous { float: left; }
.comments-nav .nav-next { float: right; }

.commentlist { margin-bottom: 20px; }
@media only screen and (max-width: 719px) { .commentlist li { font-size: 13px; } }
.commentlist li li { padding-left: 48px; margin: 0; }
.commentlist li.comment-author-admin > .commend-body:after { content: '\f005'; }
.commentlist li ul { padding-left: 48px; margin: 0; }
@media only screen and (max-width: 719px) { .commentlist li ul li { padding-left: 10px; } }
.commentlist li .avatar { width: 36px; height: 36px; left: -48px; top: 0; }
.commentlist li .comment-meta { left: 70px; }
.commentlist .avatar { border-radius: 3px; position: absolute; left: -60px; top: 0; width: 48px; height: 48px; }
.commentlist .comment-body { clear: both; position: relative; padding-bottom: 15px; }
.commentlist .comment-body em { font-style: italic; }
.commentlist .comment-body ol li { list-style: decimal; margin-left: 2em; padding: 0; }
.commentlist .comment-body p { margin-bottom: 8px; color: #777; clear: both; }
.commentlist .comment-body strong { font-weight: bold; }
.commentlist .comment-body ul li { list-style: square; margin-left: 2em; padding: 0; }
.commentlist .comment-author { margin-right: 6px; }
.commentlist .comment-meta a { color: #aaa; }
.commentlist .comment-awaiting-moderation { color: #3b8dbd; font-style: normal; }
.commentlist .fn { color: #444; font-size: 13px; font-style: normal; font-weight: 600; }
.commentlist .reply { font-size: 13px; line-height: 16px; }
.commentlist .reply a { color: #aaa; }
.commentlist .reply a:hover { color: #444; }
.commentlist .says { display: none; }

.comment-notes { display: none; }

.form-allowed-tags { display: none; }

.logged-in #reply-title { margin-bottom: 20px; }
.logged-in #commentform p.comment-form-comment { margin-top: 10px; }
.logged-in #commentform p.comment-form-comment label { display: none; }

.logged-in-as { display: none; }

.pinglist { margin-bottom: 20px; }
.pinglist li { clear: both; position: relative; padding-bottom: 15px; padding-left: 0; }
.pinglist .ping-link { color: #444; font-size: 13px; font-style: normal; font-weight: 600; }
.pinglist .ping-meta { color: #aaa; }

.image-container { position: relative; }
.image-container img { display: block; width: 100%; height: auto; }

.image-caption { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.03); border-radius: 2px; background: rgba(0, 0, 0, 0.7); bottom: 8px; color: #fff; font-size: 13px; font-style: italic; left: 8px; line-height: 1.3em; margin-right: 8px; padding: 8px 10px; position: absolute; }
@media only screen and (max-width: 719px) { .image-caption { display: none; } }

.video-container { height: 0; overflow: hidden; padding-bottom: 56.25%; position: relative; }

.entry { font-size: 18px; line-height: 1.6em; }
@media only screen and (max-width: 719px) { .entry { font-size: 15px; } }
.entry h1 { font-size: 38px; letter-spacing: -1px; }
@media only screen and (max-width: 719px) { .entry h1 { font-size: 30px; letter-spacing: -.7px; } }
.entry h1 span { color: #bbb; }
.entry h2 { font-size: 34px; letter-spacing: -.7px; }
@media only screen and (max-width: 719px) { .entry h2 { font-size: 26px; letter-spacing: -.5px; } }
.entry h2 span { color: #bbb; }
.entry h3 { font-size: 28px; letter-spacing: -.5px; }
@media only screen and (max-width: 719px) { .entry h3 { font-size: 24px; letter-spacing: -.3px; } }
.entry h3 span { color: #bbb; }
.entry h4 { font-size: 24px; letter-spacing: -.3px; }
@media only screen and (max-width: 719px) { .entry h4 { font-size: 22px; letter-spacing: -.3px; } }
.entry h4 span { color: #bbb; }
.entry h5 { font-size: 20px; font-weight: 600; }
@media only screen and (max-width: 719px) { .entry h5 { font-size: 18px; } }
.entry h5 span { color: #bbb; }
.entry h6 { font-size: 18px; font-weight: 600; text-transform: uppercase; }
@media only screen and (max-width: 719px) { .entry h6 { font-size: 16px; text-transform: uppercase; } }
.entry h6 span { color: #bbb; }
.entry p { margin-bottom: 1em; }
.entry dd { margin-bottom: 1em; }
.entry dt { color: #444; font-weight: 600; }
.entry ol { margin: 0 0 15px 30px; }
.entry ol ol { margin-bottom: 0; }
.entry ol ul { margin-bottom: 0; }
.entry ol ul ol li { list-style: decimal; }
.entry ol ul li { list-style: square; }
.entry ol li { list-style: square; }
.entry ul { margin: 0 0 15px 30px; }
.entry ul ol { margin-bottom: 0; }
.entry ul ul { margin-bottom: 0; }
.entry ul li { list-style: square; }
.entry li { margin: 0; }
.entry address { margin-bottom: 1em; }
.entry blockquote { color: #777; font-style: italic; margin: 0 0 20px; padding-left: 50px; position: relative; }
.entry blockquote p { margin-bottom: .75em; }
.entry blockquote:before { color: #ccc; content: '\f10d'; font-family: "FontAwesome"; font-size: 32px; font-style: normal; left: 0; position: absolute; text-align: center; top: 0; }
.entry blockquote.twitter-tweet:before { content: '\f099'; }
.entry code { background: #eee; font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; font-size: 12px; padding: 0 3px; }
.entry pre { background: url("img/pre.png") repeat top; border: 1px solid #ddd; font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; font-size: 12px; line-height: 18px; margin: 30px 0; overflow-x: auto; overflow-y: hidden; padding: 18px 20px; white-space: pre-wrap; word-wrap: break-word; }
.entry ins { background: #fff486; }
.entry sub { font-size: 62.5%; vertical-align: sub; }
.entry sup { font-size: 62.5%; vertical-align: super; }
.entry table { font-size: 14px; margin-bottom: 1.5em; text-align: center; width: 100%; }
.entry table tr.alt { background: #f1f1f1; }
.entry table td { border-bottom: 1px solid #f1f1f1; padding: 5px; text-align: center; vertical-align: middle; }
.entry table th { border-bottom: 1px solid #f1f1f1; border-top: 1px solid #f1f1f1; font-weight: 600; padding: 10px 5px; text-align: center; }
.entry img.size-auto { height: auto; max-width: 100%; }
.entry img.size-large { height: auto; max-width: 100%; }
.entry img.size-medium { height: auto; max-width: 100%; }
.entry img attachment img { height: auto; max-width: 100%; }
.entry img.alignleft { margin: 18px 20px 18px 0; }
.entry img.alignright { margin: 18px 0 18px 20px; }
.entry img.aligncenter { clear: both; display: block; margin: 18px auto; }
.entry img .size-full { width: 100%; }
.entry img.wp-smiley { margin: 0; }
.entry.excerpt { color: #aaa; font-size: 16px; }
.entry.excerpt p { margin-bottom: 0; }
.entry.share { min-height: 354px; padding-right: 100px; }
@media only screen and (max-width: 719px) { .entry.share { padding-right: 0; } }
.entry.share .entry-inner { float: left; width: 100%; }
.entry .gallery { clear: both; margin: 15px 0; overflow: hidden; width: 100%; }
.entry .gallery img { border-color: transparent; border-width: 1px 2px; display: block; height: auto; margin: 0; width: 100%; }
.entry .gallery .gallery-item { border-color: transparent; margin-top: 0; overflow: hidden; position: relative; }
.entry .gallery .gallery-item:hover .gallery-caption { bottom: 0; }
.entry .gallery .gallery-caption { -webkit-transition: all ease; transition: all ease; background: rgba(255, 255, 255, 0.8); bottom: -40px; color: #333; font-size: 14px; font-style: normal; left: 2px; line-height: 1.4em; margin: 0; overflow: hidden; padding: 10px 0; position: absolute; right: 2px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.entry .gallery-columns-5 .gallery-caption { display: none; }
.entry .gallery-columns-6 .gallery-caption { display: none; }
.entry .gallery-columns-7 .gallery-caption { display: none; }
.entry .gallery-columns-8 .gallery-caption { display: none; }
.entry .gallery-columns-9 .gallery-caption { display: none; }
.entry .wp-caption { background: #f1f1f1; margin-bottom: 14px; max-width: 100%; padding-top: 5px; text-align: center; }
.entry .wp-caption a { border-bottom: 0; }
.entry .wp-caption img { height: auto; margin: 0; max-width: 100%; }
.entry .wp-caption.alignleft { margin-left: 20px; margin-right: 20px; }
.entry .wp-caption.alignnone { overflow: hidden; width: 100%; }
.entry .wp-caption.alignnone img { margin: 0 auto; max-width: 100%; }
.entry .wp-caption-text { color: #999; font-size: 13px; font-style: italic; margin: 0; padding: 0 0 8px; }

@media only screen and (max-width: 479px) { .gallery-caption { display: none; } }

.flexslider { margin: 0 0 60px; padding: 0; position: relative; zoom: 1; }
.flexslider a:active { outline: none; }
.flexslider a:focus { outline: none; }
.flexslider .slides { zoom: 1; }
.flexslider .slides img { width: 100%; height: auto; display: block; margin: 0 auto; }
.flexslider .slides > li { -webkit-backface-visibility: hidden; backface-visibility: hidden; display: none; position: relative; }
.flexslider:hover .flex-next { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.flexslider:hover .flex-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.flexslider:hover .flex-prev { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.flexslider:hover .flex-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.flex-container a:active { outline: none; }
.flex-container a:focus { outline: none; }

.slides { margin: 0; padding: 0; list-style: none; }
.slides:after { content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.flex-control-nav { margin: 0; padding: 0; list-style: none; width: 100%; position: absolute; bottom: -30px; text-align: center; }
.flex-control-nav li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin: 0 3px; zoom: 1; }
.flex-control-nav li a { border-radius: 100%; width: 10px; height: 10px; display: block; text-indent: -999px; overflow: hidden; background: rgba(0, 0, 0, 0.15); }
.flex-control-nav li a:hover { background: rgba(0, 0, 0, 0.15); }
.flex-control-nav li a.flex-active { background: rgba(0, 0, 0, 0.25); cursor: default; }

.flex-direction-nav { margin: 0; padding: 0; list-style: none; position: absolute; top: 10px; right: 10px; z-index: 2; }
.flex-direction-nav a { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; border-radius: 3px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; background: rgba(0, 0, 0, 0.7); position: relative; width: 40px; height: 40px; margin: 0; display: block; cursor: pointer; text-indent: -999px; overflow: hidden; }
.flex-direction-nav a:before { font-family: "FontAwesome"; font-size: 20px; line-height: 24px; position: absolute; text-align: center; left: 0; right: 0; top: 9px; text-indent: 0; }
.flex-direction-nav li { float: left; margin-left: 4px; }
.flex-direction-nav li:first-child { float: left; }
.flex-direction-nav li:last-child { float: right; }
.flex-direction-nav .flex-disabled { -webkit-filter: alpha(opacity=30); filter: alpha(opacity=30); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; cursor: default; }
@media screen and (max-width: 860px) { .flex-direction-nav .flex-next { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; right: 0; } }
.flex-direction-nav .flex-next:before { content: '\f054'; }
@media screen and (max-width: 860px) { .flex-direction-nav .flex-prev { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; right: 0; } }
.flex-direction-nav .flex-prev:before { content: '\f053'; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; width: 100%; display: block; cursor: pointer; }
.flex-control-thumbs img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.flex-control-thumbs .flex-active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; cursor: default; }

.flex-pauseplay span { text-transform: capitalize; }

.no-js .slides > li:first-child { display: block; }

.flex-viewport { -webkit-transition: all 1s ease; transition: all 1s ease; max-height: 2000px; }

.loading .flex-viewport { max-height: 300px; }

.carousel li { margin-right: 5px; }

@media only screen and (max-width: 479px) { #flexslider-featured { margin-top: 15px; } }
@media only screen and (max-width: 719px) { #flexslider-featured { margin-top: 10px; } }
#flexslider-featured .flex-control-nav { position: absolute; top: -15px; bottom: auto; }
#flexslider-featured .flex-control-nav li { margin: 0; padding: 0; margin-right: 2em; float: left; }
#flexslider-featured .flex-control-nav li a { border-radius: 0; box-shadow: none; background: #ddd; width: 20px; height: 2px; text-indent: -999px; }
#flexslider-featured .flex-control-nav li a:hover { background: #ccc; }
#flexslider-featured .flex-control-nav li a.flex-active { background: #3b8dbd; }
#flexslider-featured .flex-direction-nav { position: absolute; top: -50px; left: auto; right: 0; }
#flexslider-featured .flex-direction-nav a { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; box-shadow: none; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; background: #fff; color: #bbb; font-size: 24px; line-height: 24px; position: relative; width: 34px; height: 36px; margin: 0; display: block; text-align: center; cursor: pointer; text-indent: -999px; overflow: hidden; }
#flexslider-featured .flex-direction-nav a:before { font-family: "FontAwesome"; line-height: 24px; position: absolute; text-align: center; left: 0; right: 0; top: 8px; text-indent: 0; }
#flexslider-featured .flex-direction-nav li { float: left; margin-left: 3px; }
#flexslider-featured .flex-direction-nav li:first-child { float: left; }
#flexslider-featured .flex-direction-nav li:last-child { float: right; }
#flexslider-featured .flex-direction-nav .flex-next:before { content: '\f054'; }
#flexslider-featured .flex-direction-nav .flex-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; color: #3b8dbd; }
#flexslider-featured .flex-direction-nav .flex-prev:before { content: '\f053'; }
#flexslider-featured .flex-direction-nav .flex-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; color: #3b8dbd; }

.jp-audio { min-width: 100%; width: 100%; }

.jp-interface { box-shadow: inser 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.3); background-color: #444; min-width: 100%; overflow: hidden; position: relative; width: 100%; }
.jp-interface a { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6); color: #bbb; }
.jp-interface a:hover { color: #eee; }
.jp-interface .jp-controls { list-style-type: none; margin: 0; padding: 0; }
.jp-interface .jp-controls a { position: absolute; }
.jp-interface .jp-controls a i { display: block; }
.jp-interface .jp-controls li { display: inline; }

.jp-unmute { display: none; }

.jp-jplayer { height: 0; width: 0; }

.jp-play-bar { border-radius: 1px; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); background-color: #82b965; height: 5px; width: 0; }

.jp-progress { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06); background-color: #262626; height: 5px; min-width: 100%; overflow: hidden; padding: 1px; width: 100%; }

.jp-progress-container { border-left: 1px solid #333; height: 6px; margin-left: 34px; margin-right: 84px; padding: 20px 10px; }

.jp-volume-bar { border-radius: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06); background-color: #383838; border: 1px solid #262626; cursor: pointer; height: 5px; left: 0; position: relative; overflow: hidden; top: 0; width: 38px; }

.jp-volume-bar-value { border-radius: 1px; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); background-color: #82b965; height: 5px; width: 0; }

.jp-volume-bar-container { border-left: 1px solid #333; height: 6px; padding: 20px 10px 33px; position: absolute; right: 0; top: 0; width: 40px; }

.jp-seek-bar { border-radius: 1px; background-color: #383838; cursor: pointer; height: 5px; min-width: 100%; width: 0; }

.nav { font-size: 0; position: relative; float: left; width: 100%; }
@media only screen and (max-width: 719px) { .nav { font-weight: 600; } }
.nav li a { color: #ccc; display: block; line-height: 20px; display: block; padding: 8px 20px; }
.nav li > a:after { content: '\f0da'; float: right; opacity: .5; }
.nav li > a:hover { color: #fff; }
.nav li li a { padding-left: 15px; padding-right: 15px; }
.nav li > a:hover { color: #fff; }
.nav li > a:after { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-family: "FontAwesome"; }
.nav li > a:only-child:after { content: ''; margin: 0; }
.nav li.current_page_item > a { color: #fff; }
.nav li.current-menu-item > a { color: #fff; }
.nav li.current-post-parent > a { color: #fff; }
.nav li.current-menu-ancestor > a { color: #fff; }
.nav li:hover > a { color: #fff; }
@media only screen and (min-width: 720px) { .nav li:hover > ul { display: block; } }
.nav > li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-size: 16px; border-right: 1px solid #999; position: relative; }
.nav > li > a { padding: 15px 14px; }
.nav > li > a:after { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; content: 'f0d7'; float: none; margin-left: 6px; font-size: 14px; line-height: 1.2em; font-family: "FontAwesome"; }
.nav > li > a:hover { background: #777; }
.nav > li:hover > a { background: #777; }
.nav ul { display: block; margin-left: 40px; }
.nav ul li { font-size: 13px; font-weight: 300; }
@media only screen and (min-width: 720px) { .nav ul li { font-size: 14px; position: relative; display: block; padding: 0; } }
.nav ul li a { padding-top: 6px; padding-bottom: 6px; }
@media only screen and (min-width: 720px) { .nav ul li a { padding: 10px 20px; } }
@media only screen and (min-width: 720px) { .nav ul li:last-child { border-bottom: 0; } }
.nav ul ul { position: absolute; top: -10px; left: 180px; }
@media only screen and (min-width: 720px) { .nav ul { box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); -ms-transform: translateZ(0); -webkit-transform: translateZ(0); transform: translateZ(0); display: none; background: #777; position: absolute; left: 0; top: 50px; width: 180px; padding: 10px 0; z-index: 2; } }

.nav-container { background: #888; z-index: 99; position: relative; }
@media only screen and (max-width: 719px) { .nav-container { text-transform: none; } }

.nav-toggle { display: none; background: #777; cursor: pointer; float: right; height: 50px; width: 60px; color: #fff; text-align: center; }
@media only screen and (max-width: 719px) { .nav-toggle { display: block; } }
.nav-toggle i { font-size: 29px; padding: 10px 0; }

.nav-text { display: none; float: right; font-size: 16px; line-height: 24px; padding: 13px 20px; }
@media only screen and (max-width: 719px) { .nav-text { display: block; } }

@media only screen and (max-width: 719px) { .nav-wrap { position: relative; float: left; width: 100%; height: 0; overflow: hidden; } }
@media only screen and (min-width: 720px) { .nav-wrap { height: auto; } }
@media only screen and (max-width: 719px) { .nav-wrap.transition { -webkit-transition: height 0.35s ease; transition: height 0.35s ease; } }

@media only screen and (max-width: 719px) { .expand .nav-wrap { height: auto; } }

.safari .nav-wrap.transition { -webkit-transition: none; transition: none; }

#nav-topbar.nav-container { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15); background: #26272b; }
@media only screen and (max-width: 719px) { #nav-topbar .container { padding-left: 0; } }
@media only screen and (min-width: 720px) { #nav-topbar .container { padding-left: 15px; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li:hover > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-topbar .nav li.current_page_item > a { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li.current_page_item > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-topbar .nav li.current-menu-item > a { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li.current-menu-item > a { color: #fff; } }
#nav-topbar .nav li.current-menu-ancestor > a { color: #fff; }
@media only screen and (max-width: 719px) { #nav-topbar .nav li.current-post-parent > a { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li.current-post-parent > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-topbar .nav li a { color: #fff; color: rgba(255, 255, 255, 0.8); border-top: 1px solid rgba(255, 255, 255, 0.06); } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li a { color: #fff; color: rgba(255, 255, 255, 0.7); } }
@media only screen and (max-width: 719px) { #nav-topbar .nav li > a:hover { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav li > a:hover { color: #fff; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav ul { background: #26272b url("img/opacity-10.png") repeat; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav ul li { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06); } }
@media only screen and (min-width: 720px) { #nav-topbar .nav ul li:last-child { box-shadow: none; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav > li { border-right: none; } }
@media only screen and (min-width: 720px) { #nav-topbar .nav > li:hover > a { background-color: rgba(0, 0, 0, 0.1); } }
@media only screen and (min-width: 720px) { #nav-topbar .nav > li > a:hover { background-color: rgba(0, 0, 0, 0.1); } }
#nav-topbar .nav-text { color: #fff; color: rgba(255, 255, 255, 0.7); }
#nav-topbar .nav-toggle { box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.06); background: transparent; color: #fff; }

#nav-header.nav-container { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2); background: transparent; z-index: 97; }
@media only screen and (max-width: 719px) { #nav-header.nav-container { border-left: 0; border-right: 0; } }
#nav-header .container { padding: 0 15px; }
@media only screen and (max-width: 719px) { #nav-header .container { padding: 0; } }
@media only screen and (max-width: 719px) { #nav-header .nav { padding-bottom: 20px; } }
@media only screen and (min-width: 720px) { #nav-header .nav li:hover > a { background: rgba(0, 0, 0, 0.1); color: #fff; } }
@media only screen and (max-width: 719px) { #nav-header .nav li.current_page_item > a { color: #fff; background: rgba(0, 0, 0, 0.15); } }
@media only screen and (min-width: 720px) { #nav-header .nav li.current_page_item > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-header .nav li.current-menu-item > a { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-header .nav li.current-menu-item > a { color: #fff; } }
@media only screen and (min-width: 720px) { #nav-header .nav li.current-menu-ancestor > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-header .nav li.current-post-parent > a { background: rgba(0, 0, 0, 0.15); color: #fff; } }
@media only screen and (min-width: 720px) { #nav-header .nav li.current-post-parent > a { color: #fff; } }
@media only screen and (max-width: 719px) { #nav-header .nav li a { color: #fff; color: rgba(255, 255, 255, 0.8); border-top: 1px solid rgba(255, 255, 255, 0.06); } }
@media only screen and (min-width: 720px) { #nav-header .nav li a { color: #fff; color: rgba(255, 255, 255, 0.7); } }
@media only screen and (max-width: 719px) { #nav-header .nav li > a:hover { color: #fff; background: rgba(0, 0, 0, 0.15); } }
@media only screen and (min-width: 720px) { #nav-header .nav li > a:hover { color: #fff; } }
@media only screen and (min-width: 720px) { #nav-header .nav ul { background: #33363b url("img/opacity-10.png") repeat; } }
@media only screen and (min-width: 720px) { #nav-header .nav ul li { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06); } }
@media only screen and (min-width: 720px) { #nav-header .nav ul li:last-child { box-shadow: none; } }
@media only screen and (min-width: 720px) { #nav-header .nav > li { border-right: none; } }
@media only screen and (min-width: 720px) { #nav-header .nav > li > a:hover { background: rgba(0, 0, 0, 0.1); } }
#nav-header .nav-toggle { box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.05), -1px 0 0 rgba(0, 0, 0, 0.2); color: #fff; background: transparent; }
#nav-header .nav-text { color: #fff; color: rgba(255, 255, 255, 0.7); }

#nav-footer.nav-container { background: #fff; border-top: 1px solid #eee; }
@media only screen and (min-width: 720px) { #nav-footer .nav { text-align: center; } }
@media only screen and (max-width: 719px) { #nav-footer .nav li.current_page_item > a { background: #f2f2f2; color: #444; } }
@media only screen and (min-width: 720px) { #nav-footer .nav li.current_page_item > a { color: #666; } }
@media only screen and (max-width: 719px) { #nav-footer .nav li.current-menu-item > a { background: #f2f2f2; color: #444; } }
@media only screen and (min-width: 720px) { #nav-footer .nav li.current-menu-item > a { color: #666; } }
@media only screen and (min-width: 720px) { #nav-footer .nav li.current-menu-ancestor > a { color: #666; } }
@media only screen and (max-width: 719px) { #nav-footer .nav li.current-post-parent > a { background: #f2f2f2; color: #444; } }
@media only screen and (min-width: 720px) { #nav-footer .nav li.current-post-parent > a { color: #666; } }
@media only screen and (max-width: 719px) { #nav-footer .nav li a { color: #999; color: rgba(0, 0, 0, 0.8); border-top: 1px solid #f2f2f2; } }
@media only screen and (min-width: 720px) { #nav-footer .nav li a { color: #999; } }
@media only screen and (max-width: 719px) { #nav-footer .nav li > a:hover { background: #f2f2f2; color: #444; } }
@media only screen and (min-width: 720px) { #nav-footer .nav ul { box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05); background: #f0f0f0; bottom: 44px; top: auto; text-align: left; } }
@media only screen and (min-width: 720px) and (min-width: 720px) { #nav-footer .nav ul li { border-bottom: 1px solid #e9e9e9; } }
@media only screen and (min-width: 720px) and (min-width: 720px) { #nav-footer .nav ul ul { position: absolute; top: auto; bottom: -10px; } }

@media only screen and (min-width: 720px) { #nav-footer .nav > li { border-right: 0; } }
@media only screen and (min-width: 720px) { #nav-footer .nav > li:first-child { border-left: 0; } }
@media only screen and (min-width: 720px) { #nav-footer .nav > li:hover > a { background: #f0f0f0; color: #666; } }
@media only screen and (min-width: 720px) { #nav-footer .nav > li > a { padding: 12px 18px; } }
@media only screen and (min-width: 720px) { #nav-footer .nav > li > a:hover { background: #f0f0f0; color: #666; } }
#nav-footer .nav-toggle { background: transparent; color: #444; border-left: 1px solid #eee; }

#footer { background: #fff; color: #777; width: 100%; }
#footer a { color: #777; }
#footer a:hover { color: #ccc; }
#footer .pad { padding-bottom: 30px; }
#footer .nav li > a:after { content: '\f0da'; }
#footer .nav li > a:only-child:after { content: ''; }
#footer .nav > li > a:after { content: '\f0d8'; }
#footer .alx-posts li:hover .post-item-title a { color: #3b8dbd; }
#footer .alx-posts .post-item-title { font-size: 18px; line-height: 1.4em; font-weight: 300; }
#footer .alx-posts .post-item-category { font-size: 14px; }
#footer .alx-posts .post-item-category a { color: #3b8dbd; }
#footer .alx-posts .post-item-date { font-size: 14px; }
#footer .alx-tab li:hover .tab-item-title a { color: #3b8dbd; }
#footer .alx-tab li:hover .tab-item-comment a { color: #3b8dbd; }
#footer .alx-tab .tab-item-category a { color: #3b8dbd; }
#footer .alx-tabs-nav { border-bottom-color: #eee; }
#footer .alx-tabs-nav li a:hover { border-bottom-color: #ddd; }
#footer .alx-tabs-nav li.active a { border-bottom-color: #3b8dbd; color: #444; }
#footer #footer-ads .widget { padding-bottom: 0; font-size: 0; line-height: 0; }

#footer-ads { text-align: center; padding: 10px 0; border-bottom: 1px solid #eee; }
#footer-ads h3 { display: none; }

#footer-widgets { padding-top: 20px; }

#footer-bottom { background: #33363b; }
@media only screen and (max-width: 719px) { #footer-bottom { text-align: center; } }
#footer-bottom a { color: #fff; color: rgba(255, 255, 255, 0.7); }
#footer-bottom a:hover { color: #fff; }
#footer-bottom .pad { padding-top: 30px; }
@media only screen and (max-width: 719px) { #footer-bottom .pad { padding-top: 50px; padding-bottom: 40px; } }
@media only screen and (max-width: 719px) { #footer-bottom .one-half.last { margin-bottom: 0; } }
#footer-bottom .social-links { padding-top: 10px; }
@media only screen and (max-width: 719px) { #footer-bottom .social-links { float: none; } }
#footer-bottom .social-links a { color: rgba(255, 255, 255, 0.6); }
#footer-bottom .social-links a:hover { color: #fff; }
@media only screen and (max-width: 719px) { #footer-bottom .social-links li { margin-left: 4px; margin-right: 4px; } }
#footer-bottom .social-links .social-tooltip { font-size: 28px; }
#footer-bottom .widget { padding-bottom: 30px; }
#footer-bottom .widget a:hover { color: #666; }
#footer-bottom .widget select { border-color: #eee; }
#footer-bottom .widget_archive ul li { border-color: #f2f2f2; }
#footer-bottom .widget_categories ul li { border-color: #f2f2f2; }
#footer-bottom .widget_calendar a { color: #3b8dbd; }
#footer-bottom .widget_calendar caption { background: #3b8dbd; }
#footer-bottom .widget_calendar th { border-color: #f2f2f2; }
#footer-bottom .widget_calendar td { border-color: #f2f2f2; }
#footer-bottom .widget_calendar thead { background: #f2f2f2; }
#footer-bottom .widget_links ul li { border-color: #f2f2f2; }
#footer-bottom .widget_meta ul li { border-color: #f2f2f2; }
#footer-bottom .widget_nav_menu ul li a { border-color: #f2f2f2; }
#footer-bottom .widget_pages ul li a { border-color: #f2f2f2; }
#footer-bottom .widget_recent_comments ul li { border-color: #f2f2f2; }
#footer-bottom .widget_recent_entries ul li { border-color: #f2f2f2; }
#footer-bottom .widget_rss ul li { color: #f2f2f2; }
#footer-bottom .widget_rss ul li a { color: #3b8dbd; }
#footer-bottom .alx-tab li { border-color: #f2f2f2; }
#footer-bottom .alx-posts li { border-color: #f2f2f2; }
#footer-bottom #footer-logo { border-radius: 0; display: block; margin-bottom: 20px; max-height: 50px; }
@media only screen and (max-width: 719px) { #footer-bottom #footer-logo { margin-left: auto; margin-right: auto; } }
#footer-bottom #copyright { color: #fff; color: rgba(255, 255, 255, 0.5); font-size: 15px; line-height: 1.5em; }
#footer-bottom #credit { color: #fff; color: rgba(255, 255, 255, 0.5); font-size: 15px; line-height: 1.5em; }
#footer-bottom #back-to-top { border-radius: 0 0 3px 3px; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05); background: #eaeaea; color: #777; overflow: hidden; text-align: center; width: 60px; height: 30px; display: block; margin: 0 auto -30px; }
#footer-bottom #back-to-top:hover { color: #444; }
#footer-bottom #back-to-top i { font-size: 38px; position: relative; top: -7px; }

.page.post-standard .post-inner { padding-left: 0; }
.page.post-standard .post-thumbnail { display: none; }

.page-title { background: #fff; border-bottom: 1px solid #eee; color: #666; font-size: 16px; font-weight: 600; line-height: 24px; padding-bottom: 17px; padding-top: 18px; position: relative; text-transform: uppercase; }
@media only screen and (max-width: 719px) { .page-title { font-size: 14px; } }
@media only screen and (max-width: 960px) { .page-title.pad { padding-bottom: 12px; padding-top: 12px; } }
.page-title a { color: #aaa; }
.page-title a:hover { color: #444; }
.page-title h1 { color: #666; }
.page-title h2 { color: #666; }
.page-title h4 { color: #666; }
.page-title i { margin-right: 8px; }
.page-title span { color: #aaa; }
.page-title .meta-single li { float: left; margin-right: 14px; }
.page-title .meta-single li.comments { float: right; margin-right: 0; }

.page-image { margin: 0 0 30px; overflow: hidden; position: relative; }

.page-image-text { margin-top: -35px; position: absolute; text-align: center; top: 50%; width: 100%; }
@media only screen and (max-width: 719px) { .page-image-text { margin-top: -15px; } }
.page-image-text .caption { color: #fff; font-size: 44px; font-weight: 600; line-height: 70px; text-shadow: 0 0 20px rgba(0, 0, 0, 0.3); text-transform: uppercase; }
@media only screen and (max-width: 719px) { .page-image-text .caption { font-size: 26px; line-height: 30px; } }
.page-image-text .description { color: #fff; display: block; font-size: 15px; font-weight: 300; line-height: 36px; }
@media only screen and (max-width: 719px) { .page-image-text .description { font-size: 13px; } }
.page-image-text .description i { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; border-radius: 2px; background: rgba(0, 0, 0, 0.7); font-style: normal; padding: 6px 10px; }

.archive .post { margin-bottom: 40px; }
.archive .post-standard { margin-bottom: 20px; }

.post-byline { font-size: 14px; font-weight: 400; color: #aaa; text-transform: uppercase; margin-bottom: 1em; }
@media only screen and (max-width: 719px) { .post-byline { font-size: 13px; } }

.post-comments { box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.2); background: #82b965; font-size: 12px; line-height: 20px; color: #fff; display: block; position: absolute; top: 10px; right: 0; }
.post-comments:hover { color: #fff; padding-right: 4px; }
.post-comments i { margin-right: 3px; }
.post-comments > span { display: block; position: relative; padding: 2px 7px; }
.post-comments > span:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; content: ''; border-left: 7px solid transparent; border-right: 7px solid #82b965; border-top: 7px solid transparent; border-bottom: 7px solid transparent; position: absolute; top: 5px; left: -14px; }

.post-format { position: relative; margin-bottom: 2em; }
@media only screen and (max-width: 719px) { .post-format { margin-bottom: 20px; } }
.post-format p { margin-bottom: 1em; }
.post-format .format-container { background: #f1f1f1; padding-bottom: 10px; border-left: 3px solid #3b8dbd; }
.post-format .format-container .fa { color: #ccc; font-size: 36px; float: right; margin: 0 0 20px 20px; }
@media only screen and (max-width: 719px) { .post-format .format-container .fa { font-size: 28px; } }

.post-hover:hover .post-thumbnail { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.post-hover:hover .post-title a { color: #3b8dbd; }
.post-hover:hover .thumb-icon { background: #fff; color: #111; }

.post-list { margin-right: -30px; }
@media only screen and (max-width: 719px) { .post-list { margin-left: 0; margin-right: 0; } }
.post-list .page { width: 50%; float: left; }
@media only screen and (max-width: 719px) { .post-list .page { width: 100%; } }
.post-list .post { width: 50%; float: left; }
@media only screen and (max-width: 719px) { .post-list .post { width: 100%; } }
.post-list .post-inner { margin-right: 30px; }
@media only screen and (max-width: 719px) { .post-list .post-inner { margin-right: 0; } }
.post-list .post-row { margin-left: -30px; padding-left: 30px; float: left; width: 100%; border-bottom: 1px solid #eee; margin-bottom: 30px; position: relative; }
@media only screen and (max-width: 719px) { .post-list .post-row { margin-left: 0; padding-left: 0; } }
.post-list .post-row:last-child { border: none; margin-bottom: 0; }

.post-meta { text-transform: uppercase; font-size: 14px; font-weight: 400; color: #bbb; margin-bottom: 0.3em; }
.post-meta .post-category { float: left; margin-right: 6px; }
.post-meta .post-date { float: left; }

.post-nav li { width: 100%; display: inline; float: left; text-align: center; }
.post-nav li.previous i { left: 10px; }
.post-nav li.next i { right: 10px; }
.post-nav li a { position: relative; min-height: 73px; display: block; padding: 16px 40px 24px; }
.post-nav li a:hover span { color: #444; }
.post-nav li a i { -webkit-transition-property: background, color; transition-property: background color; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.post-nav li a span { -webkit-transition-property: background, color; transition-property: background color; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; font-size: 15px; color: #666; }
.post-nav li a strong { display: block; font-size: 12px; color: #aaa; letter-spacing: 0.5px; font-weight: normal; text-transform: uppercase; }
.post-nav li i { color: #ccc; font-size: 18px; position: absolute; top: 50%; margin-top: -10px; }

.post-pages { font-weight: 600; margin-bottom: 20px; }

.post-standard { display: -webkit-flex; -webkit-flex-flow: column; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: column; -ms-flex-flow: column; flex-flow: column; }
.post-standard .post-content { float: left; }
.post-standard .post-inner { border-bottom: 1px solid #eee; float: left; padding-bottom: 10px; padding-left: 0; }
@media only screen and (max-width: 479px) { .post-standard .post-inner { padding-left: 82px; } }
.post-standard .post-thumbnail { max-width: 400px; margin: auto; margin-bottom: 0.5em; float: none; }
@media only screen and (max-width: 479px) { .post-standard .post-thumbnail { margin-left: -82px; max-width: 72px; } }
@media only screen and (max-width: 719px) { .post-standard .post-thumbnail { max-width: 200px; } }

.post-tags { margin-bottom: 40px; }
.post-tags a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-radius: 2px; background: #f2f2f2; line-height: 16px; white-space: nowrap; font-size: 12px; color: #999; padding: 3px 7px; margin: 0 5px 2px 0; }
.post-tags a:hover { background-color: #3b8dbd; color: #fff; }
.post-tags span { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-size: 14px; color: #999; margin: 0 7px 0 0; }

.post-thumbnail { -webkit-transition: all 1s ease; transition: all 1s ease; width: 100%; position: relative; margin-bottom: 1em; }
.post-thumbnail img { display: block; width: 100%; height: auto; }

.post-title { color: #444; font-weight: normal; margin-bottom: 10px; font-size: 22px; line-height: 1.5em; word-wrap: break-word; }
.post-title a { color: #444; }
.post-title a:hover { color: #3b8dbd; }
.post-title i { font-style: italic; }
.post-title strong { font-weight: 600; }

.featured { border-bottom: 1px solid #eee; margin-bottom: 30px; padding-bottom: 30px; }
.featured.flexslider { border-bottom: 1px solid #eee; margin-bottom: 30px; padding-bottom: 30px; }
.featured .post { margin-bottom: 0; }
.featured .post-title { font-size: 34px; letter-spacing: -.7px; line-height: 1.4em; }
@media only screen and (max-width: 719px) { .featured .post-title { font-size: 22px; letter-spacing: 0; line-height: 1.5em; } }

.blog .post { margin-bottom: 40px; }
.blog .post-standard { margin-bottom: 20px; }

.single .format-status .entry { font-size: 24px; line-height: 1.4em; }
@media only screen and (max-width: 719px) { .single .format-status .entry { font-size: 24px; line-height: 1.4em; } }
.single .post { margin-bottom: 40px; }
.single .post-inner .post-thumbnail { margin-bottom: 2em; }
.single .post-standard { margin-bottom: 20px; }
.single .post-title { font-size: 38px; letter-spacing: -1px; line-height: 1.3em; }
@media only screen and (max-width: 719px) { .single .post-title { font-size: 22px; letter-spacing: 0; line-height: 1.5em; } }
.single .related-posts .post-title { display: block; font-size: 17px; font-weight: 300; letter-spacing: 0; line-height: 1.5em; margin-bottom: 10px; }
@media only screen and (max-width: 719px) { .single .related-posts .post-title { font-size: 15px; } }

.related-posts { border-bottom: 2px solid #eee; margin-bottom: 40px; }
.related-posts li { display: inline; float: left; margin: 0 .2em; width: 33.3%; }
@media only screen and (max-width: 719px) { .related-posts li { width: 50%; } }
@media only screen and (max-width: 719px) { .related-posts li:nth-child(2) article { border-right-color: transparent; } }
@media only screen and (max-width: 719px) { .related-posts li:nth-child(3) { display: none; } }
.related-posts li:nth-child(3) article { border-right-color: transparent; }
@media only screen and (max-width: 719px) { .related-posts li:nth-child(4) { display: none; } }
.related-posts li:nth-child(4) article { display: none; }
.related-posts .post { border-right: 1px solid transparent; margin-bottom: 0; padding-bottom: 10px; }
.related-posts .related-inner { padding: 0 20px 0 0; }

.format-quote .post-format blockquote { font-size: 22px; font-style: italic; font-weight: 400; line-height: 1.4em; }
@media only screen and (max-width: 719px) { .format-quote .post-format blockquote { font-size: 18px; } }
.format-quote .post-format .quote-author { font-style: italic; }

.format-link .post-format p { font-size: 22px; font-style: italic; font-weight: 400; line-height: 1.4em; }
@media only screen and (max-width: 479px) { .format-link .post-format p { margin-bottom: 5px; } }
@media only screen and (max-width: 719px) { .format-link .post-format p { font-size: 18px; margin-bottom: 10px; } }

.format-chat .post-format p { font-style: italic; }

.format-audio .post-format a { font-size: 16px; line-height: 22px; }
.format-audio .post-format i { font-size: 16px; line-height: 22px; }

.format-status .post-title { display: none; }

.format-aside .post-title { display: none; }

.format-gallery .post-format .flexslider { margin-bottom: -20px; overflow: visible; padding-bottom: 30px; }
.format-gallery .post-format .flexslider .flex-control-nav { bottom: 1px; }
.format-gallery .post-format .flexslider .slides { background: #262626; overflow: hidden; position: relative; }
.format-gallery .post-format .flexslider .slides img { box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); max-height: 405px; max-width: 100%; width: auto; }
@media only screen and (max-width: 719px) { .format-gallery .post-format .flexslider .slides img { max-height: 240px; } }
.format-gallery .post-format .flex-direction-nav a:before { color: #fff; }

.toggle-search { box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1); color: #fff; cursor: pointer; display: block; font-size: 18px; line-height: 24px; padding: 13px 20px; position: absolute; right: 0; top: -50px; }
@media only screen and (max-width: 719px) { .toggle-search { box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); left: 0; right: auto; top: 0; } }
.toggle-search:hover { background: rgba(0, 0, 0, 0.15); color: #fff; }
.toggle-search.active { background: rgba(0, 0, 0, 0.15); color: #fff; }

.search-expand { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); background: #26272b; display: none; position: absolute; right: 0; top: 0; width: 340px; }
@media only screen and (max-width: 719px) { .search-expand { left: 0; right: auto; top: 50px; width: 320px; } }
.search-expand .themeform input { border-radius: 0; border: 2px solid #e2e2e2; width: 100%; }

.search-expand-inner { background: rgba(0, 0, 0, 0.15); padding: 15px; }

.search .post { margin-bottom: 40px; }
.search .post-standard { margin-bottom: 20px; }
.search .page { margin-bottom: 40px; }
.search .page.type-page .post-thumbnail { display: none; }
.search .page.type-page .post-meta { display: none; }

.sharrre { padding: 10px 0 0; }
.sharrre .box { display: block; width: 50px; }
.sharrre .box:hover .count { color: #444; }
.sharrre .box:hover .share { color: #444; }
.sharrre .box .count { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.sharrre .box .share { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.sharrre .count { border-radius: 4px; background: #eee; color: #333; display: block; font-size: 15px; font-weight: 600; line-height: 30px; position: relative; text-align: center; }
.sharrre .count:after { border: 6px solid transparent; border-top-color: #eee; bottom: -12px; content: ''; display: block; height: 0; left: 49%; margin-left: -6px; position: absolute; width: 0; }
.sharrre .share { display: block; font-size: 28px; font-weight: 600; line-height: 32px; margin-top: 12px; padding: 0; text-align: center; text-decoration: none; }
.sharrre#twitter .count { color: #00acee; }
.sharrre#twitter .share { color: #00acee; }
.sharrre#facebook .count { color: #3b5999; }
.sharrre#facebook .share { color: #3b5999; }
.sharrre#googleplus .count { color: #cd483c; }
.sharrre#googleplus .share { color: #cd483c; }
.sharrre#pinterest .count { color: #ca2128; }
.sharrre#pinterest .share { color: #ca2128; }

.sharrre-container { border-radius: 4px; float: right; margin-right: -100px; padding: 0 10px; width: 50px; }
@media only screen and (max-width: 719px) { .sharrre-container { float: left; margin: 20px 0 0; padding: 0; position: relative; width: auto; } }
.sharrre-container span { color: #aaa; display: block; font-size: 11px; text-align: center; text-transform: uppercase; }
@media only screen and (max-width: 719px) { .sharrre-container span { text-align: left; } }
.sharrre-container > div { float: left; margin-right: 10px; }

.sidebar { padding-bottom: 0; position: relative; z-index: 2; }
@media only screen and (max-width: 479px) { .sidebar { width: 100%; float: none; margin-right: 0; margin-left: 0; background: #f0f0f0; display: block; } }
.sidebar .pad { padding-left: 20px; padding-right: 20px; }
.sidebar .post-nav li a { border-top: 1px solid #eee; border-bottom: 1px solid #ddd; }
.sidebar .post-nav li a:hover { background: #ebebeb; background: rgba(0, 0, 0, 0.02); }
.sidebar .post-nav li.previous a { border-bottom: 1px solid #ddd; }
.sidebar .post-nav li.next a { border-bottom: 1px solid #ddd; }
.sidebar .s1 { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
@media only screen and (max-width: 479px) { .sidebar .s1 { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; } }
.sidebar .widget { padding: 20px; }
@media only screen and (max-width: 479px) { .sidebar .widget { padding-left: 15px; padding-right: 15px; } }

.sidebar-top { padding: 15px 30px; }
@media only screen and (max-width: 479px) { .sidebar-top { padding-left: 15px; padding-right: 15px; } }
.sidebar-top p { float: left; color: #fff; color: rgba(255, 255, 255, 0.8); font-size: 16px; font-weight: 600; text-transform: uppercase; line-height: 24px; padding: 3px 0; }

.sidebar-toggle { box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1); display: none; text-align: center; cursor: pointer; width: 100%; height: 3em; }
.sidebar-toggle i { font-size: 38px; color: #fff; padding-top: 5px; }

.s1 { width: 500px; background-color: #eee; z-index: 2; }
@media only screen and (max-width: 719px) { .s1 { width: 50px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1 { width: 50px; } }
.s1:hover { z-index: 98; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1 .sidebar-content { display: none; float: left; width: 100%; } }
.s1 .sidebar-top { background: #3b8dbd; }
@media only screen and (min-width: 479px) and (max-width: 960px) { .s1 .sidebar-top { background: none; border-bottom: 1px solid #ddd; } }
@media only screen and (min-width: 479px) and (max-width: 960px) { .s1 .sidebar-top p { color: #666; } }
@media only screen and (min-width: 479px) and (max-width: 960px) { .s1 .sidebar-top .social-links .social-tooltip { color: #666; } }
.s1 .sidebar-toggle { background: #3b8dbd; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1 .sidebar-toggle { display: block; } }
.s1 .post-nav li a:hover i { color: #3b8dbd; }
.s1 .alx-tab li:hover .post-item-title a { color: #3b8dbd; }
.s1 .alx-tab li:hover .tab-item-title a { color: #3b8dbd; }
.s1 .alx-tab li:hover .tab-item-comment a { color: #3b8dbd; }
.s1 .alx-tab .tab-item-category a { color: #3b8dbd; }
.s1 .alx-posts .post-item-title { font-size: 18px; line-height: 1.4em; font-weight: 300; }
.s1 .alx-posts .post-item-category { font-size: 14px; }
.s1 .alx-posts .post-item-category a { color: #3b8dbd; }
.s1 .alx-posts .post-item-date { font-size: 14px; }
.s1 .alx-tabs-nav li.active a { border-bottom-color: #3b8dbd; }
.s1 .widget_calendar a { color: #3b8dbd; }
.s1 .widget_calendar caption { background: #3b8dbd; }
.s1 .widget_rss ul li a { color: #3b8dbd; }

.s2 { width: 260px; z-index: 1; }
@media only screen and (max-width: 479px) { .s2 { right: 0; left: 0; } }
@media only screen and (max-width: 719px) { .s2 { width: 50px; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2 { width: 50px; } }
.s2 .sidebar-top { background: #82b965; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2 .sidebar-top { background: none; border-bottom: 1px solid #ddd; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2 .sidebar-top p { color: #666; } }
.s2 .sidebar-toggle { background: #82b965; display: block; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2 .sidebar-toggle { display: block; } }
.s2 .sidebar-toggle i { font-size: 38px; color: #fff; }
.s2 .sidebar-content { display: none; float: left; width: 100%; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2 .sidebar-content { display: none; float: left; width: 100%; } }
.s2 .post-nav li a:hover i { color: #82b965; }
.s2 .alx-tab li:hover .post-item-title a { color: #82b965; }
.s2 .alx-tab li:hover .tab-item-title a { color: #82b965; }
.s2 .alx-tab li:hover .tab-item-comment a { color: #82b965; }
.s2 .alx-tab .tab-item-category a { color: #82b965; }
.s2 .alx-posts .post-item-category a { color: #82b965; }
.s2 .alx-tabs-nav li.active a { border-bottom-color: #82b965; }
.s2 .widget_calendar a { color: #82b965; }
.s2 .widget_calendar caption { background: #82b965; }
.s2 .widget_rss ul li a { color: #82b965; }

.s1-expand .s1 { -webkit-transition: width 0.2s ease; transition: width 0.2s ease; }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1-expand .s1 { background: #f0f0f0; bottom: 0; margin: 0; overflow: auto; position: absolute; top: 0; width: 340px; z-index: 9; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1-expand .s1 .sidebar-content { display: block; min-width: 340px; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1-expand .s1 .post-nav { display: block; min-width: 340px; } }

@media only screen and (min-width: 480px) and (max-width: 960px) { .s1-collapse .s1 .sidebar-content { display: none; } }
@media only screen and (min-width: 480px) and (max-width: 960px) { .s1-collapse .s1 .sidebar .post-nav { display: none; } }

.s2-expand .s2 { -webkit-transition: width 0.2s ease; transition: width 0.2s ease; }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2-expand .s2 { background: #f0f0f0; bottom: 0; margin: 0; overflow: auto; position: absolute; top: 0; width: 260px; z-index: 9; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .s2-expand .s2 .sidebar-content { display: block; min-width: 260px; } }

.s2-collapse .s2 .sidebar-content { display: none; }

@media only screen and (max-width: 479px) { .mobile-sidebar-hide-s1 .s1 { display: none; } }

@media only screen and (max-width: 479px) { .mobile-sidebar-hide-s2 .s2 { display: none; } }

@media only screen and (max-width: 479px) { .mobile-sidebar-hide .sidebar { display: none; } }

.social-links { float: right; position: relative; padding-top: 2px; }
.social-links li { display: inline-block; margin-left: 8px; line-height: 16px; font-size: 0; }
.social-links li a { display: block; position: relative; text-align: center; }
.social-links .social-tooltip { color: #fff; color: rgba(0, 0, 0, 0.7); font-size: 24px; display: inline; position: relative; z-index: 98; }
.social-links .social-tooltip:hover { color: #fff; text-decoration: none; }
.social-links .social-tooltip:hover:before { top: -10px; right: 8px; border: solid; border-color: #fff transparent; border-width: 5px 5px 0 5px; content: ''; display: block; position: absolute; z-index: 1; }
.social-links .social-tooltip:hover:after { border-radius: 3px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); top: -36px; background: #fff; font-size: 14px; color: #666; content: attr(title); display: block; right: 0; padding: 5px 15px; position: absolute; white-space: nowrap; }

.widget { color: #777; font-size: 15px; overflow: hidden; }
.widget a { color: #777; }
.widget a:hover { color: #444; }
.widget select { border: 1px solid #ddd; color: #777; font-size: 15px; padding: 7px; width: 100%; max-width: 100%; }
.widget > h3 { font-size: 15px; font-weight: 400; text-transform: uppercase; margin-bottom: 6px; }
.widget > h3 a { color: #444; }
.widget > h3 a:hover { color: #444; }
.widget > h3 a img { display: none; float: left; margin: 3px 7px 0 0; }
.widget > ul li a:hover:before { color: #999; }

.widget_archive ul li { color: #bbb; padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_archive > ul > li a:before { content: '\f073'; }

.widget_calendar a { font-weight: 600; }
.widget_calendar a:hover { color: #444; }
.widget_calendar caption { color: #fff; padding: 5px 10px; }
.widget_calendar caption:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; content: '\f073'; font-family: "FontAwesome"; margin-right: 6px; width: 1em; color: #fff; color: rgba(255, 255, 255, 0.7); font-size: 15px; text-align: center; }
.widget_calendar thead { box-shadow: inset 0 -1px 0 #ddd; background: #e2e2e2; }
.widget_calendar th { font-weight: 600; }
.widget_calendar > h3 { margin-bottom: 1em; }
.widget_calendar .pad { padding: 0; }
.widget_calendar #wp-calendar { width: 100%; }

.widget_categories ul li { color: #bbb; padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_categories > ul > li a:before { content: '\f07c'; }

.widget_links ul li { color: #bbb; padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_links > ul > li a:before { content: '\f08e'; }

.widget_meta ul li { padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_meta > ul > li a:before { content: '\f0da'; }

.widget_nav_menu li li a { padding-left: 15px; }
.widget_nav_menu li li li a { padding-left: 30px; }
.widget_nav_menu ul li { padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_nav_menu ul li a { display: block; }
.widget_nav_menu ul li a:before { content: '\f068'; }
.widget_nav_menu ul ul { border: 0; }
.widget_nav_menu ul ul ul { border: 0; }

.widget_pages li li a { padding-left: 15px; }
.widget_pages li li li a { padding-left: 30px; }
.widget_pages ul li { padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_pages ul li a { display: block; }
.widget_pages ul li a:before { content: '\f068'; }
.widget_pages ul ul { border: 0; }
.widget_pages ul ul ul { border: 0; }

.widget_recent_entries ul li { color: #999; padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_recent_entries > ul > li a:before { content: '\f017'; }
.widget_recent_entries .post-date { display: block; }

.widget_recent_comments cite { color: #999; }
.widget_recent_comments span.rss-date { color: #444; font-weight: 600; display: block; text-transform: uppercase; font-size: 12px; }
.widget_recent_comments ul li { color: #999; padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_recent_comments > ul > li:before { content: '\f075'; }

.widget_rss ul li { padding: 10px 0; border-bottom: 1px solid #e9e9e9; }
.widget_rss ul li a { display: block; }

.widget_search input.search { color: #999; padding-left: 26px; width: 100%; }
.widget_search > h3 { margin-bottom: 1em; }
.widget_search .screen-reader-text { display: none; }
.widget_search #searchsubmit { display: none; }

.widget_tag_cloud > h3 { margin-bottom: 1em; }

.widget_text > h3 { margin-bottom: 1em; }
.widget_text .textwidget p { margin-bottom: 1em; }

.wp-pagenavi { text-align: right; font-weight: 600; line-height: 20px; float: none; margin-right: -2px; text-align: center; }
.wp-pagenavi a { color: #aaa; font-size: 16px; padding: 7px 8px; display: inline; margin: 0 2px; color: #3b8dbd; border: none; border-bottom: 3px solid #3b8dbd; border-top: 1px solid #f1f1f1; }
.wp-pagenavi a:hover { color: #444; background: none; border: none; border-bottom: 3px solid #3b8dbd; border-top: 1px solid #f1f1f1; }
.wp-pagenavi a:active { color: #444; background: none; border: none; border-bottom: 3px solid #3b8dbd; border-top: 1px solid #f1f1f1; }
.wp-pagenavi span { color: #aaa; font-size: 16px; padding: 7px 8px; display: inline; margin: 0 2px; }
.wp-pagenavi span.current { color: #444; background: none; border: none; border-bottom: 3px solid #3b8dbd; border-top: 1px solid #f1f1f1; }
.wp-pagenavi span.pages { font-size: 17px; font-weight: 300; display: block; margin-bottom: 1em; border: none; }
.wp-pagenavi span.pages:before { content: '\f15c'; font-family: "FontAwesome"; margin-right: 6px; }
.wp-pagenavi span.extend { border: none; border-bottom: 3px solid transparent; border-top: 1px solid transparent; }

.wpcf7 div.wpcf7-validation-errors { border: none; margin: 0; padding: 0; }
.wpcf7 div.wpcf7-mail-sent-ok { border: none; }
.wpcf7 div.wpcf7-mail-sent-ng { border: none; }
.wpcf7 div.wpcf7-response-output { margin: 0; padding: 0; }
.wpcf7 input[type='submit'] { width: 100%; padding: 10px 0; font-size: 18px; }
.wpcf7 label { display: block; float: left; width: 20%; margin: 9px 0 0 12px; text-align: left; }
.wpcf7 p { color: #222; font-weight: 600; margin: 0 0 12px; width: 100%; float: left; position: relative; }
.wpcf7 p span { font-weight: 400; color: #999; }
.wpcf7 span.wpcf7-form-control-wrap { display: block; position: relative; }
.wpcf7 span.wpcf7-not-valid-tip { background: #f2dede; border-color: #e3bfbf; color: #b94a48; padding: 4px 14px; font-size: 12px; line-height: 20px; position: absolute; left: 0; top: 12px; width: auto; right: 0; display: block; }

.alignnone { margin: 5px 20px 20px 0; }

.aligncenter { display: block; margin: 5px auto; }

div.aligncenter { display: block; margin: 5px auto; }

.alignright { float: right; margin: 5px 0 20px 20px; }

.alignleft { float: left; margin: 5px 20px 20px 0; }

a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: .875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }

.group { zoom: 1; }
.group:before { content: ' '; display: table; }
.group:after { clear: both; content: ' '; display: table; }

.container { padding: 0 10px; }
@media only screen and (max-width: 719px) { .container { padding: 0; } }
@media only screen and (min-width: 480px) and (max-width: 1200px) { .container { padding: 0 10px; } }

.grid { display: inline; float: left; margin-right: 3.2%; position: relative; }
@media only screen and (max-width: 719px) { .grid { margin: 0 0 10px; width: 100%; } }

.last { clear: right; margin-right: 0; }

.one-full { margin-right: 0; overflow: hidden; width: 100%; }

.one-half { width: 48.4%; }

.one-third { width: 31.2%; }

.two-third { width: 65.6%; }

.one-fourth { width: 22.6%; }

.three-fourth { width: 74.2%; }

.one-fifth { width: 17.4%; }

.two-fifth { width: 38.1%; }

.three-fifth { width: 58.7%; }

.four-fifth { width: 79.4%; }

.container-inner { margin: 0 auto; max-width: 1440px; width: 100%; }
@media only screen and (max-width: 1200px) { .container-inner { min-width: 320px; } }

.main { background-color: #fff; position: relative; }
@media only screen and (max-width: 479px) { .main { display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; background-image: none; padding: 0; } }

.main-inner { display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 600px; position: relative; }
@media only screen and (max-width: 479px) { .main-inner { display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; background-image: none; padding: 0; } }

.content { position: relative; width: 100%; }
@media only screen and (max-width: 479px) { .content { display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; background-image: none; padding: 0; } }
.content .post { overflow: hidden; position: relative; }
.content .page { overflow: hidden; position: relative; }
.content .post-nav { border-bottom: 2px solid #eee; border-top: 2px solid #eee; margin-bottom: 40px; }
.content .post-nav li { width: 50%; }
@media only screen and (max-width: 719px) { .content .post-nav li { box-shadow: none; width: 100%; } }
.content .post-nav li.next { box-shadow: -1px 0 0 #eee, inset 1px 0 0 #eee; float: right; }
.content .post-nav li.next a { padding-left: 24px; }
.content .post-nav li.previous { box-shadow: 1px 0 0 #eee, inset -1px 0 0 #eee; float: left; }
.content .post-nav li.previous a { padding-right: 24px; }
.content .post-nav li.previous a:hover i { color: #3b8dbd; }
@media only screen and (max-width: 719px) { .content .post-nav li a { min-height: 0; } }

.full-width.admin-bar #nav-tobpar.nav-container { top: 32px; }
.full-width.topbar-enabled #header { padding-top: 50px; }
@media only screen and (max-width: 719px) { .full-width.topbar-enabled #header { padding-top: 0; } }
.full-width #nav-topbar.nav-container { left: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 999; }

.notebox { background: #f0f0f0; color: #888; margin-bottom: 30px; padding: 12px 15px; position: relative; }
@media only screen and (max-width: 479px) { .notebox { margin-bottom: 15px; } }
@media only screen and (max-width: 719px) { .notebox { margin-bottom: 20px; } }
.notebox:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-bottom: 8px solid #f1f1f1; border-left: 8px solid transparent; border-right: 8px solid transparent; content: ''; left: 13px; position: absolute; top: -8px; }
.notebox:after { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-bottom: 6px solid #f1f1f1; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ''; left: 15px; position: absolute; top: -5px; }
.notebox input[type='text'] { width: 100%; }
.notebox span { font-weight: 600; }
.notebox .search-again { margin-top: 10px; }

.fa { text-align: center; width: 1em; }

.boxed #wrapper { box-shadow: 6px 0 0 rgba(0, 0, 0, 0.04), -6px 0 0 rgba(0, 0, 0, 0.04); margin: 0 auto; max-width: 1380px; }
.boxed .container { padding: 0; }
.boxed #page { background: #eaeaea; padding-bottom: 1px; }

#page { margin-top: -60px; padding-bottom: 60px; }
@media only screen and (max-width: 719px) { #page { margin-top: 0; padding-bottom: 10px; } }
@media only screen and (max-width: 960px) { #page { margin-top: 0; } }
#page .container-inner { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background: #fff; }
#page .format-audio .post-format img { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

#wrapper { height: 100%; min-width: 1024px; }
@media only screen and (max-width: 1200px) { #wrapper { min-width: 320px; } }

#header { background: #eee; padding-bottom: 60px; position: relative; }
@media only screen and (max-width: 960px) { #header { padding-bottom: 50px; } }
@media only screen and (max-width: 719px) { #header { padding-bottom: 0; } }
#header .pad { padding-bottom: 10px; padding-top: 10px; }
@media only screen and (max-width: 719px) { #header .pad { padding-bottom: 0; padding-top: 0; } }
#header .container-inner { position: relative; }

#header-ads { float: right; }
@media only screen and (max-width: 1200px) { #header-ads { display: none; } }
#header-ads h3 { display: none; }
#header-ads img { display: block; }

.site-title { display: block; float: none; font-family: 'kilogram', Arial, sans-serif; font-size: 52px; font-weight: 400; letter-spacing: -.5px; line-height: 60px; padding: 5px 0; text-align: center; }
@media only screen and (max-width: 719px) { .site-title { float: none; line-height: 50px; padding: 30px 0; width: 100%; } }
@media only screen and (max-width: 479px) { .site-title { font-size: 32px; } }
.site-title a { color: #000; display: block; max-width: 100%; }
@media only screen and (max-width: 719px) { .site-title a { text-align: center; } }
.site-title a img { border-radius: 0; display: block; height: auto; margin: 0 auto; max-height: 120px; max-width: 100%; padding: 0; }

.site-description { color: #000; color: black; float: none; font-size: 16px; font-style: italic; line-height: 30px; margin-left: 20px; padding: 0; text-align: center; }
@media only screen and (max-width: 719px) { .site-description { display: none; } }

.site-image { display: block; margin: 0 auto; max-height: 250px; max-width: 250px; }

.heading { font-size: 18px; font-weight: 600; margin-bottom: 1em; text-transform: uppercase; }
.heading i { font-size: 22px; margin-right: 6px; }

.thumb-icon { border-radius: 6px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; box-shadow: 0 0 2px rgba(255, 255, 255, 0.4); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: rgba(0, 0, 0, 0.7); color: #fff; text-align: center; display: block; width: 32px; height: 32px; position: absolute; bottom: 20px; left: 20px; }
.thumb-icon.small { border-radius: 4px; bottom: 14px; height: 24px; left: 14px; position: absolute; width: 24px; }
.thumb-icon.small .fa { font-size: 14px; line-height: 16px; padding: 5px 0; }
.thumb-icon.small .f-play { margin: -1px 0 0 2px; }
.thumb-icon i { -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); font-size: 18px; padding: 7px 0; }
.thumb-icon .fa-play { border-radius: 4px; bottom: 14px; height: 24px; left: 14px; position: absolute; width: 24px; }

.pagination { margin-bottom: 15px; }
@media only screen and (max-width: 719px) { .pagination { margin-bottom: 30px; } }
.pagination a { font-size: 18px; font-weight: 600; }

.dropcap { color: #444; display: block; float: left; font-size: 94px; font-weight: 600; line-height: .9em; margin: 0 10px 0 0; }
@media only screen and (max-width: 719px) { .dropcap { font-size: 80px; } }

.pullquote-left { color: #444; border-left: 6px solid #eee; float: left; margin: .78em 1em .78em 0; padding-left: 20px; font-weight: 600; width: 40%; }

.pullquote-right { color: #444; border-left: 6px solid #eee; float: right; margin: .78em 1em .78em 0; padding-right: 20px; font-weight: 600; width: 40%; }

.highlight { color: #222; border-bottom: 1px dotted #222; }

/* Welcome to Compass. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
.ie8 .nav li > a:after { content: "" !important; }
.ie8 .nav > li > a:after { content: "" !important; }
.ie8 .toggle-search:hover { background: url("img/opacity-10.png"); }
.ie8 .toggle-search.active { background: url("img/opacity-10.png"); }
.ie8 .search-expand-inner { background: url("img/opacity-10.png"); }
.ie8 .thumb-icon { background: url("img/ie/opacity-70.png"); }
.ie8 .image-caption { background: url("img/ie/opacity-70.png"); }
.ie8.single .related-posts .post-title { font-weight: 400; }
.ie8 .s1 .alx-posts .post-item-title { font-weight: 400; }
.ie8 #footer .alx-posts .post-item-title { font-weight: 400; }
.ie8 .author-bio .bio-avatar:after { display: none; }
.ie8 .commentlist li.bypostauthor > .comment-body:after { display: none; }
.ie8 #nav-topbar .nav > li > a:hover { background: url("img/opacity-10.png"); }
.ie8 #nav-topbar:hover > a { background: url("img/opacity-10.png"); }
.ie8 #nav-header .nav > li > a:hover { background: url("img/opacity-10.png"); }
.ie8 #nav-header:hover > a { background: url("img/opacity-10.png"); }
.ie8 .page-image-text .description i { background: url("img/ie/opacity-70.png"); }
.ie8 .flex-direction-nav a { background: url("img/ie/opacity-70.png"); }
.ie8 .entry .gallery .gallery-caption { background: url("img/ie/opacity-80-light.png"); }

body.ie8 { font-weight: 400; }

/*# sourceMappingURL=style.css.map */