/*
	Theme Name: Hueman Child
	Theme URI: http://alxmedia.se/themes/hueman/
	Description: Sample child theme for customization.
	Author: You
	Author URI: 
	Template: hueman
	Version: 1.0.0
*/

@import url("../hueman/style.css");

/* ------------------------------------------------------------------------- *
 *  Theme customization starts here
/* ------------------------------------------------------------------------- */

/* Global */

body { font-family: "open_sans", Arial, sans-serif; }

@font-face {
    font-family: 'kilogram';
    src: url('fonts/KiloGram_KG-webfont.eot');
    src: url('fonts/KiloGram_KG-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/KiloGram_KG-webfont.woff') format('woff'),
    url('fonts/KiloGram_KG-webfont.ttf') format('truetype'),
    url('fonts/KiloGram_KG-webfont.svg#kilogramregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
    url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
    url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

#header .pad { padding-top: 10px; padding-bottom: 10px; }

.site-title { display: block; font-family: "kilogram", Arial, sans-serif; font-size: 52px; font-weight: 600; letter-spacing: -0.5px; float: none; line-height: 60px; padding: 5px 0; text-align: center;}
.site-title a { display: block; color: #000000; max-width: 100%; }
.site-title a img { display: block; max-width: 100%; max-height: 120px; height: auto; padding: 0; margin: 0 auto; -webkit-border-radius: 0; border-radius: 0; }
.site-description { display: block; font-size: 16px; font-style: italic; color: #000000; color: rgba(0,0,0,1); float: none; margin-left: 20px; line-height: 30px; padding: 0px 0;
	text-align: center;}
.site-image { display: block; margin: 0 auto; max-height: 250px; max-width: 250px;}

.post-thumbnail { width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.post-thumbnail { position: relative; margin-bottom: 1em; }
.post-thumbnail img { display: block; width: 100%; height: auto; }

.post-standard .post-inner { padding-bottom: 20px; float: left; border-bottom: 1px solid #eee; }
.post-standard .post-thumbnail { max-width: 300px; margin: auto; margin-bottom: 0.5em; }

.sidebar { padding-bottom: 0px; position: relative; z-index: 2; }

.col-3cm .main { background: url(img/sidebar/s-right-s2.png) repeat-y left 0; }
.col-3cm .main-inner { background: url(img/sidebar/s-left.png) repeat-y right 0; padding-right: 340px; padding-left: 50px; }
.col-3cm .s1 { float: right; margin-right: -340px; }
.col-3cm .s2 { float: left; margin-left: -50px; /* ingenuity! */ position: relative; left: -100%; }
.col-3cm .content { float: left; }

.container { padding: 0 10px; }

.alx-tab li:first-child { font-size: 25px; }
.alx-tab li:first-child .tab-item-thumbnail { width: 200px; height: 200px; margin-right: 10px; margin-left: -200px}
.alx-tab li:first-child .tab-item-inner.group { margin-left: 10px}
.alx-tab.thumbs-enabled li { padding-left: 90px; }
.alx-tab.thumbs-enabled li:first-child { padding-left: 200px }
.alx-tab .tab-item-thumbnail { width: 80px; margin-left: -90px; float: left; }

.main-inner { display: flex}
.sidebar .s1 { align-self: stretch}

.col-2cl .main-inner { background: url(img/sidebar/s-right-s1.png) repeat-y right 0; padding-right: 500px; }
.col-2cl .s1 { float: right; margin-right: -500px; }
.col-2cl .content { float: left; }

.s1 { width: 500px ; background-color: #EEEEEE}

.post-standard .post-inner { padding-left: 0px; padding-bottom: 10px; float: left; border-bottom: 1px solid #eee; }
.post-standard .post-thumbnail { margin: auto; max-width: 600px; margin-bottom: 0.5em; float: none; }
.post-standard .post-content { float: left; }

 /*s2 general */
.s2 { width: 50px; }
.s2 .sidebar-content { display: none; float: left; width: 100%; }
.s2 .sidebar-toggle { display: block; height: 60px;}
.s2 .sidebar-toggle i { font-size: 38px; color: #fff; padding: 10px 0; }

 /*s2 expand/collapse */
.s2-expand .s2 { background: #f0f0f0; position: absolute; top: 0; bottom: 0; width: 260px; margin: 0!important; z-index: 9; overflow: auto;
	-moz-transition: width .2s ease; -webkit-transition: width .2s ease; transition: width .2s ease; }
.s2-expand .s2 .sidebar-content { display: block; min-width: 260px; }
.s2-collapse .s2 .sidebar-content { display: none; }

 /*s2 toggle icon */
.col-3cm.s2-expand .s2 .icon-sidebar-toggle:before,
.col-3cr.s2-expand .s2 .icon-sidebar-toggle:before { content: "\f100"; }
.col-3cl.s2-expand .s2 .icon-sidebar-toggle:before { content: "\f101"; }

/* toggle icon */
.col-3cl .s1 .icon-sidebar-toggle:before,
.col-3cm .s2 .icon-sidebar-toggle:before,
.col-3cl .s2 .icon-sidebar-toggle:before { content: "\f101"; }
.col-3cm .s1 .icon-sidebar-toggle:before,
.col-3cr .s1 .icon-sidebar-toggle:before,
.col-3cr .s2 .icon-sidebar-toggle:before { content: "\f100"; }

 /*s2 3 column, content middle */
.col-3cm.s2-expand .s2 { left: 0; }

/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
	.mystyle {}
}


/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
	.mystyle {}
}


/* Mobile - 320px */
@media only screen and (max-width: 479px) {
	.mystyle {}
}